<html lang="en">
	<head>
		<title>Archery Ranges | Thronefall Wiki</title>
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<!-- Bootstrap and other CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

        <link rel="stylesheet" href="./styles/mainMenu.css"> <!-- Main menu styling -->
        <link rel="stylesheet" href="./styles/article.css">  <!-- Styling of wiki content - individual articles -->
        <link rel="stylesheet" href="./styles/global.css">   <!-- Website styling  -->
		<link rel="stylesheet" href="./styles/overrides.css">

        <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>

		<script src="./scripts/toggleMobiMenu.js"></script>
        
		<link rel="shortcut icon" type="image/jpg" href="./pictures/crown.png">
	</head>
    <body>
        <div id="mainPageContainer">
            <div id="mobiNavDiv" hx-get="./parts/mobiNav.html" hx-swap="innerHTML" hx-trigger="load">
                <img src="./pictures/loading edit.gif" id="loadingMobiMenuGif">
                <!-- Veritcal navbar goes here -->
            </div>
            <div id="innerContainer">
                <div id="websiteSideBar" hx-get="./parts/sidebar.html" hx-swap="innerHTML" hx-trigger="load">
                    <!-- Menu and header to be injected by htmx --> 
                </div>
                <div id="pageContentBox">
                    <div class="articleGrid">
                        <div class="articleGridItemWide">
                            <span class="pageTitle"> Archery Ranges </span>
                            <hr class="mainSeparator">
                        </div>
                        <div class="articleGridItem">
                            <span class="pageSubtitle"> General </span>
                            <hr>
                            <p>Archery Ranges are a defensive building in the kingdom of Thronefall. They can be upgraded twice and upon construction 4 units are spawned, that can be revived during the night, if any die.<br></p>
                            <p>The player can choose 1 out of 4 possible unit-types that are spawned by the Archery Range.</p>
                            <p>Archery Ranges can be enhanced with the <a href="./gladiator school.html" target="_blank"> Gladiator School </a> perk. </p>
                            <span class="pageSubtitle"> Characteristics </span>
                            <hr>
                            <section id="Ram-Table">
                                <div class="table-responsive" id="Ram-TableDiv">
                                    <table class="table table-striped table-bordered">
                                        <thead class="table-dark" id="Ram-TableHead">
                                            <tr id="Ram-TableHeadRow">
                                                <th class="align-middle">
                                                    Category
                                                </th>
                                                <th class="align-middle">
                                                    Info
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="align-middle">Name</td>
                                                <td class="align-middle">Archery Range</td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">Building Category</td>
                                                <td class="align-middle">Defensive</td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">Health Points</td>
                                                <td class="align-middle">30 / N/A / N/A</td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">Attack</td>
                                                <td class="align-middle">None</td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">Units spawned</td>
                                                <td class="align-middle">4 / 8 / 12</td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">Building Cost</td>
                                                <td class="align-middle">4 Gold</td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">Upgrade Cost Level 2</td>
                                                <td class="align-middle">8 Gold</td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">Upgrade Cost Level 3</td>
                                                <td class="align-middle">16 Gold</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                            <span class="pageSubtitle"> Units </span>
                            <hr>
                            <section id="Unit-Table">
                                <div class="table-responsive" id="Unit-TableDiv">
                                    <table class="table table-striped table-bordered">
                                        <thead class="table-dark" id="Unit-TableHead">
                                            <tr id="Unit-TableHeadRow">
                                                <th class="align-middle">
                                                    Type
                                                </th>
                                                <th class="align-middle">
                                                    Description
                                                </th>
                                                <th class="align-middle">
                                                    Icon
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="align-middle"> <a href="./longbowmen.html">Longbow Archer</a></td>
                                                <td class="align-middle">Longbows have a very large range, but are quite fragile. Great pick if you manage to keep them at safe distance.</td>
                                                <td class="align-middle">
                                                    <img src="./pictures/leveling icons/Longbowmen_Icon.png" alt="picture of the Unit-Icon" class="levelRewardIcon">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle"> <a href="./crossbowmen_ally.html">Crossbowmen</a></td>
                                                <td class="align-middle">Crossbowmen have a low range, but high damage output. They are armored against ranged attacks. Bonus damage against ranged units. Less effective against flying enemies.</td>
                                                <td class="align-middle">
                                                    <img src="./pictures/leveling icons/Crossbowmen_Icon.png" alt="picture of the Unit-Icon" class="levelRewardIcon">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle"> <a href="./hunters.html">Hunters</a></td>
                                                <td class="align-middle">Hunters are fast and effective against monsters. They have self defense capabilities in melee combat, but are vulnerable against ranged units.</td>
                                                <td class="align-middle">
                                                    <img src="./pictures/leveling icons/Hunters_Icon.png" alt="picture of the Unit-Icon" class="levelRewardIcon">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle"> <a href="./fire archers.html">Fire Archers</a></td>
                                                <td class="align-middle">Fire Archers deal splash damage around their attack target and cause bonus damage against siege engines.</td>
                                                <td class="align-middle">
                                                    <img src="./pictures/leveling icons/Fire Archers_Icon.png" alt="picture of the Unit-Icon" class="levelRewardIcon">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                            <span class="pageSubtitle"> Locations </span>
                            <hr>
                            <p>You can find Archery Ranges on <a href="./nordfels.html"> Nordfels</a>, <a href="./durststein.html"> Durststein </a> and <a href=".frostsee.html"> Frostsee</a>.</p>
                        </div>
                        <div class="articleGridItem">
                            <div class="articleGridPicture">
                                <a href="#" target="_blank">
                                <img src="./pictures/buildings/Archery Range.png" alt="picture of a building" class="articlePicture">
                                <strong>An Archery Range in-game.</strong>
                                </a>
                            </div>
                        </div>
                    </div> <!--articleGrid-->
                </div> <!--pageContentBox-->
            </div> <!--innerContainer-->
                <div id="footerDiv" hx-get="./parts/footer.html" hx-swap="innerHTML" hx-trigger="load">
                    <!-- Footer to be injected by htmx -->
                </div>
        </div> <!--mainPageContainer-->        
    </body>
</html>