<!DOCTYPE html>
<!--
	W H A T   A R E   Y O U   D O I N G   I N   M Y   C O D E ? ! 
	
			⢀⡴⠑⡄⠀⠀⠀⠀⠀⠀⠀⣀⣀⣤⣤⣤⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠸⡇⠀⠿⡀⠀⠀⠀⣀⡴⢿⣿⣿⣿⣿⣿⣿⣿⣷⣦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠑⢄⣠⠾⠁⣀⣄⡈⠙⣿⣿⣿⣿⣿⣿⣿⣿⣆⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⢀⡀⠁⠀⠀⠈⠙⠛⠂⠈⣿⣿⣿⣿⣿⠿⡿⢿⣆⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⢀⡾⣁⣀⠀⠴⠂⠙⣗⡀⠀⢻⣿⣿⠭⢤⣴⣦⣤⣹⠀⠀⠀⢀⢴⣶⣆ 
			⠀⠀⢀⣾⣿⣿⣿⣷⣮⣽⣾⣿⣥⣴⣿⣿⡿⢂⠔⢚⡿⢿⣿⣦⣴⣾⠁⠸⣼⡿ 
			⠀⢀⡞⠁⠙⠻⠿⠟⠉⠀⠛⢹⣿⣿⣿⣿⣿⣌⢤⣼⣿⣾⣿⡟⠉⠀⠀⠀⠀⠀ 
			⠀⣾⣷⣶⠇⠀⠀⣤⣄⣀⡀⠈⠻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠉⠈⠉⠀⠀⢦⡈⢻⣿⣿⣿⣶⣶⣶⣶⣤⣽⡹⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠉⠲⣽⡻⢿⣿⣿⣿⣿⣿⣿⣷⣜⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿⣷⣶⣮⣭⣽⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⣀⣀⣈⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠇⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠃⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠛⠻⠿⠿⠿⠿⠛⠉
			
		Created by GhostMiner, June-August 2023.
		> Ghost-Miner.Github.io,
		> YouTube.com/GhostMinerMC
-->
<html lang="en">
	<head>
		<title>Buildings | Thronefall Wiki</title>
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<!-- Bootstrap and other CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

        <link rel="stylesheet" href="./styles/mainMenu.css"> <!-- Main menu styling -->
        <link rel="stylesheet" href="./styles/article.css">  <!-- Styling of wiki content - individual articles -->
        <link rel="stylesheet" href="./styles/global.css">   <!-- Website styling  -->
		<link rel="stylesheet" href="./styles/overrides.css">

        <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>

		<script src="./scripts/toggleMobiMenu.js"></script>

		<link rel="shortcut icon" type="image/jpg" href="./pictures/crown.png">
	</head>
    <body>
		<style>
			.pagesListGridWrapper
			{
				grid-template-columns: repeat(6, 1fr);
				max-width: 1100px;
			}
		</style>
        
		<div id="mainPageContainer">
			<div id="mobiNavDiv" hx-get="./parts/mobiNav.html" hx-swap="innerHTML" hx-trigger="load">
				<img src="./pictures/loading edit.gif" id="loadingMobiMenuGif">
				<!-- Veritcal navbar goes here -->
			</div>
            <div id="innerContainer">
                <div id="websiteSideBar" hx-get="./parts/sidebar.html" hx-swap="innerHTML" hx-trigger="load">
                    <!-- Menu and header to be injected by htmx --> 
                </div>
                <div id="pageContentBox">
                    <span class="pageTitle"> Buildings </span>
                    <hr class="mainSeparator">
					<div class="pagesListGridWrapper">
						<div class="pagesListItem">
							<a href="./castle center.html"> 
							<img src="./pictures/buildings/Castle Center.png"  alt="picture of the Castle Center" class="listIcon"> <br>
							Castle Center 
							</a>
						</div>
						<div class="pagesListItem">
							<a href="./houses.html">
							<img src="./pictures/buildings/House.png"  alt="picture of the House" class="listIcon"> <br>
							Houses 
							</a>
						</div>
						<div class="pagesListItem">
							<a href="./towers.html"> 
							<img src="./pictures/buildings/tower.png"  alt="picture of the Tower" class="listIcon"> <br>
							Towers
							</a>
						</div>
						<div class="pagesListItem">
							<a href="./mills.html">
							<img src="./pictures/buildings/Mill.png"  alt="picture of the Mill" class="listIcon"> <br>
							Mills
							</a>
						</div>
						<div class="pagesListItem">
							<a href="./fields.html"> 
							<img src="./pictures/buildings/Farmland.png"  alt="picture of the Farmland" class="listIcon"> <br>
							Fields </a>
						</div>
						<div class="pagesListItem">
							<a href="./barracks.html"> 
							<img src="./pictures/buildings/Barracks.png"  alt="picture of the Barracks" class="listIcon"> <br>
							Barracks
							</a>
						</div>
						<div class="pagesListItem">
							<a href="./archery ranges.html">
							<img src="./pictures/buildings/Archery Range.png"  alt="picture of the Archery Range" class="listIcon"> <br>
							Archery Ranges 
							</a>
						</div>
						<div class="pagesListItem">
							<a href="./walls.html">
							<img src="./pictures/buildings/Wall.png"  alt="picture of the Wall" class="listIcon"> <br>
							Walls
							</a>
						</div>
						<div class="pagesListItem">
							<a href="./gold mines.html">
							<img src="./pictures/buildings/Gold Mine.png"  alt="picture of the Gold Mine" class="listIcon"> <br>
							Gold Mines
							</a>
						</div>
						<div class="pagesListItem">
							<a href="./barricades.html">
							<img src="./pictures/buildings/Barricade.png"  alt="picture of the Barricade" class="listIcon"> <br>
							Barricades
							</a>
						</div>
						<div class="pagesListItem">
							<a href="./blacksmiths.html"> 
							<img src="./pictures/buildings/Blacksmith.png"  alt="picture of the Blacksmith" class="listIcon"> <br>
							Blacksmiths 
							</a>
						</div>
						<div class="pagesListItem">
							<a href="./fishing harbours.html"> 
							<img src="./pictures/buildings/Harbour.png"  alt="picture of the Harbour" class="listIcon"> <br>
							Fishing Harbours 
							</a>
						</div>
					</div>					
                </div> <!-- pageContentBox -->
            </div> <!-- innerContainer -->
            
            <div id="footerDiv" hx-get="./parts/footer.html" hx-swap="innerHTML" hx-trigger="load">
                <!-- Footer to be injected by htmx -->
            </div>
        </div>
    </body>
</html>