<!DOCTYPE html>
<!--
	W H A T   A R E   Y O U   D O I N G   I N   M Y   C O D E ? ! 
	
			⢀⡴⠑⡄⠀⠀⠀⠀⠀⠀⠀⣀⣀⣤⣤⣤⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠸⡇⠀⠿⡀⠀⠀⠀⣀⡴⢿⣿⣿⣿⣿⣿⣿⣿⣷⣦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠑⢄⣠⠾⠁⣀⣄⡈⠙⣿⣿⣿⣿⣿⣿⣿⣿⣆⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⢀⡀⠁⠀⠀⠈⠙⠛⠂⠈⣿⣿⣿⣿⣿⠿⡿⢿⣆⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⢀⡾⣁⣀⠀⠴⠂⠙⣗⡀⠀⢻⣿⣿⠭⢤⣴⣦⣤⣹⠀⠀⠀⢀⢴⣶⣆ 
			⠀⠀⢀⣾⣿⣿⣿⣷⣮⣽⣾⣿⣥⣴⣿⣿⡿⢂⠔⢚⡿⢿⣿⣦⣴⣾⠁⠸⣼⡿ 
			⠀⢀⡞⠁⠙⠻⠿⠟⠉⠀⠛⢹⣿⣿⣿⣿⣿⣌⢤⣼⣿⣾⣿⡟⠉⠀⠀⠀⠀⠀ 
			⠀⣾⣷⣶⠇⠀⠀⣤⣄⣀⡀⠈⠻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠉⠈⠉⠀⠀⢦⡈⢻⣿⣿⣿⣶⣶⣶⣶⣤⣽⡹⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠉⠲⣽⡻⢿⣿⣿⣿⣿⣿⣿⣷⣜⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿⣷⣶⣮⣭⣽⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⣀⣀⣈⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠇⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠃⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠛⠻⠿⠿⠿⠿⠛⠉
			
		Created by GhostMiner, June-August 2023.
		> Ghost-Miner.Github.io,
		> YouTube.com/GhostMinerMC
-->
<html lang="en">
	<head>
		<title>Enemies | Thronefall Wiki</title>
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<!-- Bootstrap and other CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

        <link rel="stylesheet" href="./styles/mainMenu.css"> <!-- Main menu styling -->
        <link rel="stylesheet" href="./styles/article.css">  <!-- Styling of wiki content - individual articles -->
        <link rel="stylesheet" href="./styles/global.css">   <!-- Website styling  -->
		<link rel="stylesheet" href="./styles/overrides.css">

        <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>

		<script src="./scripts/toggleMobiMenu.js"></script>

		<link rel="shortcut icon" type="image/jpg" href="./pictures/crown.png">
	</head>
    <body>
		<style>
			.listIcon
			{
				width: 32px;
				height: auto;
			}
			.pageListLink
			{
				list-style: none;
			}
		</style>
        
		<div id="mainPageContainer">
			<div id="mobiNavDiv" hx-get="./parts/mobiNav.html" hx-swap="innerHTML" hx-trigger="load">
				<img src="./pictures/loading edit.gif" id="loadingMobiMenuGif">
				<!-- Veritcal//hone navbar goes here -->
			</div>
            <div id="innerContainer">
                <div id="websiteSideBar" hx-get="./parts/sidebar.html" hx-swap="innerHTML" hx-trigger="load">
                    <!-- Menu and header to be isnerted with javascript --> 
                </div>
                <div id="pageContentBox">
                    <span class="pageTitle"> Enemies </span>
                    <hr class="mainSeparator">

                    <ul  class="pageListLink">
						<li>
							<img src="./pictures/enemies/Archer.png" class="listIcon">
							<a href="./Archer.html"> Archer </a>
						</li>
						<li>
							<img src="./pictures/enemies/Big Walrus.png" class="listIcon">
							<a href="./Big Walrus.html"> Big Walrus </a>
						</li>
						<li>
							<img src="./pictures/enemies/Bomber.png" class="listIcon">
							<a href="./Bomber.html"> Bomber </a>
						</li>
						<li>
							<img src="./pictures/enemies/Catapult.png" class="listIcon">
							<a href="./Catapults.html"> Catapult </a>
						</li>
						<li>
							<img src="./pictures/enemies/Crossbowmen.png" class="listIcon">
							<a href="./Crossbowmen.html"> Crossbowmen </a>
						</li>
						<li>
							<img src="./pictures/enemies/Flyer.png" class="listIcon">
							<a href="./Flyer.html"> Flyer </a>
						</li>
						<li>
							<img src="./pictures/enemies/Giant.png" class="listIcon">
							<a href="./Giant.html"> Giant </a>
						</li>
						<li>
							<img src="./pictures/enemies/Hunterling.png" class="listIcon">
							<a href="./Hunterling.html"> Hunterling </a>
						</li>
						<li>
							<img src="./pictures/enemies/Medium Blob.png" class="listIcon">
							<a href="./Medium Blob.html"> Medium Blob </a>
						</li>
						<li>
							<img src="./pictures/enemies/Men-at-Arms.png" class="listIcon">
							<a href="./Men-at-Arms.html"> Men-at-Arms </a>
						</li>
						<li>
							<img src="./pictures/enemies/Monster Rider.png" class="listIcon">
							<a href="./Monster Rider.html"> Monster Rider </a>
						</li>
						<li>
							<img src="./pictures/enemies/Ram.png" class="listIcon">
							<a href="./Ram.html"> Ram </a>
						</li>
						<li>
							<img src="./pictures/enemies/Rusher.png" class="listIcon">
							<a href="./Rusher.html"> Rusher </a>
						</li>
						<li>
							<img src="./pictures/enemies/Small Blob.png" class="listIcon">
							<a href="./Small Blob.html"> Small Blob </a>
						</li>
						<li>
							<img src="./pictures/enemies/Squire.png" class="listIcon">
							<a href="./Squire.html"> Squire </a>
						</li>
					</ul>
                </div> <!-- pageContentBox -->
            </div> <!-- innerContainer -->
            
            <div id="footerDiv" hx-get="./parts/footer.html" hx-swap="innerHTML" hx-trigger="load">
                    <!-- Footer to be isnerted with javascript -->
                </section>
            </div>
        </div>
    </body>
</html>