<html lang="en">
	<head>
		<title>Flails | Thronefall Wiki</title>
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<!-- Bootstrap and other CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

        <link rel="stylesheet" href="./styles/mainMenu.css"> <!-- Main menu styling -->
        <link rel="stylesheet" href="./styles/article.css">  <!-- Styling of wiki content - individual articles -->
        <link rel="stylesheet" href="./styles/global.css">   <!-- Website styling  -->
		<link rel="stylesheet" href="./styles/overrides.css">

        <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>

		<script src="./scripts/toggleMobiMenu.js"></script>
        
		<link rel="shortcut icon" type="image/jpg" href="./pictures/crown.png">
    </head>
    <body>
        <div id="mainPageContainer">
            <div id="mobiNavDiv" hx-get="./parts/mobiNav.html" hx-swap="innerHTML" hx-trigger="load">
                <img src="./pictures/loading edit.gif" id="loadingMobiMenuGif">
                <!-- Veritcal navbar goes here -->
            </div>
            <div id="innerContainer">
                <div id="websiteSideBar" hx-get="./parts/sidebar.html" hx-swap="innerHTML" hx-trigger="load">
                    <!-- Menu and header to be injected by htmx --> 
                </div>
                <div id="pageContentBox">
                    <div class="articleGrid">
                        <div class="articleGridItemWide">
                            <span class="pageTitle"> Flails </span>
                            <hr class="mainSeparator">
                        </div>
                        <div class="articleGridItem">
                            <span class="pageSubtitle"> General </span>
                            <hr>
                            <p>Flails are a melee unit in Thronefall. They are unlocked upon reaching level 6 and can be recruited everywhere in the kingdom of Thronefall.<br></p>
                            <p>Flails are the only melee unit, that can damage multiple enemies at once.</p>
                            <span class="pageSubtitle"> Description </span>
                            <hr>
                            <p>Flails can simultaniously attack all enemies in a circle around them.</p>
                            <span class="pageSubtitle"> Characteristics </span>
                            <hr>
                            <section id="Flails-Table">
                                <div class="table-responsive" id="Flails-TableDiv">
                                    <table class="table table-striped table-bordered">
                                        <thead class="table-dark" id="Flails-TableHead">
                                            <tr id="Flails-TableHeadRow">
                                                <th class="align-middle">
                                                    Category
                                                </th>
                                                <th class="align-middle">
                                                    Info
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="align-middle">Name</td>
                                                <td class="align-middle">Flail</td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">Icon</td>
                                                <td class="align-middle">
                                                    <img src="./pictures/leveling icons/Flails_Icon.png" alt="picture of the Unit" class="enemyIcon">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">Unit Category</td>
                                                <td class="align-middle">Melee</td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">Attack</td>
                                                <td class="align-middle">Melee</td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">Preferred Target</td>
                                                <td class="align-middle">None</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                            <span class="pageSubtitle"> Encounters </span>
                            <hr>
                            <p>You can recruit Flails in <a href="./neuland.html">Neuland</a>, <a href="./nordfels.html">Nordfels</a>, <a href="durststein.html">Durststein</a> and <a href="./frostsee.html">Frostsee</a>.</p>
                        </div>
                        <div id="rightGridColumn" class="articleGridItem">
                            <div class="articleGridPicture">
                                <a href="./pictures/units/Flail.png" target="_blank">
                                <img src="./pictures/units/Flail.png" alt="picture of the unit" class="articlePicture">
                                </a>
                                <strong>A Flail in-game.</strong>
                            </div>
                        </div>
                    </div><!--articleGrid-->
                </div><!--pageContentBox-->
            </div><!--innerContainer-->
            <div id="footerDiv" hx-get="./parts/footer.html" hx-swap="innerHTML" hx-trigger="load">
                <!-- Footer to be injected by htmx -->
            </div>
        </div> <!--mainPageContainer-->
    </body>    
</html>