<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Flyer | Thronefall Wiki</title>
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<!-- Bootstrap and other CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

        <link rel="stylesheet" href="./styles/mainMenu.css"> <!-- Main menu styling -->
        <link rel="stylesheet" href="./styles/article.css">  <!-- Styling of wiki content - individual articles -->
        <link rel="stylesheet" href="./styles/global.css">   <!-- Website styling  -->
		<link rel="stylesheet" href="./styles/overrides.css">

        <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>

		<script src="./scripts/toggleMobiMenu.js"></script>
        
		<link rel="shortcut icon" type="image/jpg" href="./pictures/crown.png">
	</head>
    <body>
        <div id="mainPageContainer">
            <div id="mobiNavDiv" hx-get="./parts/mobiNav.html" hx-swap="innerHTML" hx-trigger="load">
                <img src="./pictures/loading edit.gif" id="loadingMobiMenuGif">
                <!-- Veritcal navbar goes here -->
            </div>
            <div id="innerContainer">
                <div id="websiteSideBar" hx-get="./parts/sidebar.html" hx-swap="innerHTML" hx-trigger="load">
                    <!-- Menu and header to be injected by htmx --> 
                </div>
                <div id="pageContentBox">
                <div class="articleGrid">
                    <div class="articleGridItemWide">
                        <span class="pageTitle"> Flyer </span>
                        <hr class="mainSeparator">
                    </div>
                    <div class="articleGridItem">
                        <span class="pageSubtitle"> General </span>
                        <hr>
                        <p>Flyers are a basic flying enemy in Thronefall. While not introduced in the tutorial, they can be encountered almost everywhere in the kingdom of Thronefall.<br></p>
                        <span class="pageSubtitle"> Characteristics </span>
                        <hr>
                        <section id="Flyer-Table">
                            <div class="table-responsive" id="Flyer-TableDiv">
                                <table class="table table-striped table-bordered">
                                    <thead class="table-dark" id="Flyer-TableHead">
                                        <tr id="Flyer-TableHeadRow">
                                            <th class="align-middle">
                                                Category
                                            </th>
                                            <th class="align-middle">
                                                Info
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="align-middle">Name</td>
                                            <td class="align-middle">Flyer</td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle">Icon</td>
                                            <td class="align-middle">
                                                <img src="./pictures/enemies/Flyer_Icon.png" alt="picture of the reward" class="enemyIcon">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle">Unit Category</td>
                                            <td class="align-middle">Monster, Flying</td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle">Attack</td>
                                            <td class="align-middle">Ranged</td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle">Preferred Target</td>
                                            <td class="align-middle">Economnic Buildings</td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle">Targets Player</td>
                                            <td class="align-middle">When hit</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                        <span class="pageSubtitle"> Encounters </span>
                        <hr>
                        <p>You can encounter Flyers in <a href="./nordfels.html">Nordfels</a> and <a href="./frostsee.html">Frostsee</a>.</p>
                    </div>
                    <div id="rightGridColumn" class="articleGridItem">
                        <div class="articleGridPicture">
                            <a href="./pictures/enemies/Flyer.png" target="_blank">
                            <img src="./pictures/enemies/Flyer.png" alt="picture of an enemy" class="articlePicture">
                            <strong>A Flyer in-game.</strong>
                            </a>
                        </div>
                    </div>
                </div> <!--articleGrid-->
                </div>
            </div><!--innerContainer-->
            <div id="footerDiv" hx-get="./parts/footer.html" hx-swap="innerHTML" hx-trigger="load">
                <!-- Footer to be injected by htmx -->
                </section>
            </div>
        </div> <!--mainPageContainer-->
    </body>    
</html>
