<!DOCTYPE html>
<!--W H A T   A R E   Y O U   D O I N G   I N   M Y   C O D E ? ! 
	
			⢀⡴⠑⡄⠀⠀⠀⠀⠀⠀⠀⣀⣀⣤⣤⣤⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠸⡇⠀⠿⡀⠀⠀⠀⣀⡴⢿⣿⣿⣿⣿⣿⣿⣿⣷⣦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠑⢄⣠⠾⠁⣀⣄⡈⠙⣿⣿⣿⣿⣿⣿⣿⣿⣆⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⢀⡀⠁⠀⠀⠈⠙⠛⠂⠈⣿⣿⣿⣿⣿⠿⡿⢿⣆⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⢀⡾⣁⣀⠀⠴⠂⠙⣗⡀⠀⢻⣿⣿⠭⢤⣴⣦⣤⣹⠀⠀⠀⢀⢴⣶⣆ 
			⠀⠀⢀⣾⣿⣿⣿⣷⣮⣽⣾⣿⣥⣴⣿⣿⡿⢂⠔⢚⡿⢿⣿⣦⣴⣾⠁⠸⣼⡿ 
			⠀⢀⡞⠁⠙⠻⠿⠟⠉⠀⠛⢹⣿⣿⣿⣿⣿⣌⢤⣼⣿⣾⣿⡟⠉⠀⠀⠀⠀⠀ 
			⠀⣾⣷⣶⠇⠀⠀⣤⣄⣀⡀⠈⠻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠉⠈⠉⠀⠀⢦⡈⢻⣿⣿⣿⣶⣶⣶⣶⣤⣽⡹⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠉⠲⣽⡻⢿⣿⣿⣿⣿⣿⣿⣷⣜⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿⣷⣶⣮⣭⣽⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⣀⣀⣈⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠇⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠃⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠛⠻⠿⠿⠿⠿⠛⠉-->
<html lang="en">
    <head>
		<!-- PAGE TITLE -->
		<title> Thronefall wiki | HOME </title>
		<!-- PAGE INFORMATION -->
		<meta name="description" content="The (un)official wiki for Thronefall maintained by the community. If you're looking for something you should find it here.">
		<meta name="keywords"    content="Thronefall, throne fall, leaderBoard, grizzly games, speedrun, wiki, fandom">
		<meta name='author'      content="GhostMiner, ItsMeRaven"> 
		<meta name='robots'      content="index,follow">
		<meta name="language"    content="en">
		<!-- Tab icon-->
		<link rel="shortcut icon" type="image/webp" href="/assets/images/game_logo_small.webp">
		<!-- Tag for responsive layout to work correctly-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Chatracter set-->
		<meta charset="utf-8">		
		<!-- BOOTSTRAP 5 -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
		<!-- HTMX -->
		<script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>
		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery-3.7.1.min.js" crossorigin="anonymous"></script>
		<!-- Various features -->
		<script src="/assets/scripts/pageOptions.js"></script>		
		<!-- Additional styles here  -->
		<link rel="stylesheet" href="/assets/styles/pages/homepage.css">
		<link rel="stylesheet" href="/assets/styles/pages/updates.css">
    	<!-- Dark mode -->
		<script src="/assets/scripts/darkmode.js"></script>
		<!-- Cookies -->
		<script src="/assets/scripts/cookies.js"></script>
		<script src="/assets/scripts/uaParser.js"></script>
	</head>

	<body>
		<span class="pageTitle"> Welcome to the Thronefall wiki! </span> <!-- the actual title-->
		<h1 class="pageTitle" style="display: none;"> Home - The Thronefall Wiki </h1> <!-- title for web crawlers -->
		<hr class="pageTitleUnderline">

		<div id="homeUndertitleTextContainer">
			<div id="homeUndertitleTextItem">
				<p><strong>This is the official community wiki for  <a href="https://store.steampowered.com/app/2239150/Thronefall/">Thronefall</a> made by GrizzlyGames.</strong> <br>
					Use the links below or the left sidebar to explore the wiki or to look for a specific page. <br>
					Is anything missing or out of date? Feel free to inform us about it on the <a href="https://discord.gg/gVYctptyg8">Thronefall Discord server</a> or the <a href="http://discord.gg/pfRJjfz6SU">wiki's Discord server</a>!
				</p>
			</div>
			<div id="homeUndertitleTextItem">
				<span id="helpWantedTitle"> Help wanted!</span>
				<p>We're looking for more editors to help with writing and updating articles on the wiki. <em><a href="/misc/how-to-contribute.html">How to contribute to the wiki.</a></em>
				</p>
			</div>
		</div>
		
		<!-- 
			THE GRID 
		-->
		<div id="homeGridContainer">
			<!-- 
				LEFT BOXES 
			-->
			<div class="homegridLeftCol">
				
				<!-- "The game" box -->
				<div class="homeContainer">
					<h2>The game</h2>
					<hr class="homeContainerTitleUnderline">
					<p>Saddle the horses! See your kingdom come to life, fight gripping battles to defend it and still be done in time for lunch. 
						<br> With Thronefall we tried to strip a classic strategy game from all unnecessary complexity, combining it with some healthy hack and slay. Build up your base during the day, defend it till your last breath at night. 
					</p>
					<div class="grid7columnsContainer" id="theGameDivLinks">
						<div class="gridColItem">
							<a href="/leaderboard/" target="_blank">LeaderBoards</a>
						</div>
						<div class="gridColItem">
							<a href="/about/overview.html">Overview</a>
						</div>
						<div class="gridColItem">
							<a href="/misc/search.html">Search wiki</a>
						</div>
						<div class="gridColItem">
							<a href="/about/score.html">Score</a>
						</div>
						<!-- <div class="gridColItem">
							<a href="/misc/how-to-contribute.html">Contribution guide</a>
						</div> -->
						<div class="gridColItem">
							<a href="/game-content/eternal-trials.html">Eternal trials</a>
						</div>
						<div class="gridColItem">
							<a href="/about/leveling.html">Leveling system</a>
						</div>
						<div class="gridColItem">
							<a href="/about/king.html">The king</a>
						</div>
					</div>
				</div>

				<!-- Weapons, perks & mutators box -->
				<div class="grid4columnsContainer homeContainer" id="weaponsPerksMutsUpgradesDiv">
					<div class="grid4ColumnsItem">
						<h2>Weapons</h2>
						<hr class="homeContainerTitleUnderline">
						<div class="iconandTitleColumns">
							<div class="iconAndTitleItem">
								<img src="/assets/images/icons/weapons/bow_and_dagger.webp" class="homeIconSmall" alt="">
							</div>
							<div class="iconAndTitleItem">
								<a href="/game-content/weapons/bow.html">Bow and dagger</a> 
							</div>
							<div class="iconAndTitleItem">
								<img src="/assets/images/icons/weapons/light_spear.webp" class="homeIconSmall" alt="">
							</div>
							<div class="iconAndTitleItem">
								<a href="/game-content/weapons/spear.html">Spear</a> 
							</div>
							<div class="iconAndTitleItem">
								<img src="/assets/images/icons/weapons/heavy_sword.webp" class="homeIconSmall" alt="">
							</div>
							<div class="iconAndTitleItem">
								<a href="/game-content/weapons/sword.html">Sword</a> 
							</div>
							<div class="iconAndTitleItem">
								<img src="/assets/images/icons/weapons/light_spear.webp" class="homeIconSmall" alt="">
							</div>
							<div class="iconAndTitleItem">
								<a href="/game-content/weapons/lightning-staff.html">Lighting staff</a> 
							</div>
							<div class="iconAndTitleItem">
								<!-- <img src="/assets/images/icons/weapons/shadow_codex.webp" class="homeIconSmall" alt=""> -->
							</div>
							<div class="iconAndTitleItem">
								<a href="/game-content/weapons/">View all weapons</a>
							</div>
						</div><!-- iconandTitleColumns -->
					</div> <!-- grid4ColumnsItem -->

					<div class="grid4ColumnsItem">
						<h2>Perks</h2>
						<hr class="homeContainerTitleUnderline">
						<div class="iconandTitleColumns">
							<div class="iconAndTitleItem">
								<img src="/assets/images/icons/perks/royal_mint.webp" class="homeIconSmall" alt="">
							</div>
							<div class="iconAndTitleItem">
								<a href="/game-content/perks/royal-mint.html">Royal mint</a>
							</div>
							<div class="iconAndTitleItem">
								<img src="/assets/images/icons/perks/arcane_towers.webp" class="homeIconSmall" alt="">
							</div>
							<div class="iconAndTitleItem">
								<a href="/game-content/perks/arcane-towers.html">Arcane towers</a>
							</div>
							<div class="iconAndTitleItem">
								<img src="/assets/images/icons/perks/castle_fortifications.webp" class="homeIconSmall" alt="">
							</div>
							<div class="iconAndTitleItem">
								<a href="/game-content/perks/castle-fortifications.html">Castle fortifications</a>
							</div>
							<div class="iconAndTitleItem">
								<img src="/assets/images/icons/perks/architects_council.webp" class="homeIconSmall" alt="">
							</div>
							<div class="iconAndTitleItem">
								<a href="/game-content/perks/architects-council.html">Architect's council</a>
							</div>
							<div class="iconAndTitleItem">
								<!-- <img src="/assets/images/" class="homeIconSmall" alt=""> -->
							</div>
							<div class="iconAndTitleItem">
								<a href="/game-content/perks/">View all perks</a>
							</div>
						</div><!-- iconandTitleColumns -->
					</div> <!-- grid4ColumnsItem -->

					<div class="grid4ColumnsItem">
						<h2>Mutators</h2>
						<hr class="homeContainerTitleUnderline">
						<div class="iconandTitleColumns">
							<div class="iconAndTitleItem">
								<img src="/assets/images/icons/mutators/turtle_god.webp" class="homeIconSmall" alt="">
							</div>
							<div class="iconAndTitleItem">
								<a href="/game-content/mutators/turtle-god.html">Turtle god</a>
							</div>
							<div class="iconAndTitleItem">
								<img src="/assets/images/icons/mutators/tiger_god.webp" class="homeIconSmall" alt="">
							</div>
							<div class="iconAndTitleItem">
								<a href="/game-content/mutators/tiger-god.html">Tiger god</a>
							</div>
							<div class="iconAndTitleItem">
								<img src="/assets/images/icons/mutators/god_of_death.webp" class="homeIconSmall" alt="">
							</div>
							<div class="iconAndTitleItem">
								<a href="/game-content/mutators/death-god.html">God of death</a>
							</div>
							<div class="iconAndTitleItem">
								<img src="/assets/images/icons/mutators/god_of_destruction.webp" class="homeIconSmall" alt="">
							</div>
							<div class="iconAndTitleItem">
								<a href="/game-content/mutators/destruction-god.html">God of destruction</a>
							</div>
							<div class="iconAndTitleItem">
								<!-- <img src="/assets/images/icons/mutators/" class="homeIconSmall" alt=""> -->
							</div>
							<div class="iconAndTitleItem">
								<a href="/game-content/mutators/">View all mutators</a>
							</div>
						</div><!-- iconandTitleColumns -->
					</div> <!-- grid4ColumnsItem -->
					
					<div class="grid4ColumnsItem">
						<h2>Upgrades</h2>
						<hr class="homeContainerTitleUnderline">
						<div class="iconandTitleColumns">
							<div class="iconAndTitleItem">
								<img src="/assets/images/icons/upgrades/scarecrows.webp" class="homeIconSmall" alt="">
							</div>
							<div class="iconAndTitleItem">
								<a href="/game-content/upgrades/scarecrows.html">Scarecrows</a>
							</div>
							<div class="iconAndTitleItem">
								<img src="/assets/images/icons/upgrades/builders_guild.webp" class="homeIconSmall" alt="">
							</div>
							<div class="iconAndTitleItem">
								<a href="/game-content/upgrades/builders-guild.html">Builder's guild</a>
							</div>
							<div class="iconAndTitleItem">
								<img src="/assets/images/icons/upgrades/improved_plow.webp" class="homeIconSmall" alt="">
							</div>
							<div class="iconAndTitleItem">
								<a href="/game-content/upgrades/improved-plow.html">Improved plow</a>
							</div>
							<div class="iconAndTitleItem">
								<img src="/assets/images/icons/upgrades/commander.webp" class="homeIconSmall" alt="">
							</div>
							<div class="iconAndTitleItem">
								<a href="/game-content/upgrades/commander.html">Commander</a>
							</div>
							<div class="iconAndTitleItem">
								<!-- <img src="/assets/images/icons/upgrades/" class="homeIconSmall" alt=""> -->
							</div>
							<div class="iconAndTitleItem">
								<a href="/game-content/upgrades/">View all upgrades</a>
							</div>
						</div><!-- iconandTitleColumns -->
					</div> <!-- grid4ColumnsItem -->
				</div><!-- grid4columnsContainer -->

				<!-- Levels box -->
				<div id="homeMapsList" class="homeContainer">
					<h2>Levels</h2>
					<hr class="homeContainerTitleUnderline">
					<div class="grid5columnsContainer" id="homeMapsDiv">
						<div class="grid5ColumnsItem">
							<a href="/game-content/maps/nordfels.html">
							<img src="/assets/images/maps/nordfels/day/nordfels_day_5.jpg" alt="" class="homeMapsImg">
							<br>Nordfels
							</a>
						</div>
						<div class="grid4ColumnsItem">
							<a href="/game-content/maps/durststein.html">
							<img src="/assets/images/maps/durststein/day/durststein_day_4.jpg" alt="" class="homeMapsImg">
							<br>Durststein
							</a>
						</div>
						<div class="grid4ColumnsItem">
							<a href="/game-content/maps/frostsee.html">
							<img src="/assets/images/maps/frostsee/day/frostsee_day_5.jpg" alt="" class="homeMapsImg">
							<br>Frostsee
							</a>
						</div>
						<div class="grid4ColumnsItem">
							<a href="/game-content/maps/uferwind.html">
							<img src="/assets/images/maps/uferwind/day/uferwind_day_4.jpg" alt="" class="homeMapsImg">
							<br>Uferwind
							</a>
						</div>
						<div class="grid4ColumnsItem">
							<a href="/game-content/maps/">
							<img src="/assets/images/maps/overworld.jpg" alt="" class="homeMapsImg">
							<br> View all levels
							</a>
						</div>
					</div> <!-- grid5columnsContainer -->
				</div> <!-- homeMapsList -->

				<!-- Buildings, units & enemies box -->
				<div class="homeContainer grid3columnsContainer" id="buildingsUnitsEnemiesDiv">
					<div class="gridColItem">
						<h2>Buildings</h2>
						<hr class="homeContainerTitleUnderline">
						<div class="iconandTitleColumnsLarge">
							<div class="iconAndTitleItem">
								<img src="/assets/images/buildings/castle_center.webp" class="homeIconLarge" alt="">
							</div>
							<div class="iconAndTitleItem">
								<a href="/game-content/buildings/castle-center.html">Castle tower</a>
							</div>
							<div class="iconAndTitleItem">
								<img src="/assets/images/buildings/house.webp" class="homeIconLarge" alt="">
							</div>
							<div class="iconAndTitleItem">
								<a href="/game-content/buildings/house.html">House</a>
							</div>
							<div class="iconAndTitleItem">
								<img src="/assets/images/buildings/barracks.webp" class="homeIconLarge" alt="">
							</div>
							<div class="iconAndTitleItem">
								<a href="/game-content/buildings/barracks.html">Barracks</a>
							</div>
							<div class="iconAndTitleItem">
								<img src="/assets/images/buildings/mill.webp" class="homeIconLarge" alt="">
							</div>
							<div class="iconAndTitleItem">
								<a href="/game-content/buildings/mill.html">Mills</a>
							</div>
							<div class="iconAndTitleItem">
								<img src="/assets/images/buildings/" class="homeIconLarge" alt="">
							</div>
							<div class="iconAndTitleItem viewAllLinkWithPadding">
								<a href="/game-content/buildings/">View all buildings</a>
							</div>
						</div>
					</div> <!-- gridColItem -->
					<div class="gridColItem">
						<h2>Units</h2>
						<hr class="homeContainerTitleUnderline">
						<div class="iconandTitleColumnsLarge">
							<div class="iconAndTitleItem">
								<img src="/assets/images/units/knight.webp" class="homeIconLarge" alt="">
							</div>
							<div class="iconAndTitleItem">
								<a href="/game-content/units/knights.html">Knights</a>
							</div>
							<div class="iconAndTitleItem">
								<img src="/assets/images/units/flail.webp" class="homeIconLarge" alt="">
							</div>
							<div class="iconAndTitleItem">
								<a href="/game-content/units/flails.html">Flails</a>
							</div>
							<div class="iconAndTitleItem">
								<img src="/assets/images/units/spearman.webp" class="homeIconLarge" alt="">
							</div>
							<div class="iconAndTitleItem">
								<a href="/game-content/units/spearmen.html">Spearmen</a>
							</div>
							<div class="iconAndTitleItem">
								<img src="/assets/images/units/firewing.webp" class="homeIconLarge" alt="">
							</div>
							<div class="iconAndTitleItem">
								<a href="/game-content/units/firewing.html">Firewing</a>
							</div>
							<div class="iconAndTitleItem">
								<img src="/assets/images/units/" class="homeIconLarge" alt="">
							</div>
							<div class="iconAndTitleItem viewAllLinkWithPadding" style="padding-top: 10px; padding-bottom: 0px;">
								<a href="/game-content/units/">View all units</a>
							</div>
						</div>
					</div> <!-- gridColItem -->
					<div class="gridColItem">
						<h2>Enemies</h2>
						<hr class="homeContainerTitleUnderline">
						<div class="iconandTitleColumnsLarge">
							<div class="iconAndTitleItem">
								<img src="/assets/images/enemies/catapult.webp" class="homeIconLarge" alt="">
							</div>
							<div class="iconAndTitleItem">
								<a href="/game-content/enemies/catapults.html">Catapult</a>
							</div>
							<div class="iconAndTitleItem">
								<img src="/assets/images/enemies/ogre.webp" class="homeIconLarge" alt="">
							</div>
							<div class="iconAndTitleItem">
								<a href="/game-content/enemies/ogre.html">Ogre</a>
							</div>
							<div class="iconAndTitleItem">
								<img src="/assets/images/enemies/racer.webp" class="homeIconLarge" alt="">
							</div>
							<div class="iconAndTitleItem">
								<a href="/game-content/enemies/racer.html">Ram</a>
							</div>
							<div class="iconAndTitleItem">
								<img src="/assets/images/enemies/elite_crossbow_men.webp" class="homeIconLarge" alt="">
							</div>
							<div class="iconAndTitleItem">
								<a href="/game-content/enemies/elite-crossbow-men.html">Elite enemies</a>
							</div>
							<div class="iconAndTitleItem">
								<img src="/assets/images/enemies/" class="homeIconLarge" alt="">
							</div>
							<div class="iconAndTitleItem viewAllLinkWithPadding">
								<a href="/game-content/enemies/">View all enemies</a>
							</div>
						</div>
					</div> <!-- gridColItem -->
				</div> <!-- homeContainer -->

				<!-- Misc box -->
				<div class="homeContainer">
					<h2>Other stuff</h2>
					<hr class="homeContainerTitleUnderline">
					<div class="grid6columnsContainer" id="miscLinks">
						<div class="gridColItem">
							<a href="/about/languages.html">Supported languages</a>
						</div>
						<div class="gridColItem">
							<a href="/misc/events/">Official events</a>
						</div>
						<div class="gridColItem">
							<a href="/misc/how-to-contribute.html">Contribution guide</a>
						</div>
						<div class="gridColItem">
							<a href="/about/wiki.html">About wiki</a>
						</div>
						<div class="gridColItem">
							<a href="/misc/hall-of-fame.html">Hall of fame</a>
						</div>
						<div class="gridColItem">
							<a href="/about/system-requirements.html">System requirements</a>
						</div>
					</div>
				</div>
			</div> <!-- homegridLeftCol -->

			<!-- 
				RIGHT COLUMN 
			-->
			<div id="homeGridRightCol">
				<div class="homeContainer" style="padding-bottom: 2px;">
					<h2>Official links</h2>
					<hr class="homeContainerTitleUnderline">
					<div class="officlaLinksContaimer">
						<div class="officlaLinksItem">
							<a href="https://store.steampowered.com/app/2239150/Thronefall">
								<img src="/assets/images/icons/misc/steam icon.webp" class="homeIconLarge" title="Get Thronefall on Steam" alt="steam icon" style="max-width: 40px;">
								<!-- <br> Steam -->
							</a>
						</div>
						<div class="officlaLinksItem">
							<a href="https://discord.gg/gVYctptyg8">
								<img src="/assets/images/icons/misc/discord-icon.webp" class="homeIconLarge" title="Discord server" alt="discord icon">
								<!-- <br> Discord -->
							</a>
						</div>
						<div class="officlaLinksItem">
							<a href="https://youtube.com/playlist?list=PLgsD7taGtaBhNaErAOaiEiTzt6-lOpVp0">
								<img src="/assets/images/icons/misc/youtube icon.webp" class="homeIconLarge" title="Thronefall devlogs" alt="youtube icon">
								<!-- <br> YouTube -->
							</a>
						</div>
					</div> <!-- officlaLinksContaimer -->
				</div> <!-- homeContainer -->

				<div class="homeContainer homeRightSideCont" style="display: none;">
					<h2>Stats</h2>
					<hr class="homeContainerTitleUnderline">
					<div class="grid3columnsContainer" id="" style="text-align: center;">
						<div class="gridColItem">
							<div class="statsBoxValue" id="statsVersionValue">
								1.7
							</div> 
							<div class="statsBoxTitle">
								Game version
							</div>
						</div>

						<div class="gridColItem">
							<div class="statsBoxValue" id="statsNumOfPagesValue">
								163
							</div>
							<div class="statsBoxTitle">
								Wiki pages
							</div>
						</div>

						<div class="gridColItem">
							<div class="statsBoxValue" id="statsTodaysVisitsValue">
								...
							</div>
							<div class="statsBoxTitle">
								Visits today
							</div>
						</div>
					</div>
				</div>

				<!-- Game updates box -->
				<div class="homeContainer homeRightSideCont">
					<h2>Game updates and events</h2>
					<hr class="homeContainerTitleUnderline">
					<!-- inserted content -->
					<div id="eventsDiv" hx-get="/events.html" hx-swap="innerHTML" hx-trigger="load" class=""></div>
				</div>

				<!-- Wiki updates box -->
				<div class="homeContainer homeRightSideCont">
					<h2>Wiki updates</h2>
					<hr class="homeContainerTitleUnderline">
					<!-- inserted content -->
					<div id="updatesDiv" hx-get="/updates.html" hx-swap="innerHTML" hx-trigger="load" class=""></div>
				</div>
				
			</div><!-- homeGridRightCol -->
		</div><!-- homeGridContainer -->
    </body>
	<script src="/assets/scripts/pageBuilder.js"></script>
    <script>BuildPage(true);</script>
</html>