<html lang="en">
	<head>
		<title>Neuland | Thronefall Wiki</title>
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<!-- Bootstrap and other CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

        <link rel="stylesheet" href="./styles/mainMenu.css"> <!-- Main menu styling -->
        <link rel="stylesheet" href="./styles/article.css">  <!-- Styling of wiki content - individual articles -->
        <link rel="stylesheet" href="./styles/global.css">   <!-- Website styling  -->
		<link rel="stylesheet" href="./styles/overrides.css">

        <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>

		<script src="./scripts/toggleMobiMenu.js"></script>
        
		<link rel="shortcut icon" type="image/jpg" href="./pictures/crown.png">
	</head>
    <body>


        <div id="mainPageContainer">
			<div id="mobiNavDiv" hx-get="./parts/mobiNav.html" hx-swap="innerHTML" hx-trigger="load">
				<img src="./pictures/loading edit.gif" id="loadingMobiMenuGif">
				<!-- Veritcal navbar goes here -->
			</div>
            <div id="innerContainer">
                <div id="websiteSideBar" hx-get="./parts/sidebar.html" hx-swap="innerHTML" hx-trigger="load">
                    <!-- Menu and header to be injected by htmx --> 
                </div>
                <div id="pageContentBox">
                    <div class="articleGrid">
                    <div class="articleGridItemWide">
                        <span class="pageTitle"> Monster Riders </span>
                        <hr class="mainSeparator">
                    </div>
                            <div class="articleGridItem">
                                <span class="pageSubtitle"> General </span>
                                <hr>
                                <p>Monster Riders are the only mounted enemy in Thronefall. They are encountered in some outer regions of the kingdom of Thronefall.<br></p>
                                <span class="pageSubtitle"> Characteristics </span>
                                <hr>
                                    <section id="Monster Rider-Table">
                                        <div class="table-responsive" id="Monster Rider-TableDiv">
                                            <table class="table table-striped table-bordered">
                                                <thead class="table-dark" id="Monster Rider-TableHead">
                                                    <tr id="Monster Rider-TableHeadRow">
                                                        <th class="align-middle">
                                                            Category
                                                        </th>
                                                        <th class="align-middle">
                                                            Info
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="align-middle">Name</td>
                                                        <td class="align-middle">Monster Rider</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="align-middle">Icon</td>
                                                        <td class="align-middle">
                                                            <img src="./pictures/enemies/Monster Rider_Icon.png" alt="picture of the reward" class="levelRewardIcon">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="align-middle">Unit Category</td>
                                                        <td class="align-middle">Fast</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="align-middle">Attack</td>
                                                        <td class="align-middle">Melee</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="align-middle">Preferred Target</td>
                                                        <td class="align-middle">Units</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="align-middle">Tauntable?</td>
                                                        <td class="align-middle">Yes</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </section>
                                    <span class="pageSubtitle"> Encounters </span>
                                    <hr>
                                    <p>You can encounter Monster Riders in Durststein.</p>
                                </div>

                            <div class="articleGridItem">
                                <div class="articleGridPicture">
                                    <a href="./pictures/enemies/Monster Rider.png" target="_blank">
                                        <img src="./pictures/enemies/Monster Rider.png" alt="picture of an enemy" class="articlePicture">
                                    <strong>A Monster Rider in-game.</strong>
                                </a>
                                </div>  </div>
                            </div>
                </div>
            </div>
                            <div id="footerDiv" hx-get="./parts/footer.html" hx-swap="innerHTML" hx-trigger="load">
                                    <!-- Footer to be injected by htmx -->
                                </section>
                            </div>
                        </div>
                    </body>
                </html>
