<!DOCTYPE html>
<!--
	W H A T   A R E   Y O U   D O I N G   I N   M Y   C O D E ? ! 
	
			⢀⡴⠑⡄⠀⠀⠀⠀⠀⠀⠀⣀⣀⣤⣤⣤⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠸⡇⠀⠿⡀⠀⠀⠀⣀⡴⢿⣿⣿⣿⣿⣿⣿⣿⣷⣦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠑⢄⣠⠾⠁⣀⣄⡈⠙⣿⣿⣿⣿⣿⣿⣿⣿⣆⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⢀⡀⠁⠀⠀⠈⠙⠛⠂⠈⣿⣿⣿⣿⣿⠿⡿⢿⣆⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⢀⡾⣁⣀⠀⠴⠂⠙⣗⡀⠀⢻⣿⣿⠭⢤⣴⣦⣤⣹⠀⠀⠀⢀⢴⣶⣆ 
			⠀⠀⢀⣾⣿⣿⣿⣷⣮⣽⣾⣿⣥⣴⣿⣿⡿⢂⠔⢚⡿⢿⣿⣦⣴⣾⠁⠸⣼⡿ 
			⠀⢀⡞⠁⠙⠻⠿⠟⠉⠀⠛⢹⣿⣿⣿⣿⣿⣌⢤⣼⣿⣾⣿⡟⠉⠀⠀⠀⠀⠀ 
			⠀⣾⣷⣶⠇⠀⠀⣤⣄⣀⡀⠈⠻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠉⠈⠉⠀⠀⢦⡈⢻⣿⣿⣿⣶⣶⣶⣶⣤⣽⡹⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠉⠲⣽⡻⢿⣿⣿⣿⣿⣿⣿⣷⣜⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿⣷⣶⣮⣭⣽⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⣀⣀⣈⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠇⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠃⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠛⠻⠿⠿⠿⠿⠛⠉
			
		Created by GhostMiner, June-August 2023.
		> Ghost-Miner.Github.io,
		> YouTube.com/GhostMinerMC
-->
<html lang="en">
	<head>
		<title>Enemies | Thronefall Wiki</title>
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<!-- Bootstrap and other CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

        <link rel="stylesheet" href="./styles/mainMenu.css"> <!-- Main menu styling -->
        <link rel="stylesheet" href="./styles/article.css">  <!-- Styling of wiki content - individual articles -->
        <link rel="stylesheet" href="./styles/global.css">   <!-- Website styling  -->
		<link rel="stylesheet" href="./styles/overrides.css">

        <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>

		<script src="./scripts/toggleMobiMenu.js"></script>

		<link rel="shortcut icon" type="image/jpg" href="./pictures/crown.png">
	</head>
    <body>
        <div id="mainPageContainer">
			<div id="mobiNavDiv" hx-get="./parts/mobiNav.html" hx-swap="innerHTML" hx-trigger="load">
				<img src="./pictures/loading edit.gif" id="loadingMobiMenuGif">
				<!-- Veritcal//hone navbar goes here -->
			</div>
            <div id="innerContainer">
                <div id="websiteSideBar" hx-get="./parts/sidebar.html" hx-swap="innerHTML" hx-trigger="load">
                    <!-- Menu and header to be isnerted with javascript --> 
                </div>
                <div id="pageContentBox">
                    <span class="pageTitle"> Mutators </span>
                    <hr class="mainSeparator">

                    <ul class="secondaryList">
						<li>
							<a class="menuItemLink" href="./turtle_mutator.html"> Challenge the Turtle God </a>
						</li>
						<li>
							<a class="menuItemLink" href="./tiger_mutator.html"> Challenge the Tiger God </a>
						</li>
						<li>
							<a class="menuItemLink" href="./snake_mutator.html"> Challenge the Snake God </a>
						</li>
						<li>
							<a class="menuItemLink" href="./falcon_mutator.html"> Challenge the Falcon God </a>
						</li>
						<li>
							<a class="menuItemLink" href="./destruction_god.html"> Challenge the God of Destruction </a>
						</li>
						<li>
							<a class="menuItemLink" href="./wasp_god.html"> Challenge the Wasp God </a>
						</li>
						<li>
							<a class="menuItemLink" href="./death_god.html"> Challenge the God of Death </a>
						</li>
					</ul>
                </div> <!-- pageContentBox -->
            </div> <!-- innerContainer -->
            
            <div id="footerDiv" hx-get="./parts/footer.html" hx-swap="innerHTML" hx-trigger="load">
                    <!-- Footer to be isnerted with javascript -->
                </section>
            </div>
        </div>
    </body>
</html>