<!DOCTYPE html>
<!--
	W H A T   A R E   Y O U   D O I N G   I N   M Y   C O D E ? ! 
	
			⢀⡴⠑⡄⠀⠀⠀⠀⠀⠀⠀⣀⣀⣤⣤⣤⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠸⡇⠀⠿⡀⠀⠀⠀⣀⡴⢿⣿⣿⣿⣿⣿⣿⣿⣷⣦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠑⢄⣠⠾⠁⣀⣄⡈⠙⣿⣿⣿⣿⣿⣿⣿⣿⣆⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⢀⡀⠁⠀⠀⠈⠙⠛⠂⠈⣿⣿⣿⣿⣿⠿⡿⢿⣆⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⢀⡾⣁⣀⠀⠴⠂⠙⣗⡀⠀⢻⣿⣿⠭⢤⣴⣦⣤⣹⠀⠀⠀⢀⢴⣶⣆ 
			⠀⠀⢀⣾⣿⣿⣿⣷⣮⣽⣾⣿⣥⣴⣿⣿⡿⢂⠔⢚⡿⢿⣿⣦⣴⣾⠁⠸⣼⡿ 
			⠀⢀⡞⠁⠙⠻⠿⠟⠉⠀⠛⢹⣿⣿⣿⣿⣿⣌⢤⣼⣿⣾⣿⡟⠉⠀⠀⠀⠀⠀ 
			⠀⣾⣷⣶⠇⠀⠀⣤⣄⣀⡀⠈⠻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠉⠈⠉⠀⠀⢦⡈⢻⣿⣿⣿⣶⣶⣶⣶⣤⣽⡹⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠉⠲⣽⡻⢿⣿⣿⣿⣿⣿⣿⣷⣜⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿⣷⣶⣮⣭⣽⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⣀⣀⣈⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠇⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠃⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠛⠻⠿⠿⠿⠿⠛⠉
			
		Created by GhostMiner, June-August 2023.
		> Ghost-Miner.Github.io,
		> YouTube.com/GhostMinerMC
-->
<html lang="en">
	<head>
		<title>Nordfels | Thronefall Wiki</title>
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<!-- Bootstrap and other CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

        <link rel="stylesheet" href="./styles/mainMenu.css"> <!-- Main menu styling -->
        <link rel="stylesheet" href="./styles/article.css">  <!-- Styling of wiki content - individual articles -->
        <link rel="stylesheet" href="./styles/global.css">   <!-- Website styling  -->
		<link rel="stylesheet" href="./styles/overrides.css">

        <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>

		<script src="./scripts/toggleMobiMenu.js"></script>

		<link rel="shortcut icon" type="image/jpg" href="./pictures/crown.png">
	</head>
    <body>
        <style>
            .galleryGrid
            {
                grid-template-columns: repeat(3,1fr);
                max-width: 75%;
            }
        </style>
        <script>
            var body = document.getElementsByTagName('body')[0];
            body.style.backgroundImage = 'url(./pictures/Maps/Nordfels/nordfels_empty.png)';
            console.log("ddd");
        </script>

        <div id="mainPageContainer">
			<div id="mobiNavDiv" hx-get="./parts/mobiNav.html" hx-swap="innerHTML" hx-trigger="load">
				<img src="./pictures/loading edit.gif" id="loadingMobiMenuGif">
				<!-- Veritcal navbar goes here -->
			</div>
            <div id="innerContainer">
                <div id="websiteSideBar" hx-get="./parts/sidebar.html" hx-swap="innerHTML" hx-trigger="load">
                    <!-- Menu and header to be injected by htmx --> 
                </div>

                <div id="pageContentBox">
                    <span class="pageTitle"> Nordfels </span>
                    <hr class="mainSeparator">
                    <section id="contentColumn">
                        <div class="columnRow">
                            <div id="leftColumn" class="column">
                                <span class="pageSubtitle"> Overview </span>
                                <hr>
                                <span class="pageContent">
                                    <p><strong>Nordfels <em>(German for "North rock")</em> is the first true level of Thronefall.</strong> <br>
                                        It is one of the 4 maps available in the Early Access version.</p>
                                    <p>The level features a large mountain range in the north and a U-shaped river to define the level border.</p>
                                    <p> Enemy units spawn from the north-east, east, south-east, south, and the west of the castle 
                                    with the west, south and northeast of the castle only spawning flying units. </p>
                                </span>
                                <span class="pageSubtitle">Level composition</span>
                                <hr>
                                <span class="pageContent">
                                    <p>Norfels' Castle layout is split into 3 areas:</p>
                                    <ul>
                                        <li>Outisde area unprotected by walls: This area consists of 3 mills, 3 Watchtowers and 1 archer barracks. </li>
                                        <li>The front of the castle: Area with 3 houses, 4 watchtowers and 1 barracks.</li>
                                        <li>The inner castle: Area with 7 houses, 3 watchtowers, 2 barracks <em>(1 ranged and 1 melee),</em> and the Castle Center building. </li>
                                        </ul> 
                                </span>
                            </div>
                            <div id="rightColumn" class="column">
                                <div class="pictureContainer" style="margin-bottom: 20px;">
                                    <a href="./pictures/Maps/Nordfels/nordfels_empty.png" target="_blank">
                                        <img class="articlePicture" src="./pictures/Maps/Nordfels/nordfels_empty.png" alt="picture of a fully buult Nordfels castle">
                                    </a>
                                    <span class="articlePictureDescription">Nordfels without any buildings.</span>
                                </div>
                                <div class="pictureContainer">
                                    <a href="./pictures/Maps/Nordfels/nordfels lv select.png" target="_blank">
                                        <img class="articlePicture" src="./pictures/Maps/Nordfels/nordfels lv select.png" alt="Nordfels in the level selection" style="width: 64%;">
                                    </a> <br>
                                    <span class="articlePictureDescription">Nordfels in the level selection.</span>
                                </div>
                            </div>
                        </div>
                    </section>
                    <span class="pageSubtitle">Gallery</span>
                    <hr>
                        <div class="galleryGrid">

                            <div class="galleryGridItem">
                                <a href="./pictures/Maps/Nordfels/1-Nordfels.webp" target="_blank">
                                    <img class="galleryPicture" src="./pictures/Maps/Nordfels/1-Nordfels.webp" alt="An empty level of Nordfels.">
                                </a> <br>
                                <span class="galleryPictureDescription">Nordfels with a fully upgraded castle.</span>
                            </div>
                            <div class="galleryGridItem">
                                <a href="./pictures/Maps/Nordfels/nordfels_empty.png" target="_blank">
                                    <img class="galleryPicture" src="./pictures/Maps/Nordfels/nordfels_empty.png" alt="Nordfels with a fully built castle">
                                </a> <br>
                                <span class="galleryPictureDescription">Nordfels without any buildings.</span>
                            </div>
                            <div class="galleryGridItem">
                                <a href="./pictures/Maps/Nordfels/nordfels lv select.png" target="_blank">
                                    <img class="galleryPicture" src="./pictures/Maps/Nordfels/nordfels lv select.png" alt="Nordfels in the level selection" style="width: 55%;">
                                </a> <br>
                                <span class="galleryPictureDescription">Nordfels in the level selection.</span>
                            </div>

                        </div>
                </div>
            </div>
            <div id="footerDiv" hx-get="./parts/footer.html" hx-swap="innerHTML" hx-trigger="load">
                    <!-- Footer to be injected by htmx -->
                </section>
            </div>
        </div>
    </body>
</html>
