<!DOCTYPE html>
<!--
	W H A T   A R E   Y O U   D O I N G   I N   M Y   C O D E ? ! 
	
			⢀⡴⠑⡄⠀⠀⠀⠀⠀⠀⠀⣀⣀⣤⣤⣤⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠸⡇⠀⠿⡀⠀⠀⠀⣀⡴⢿⣿⣿⣿⣿⣿⣿⣿⣷⣦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠑⢄⣠⠾⠁⣀⣄⡈⠙⣿⣿⣿⣿⣿⣿⣿⣿⣆⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⢀⡀⠁⠀⠀⠈⠙⠛⠂⠈⣿⣿⣿⣿⣿⠿⡿⢿⣆⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⢀⡾⣁⣀⠀⠴⠂⠙⣗⡀⠀⢻⣿⣿⠭⢤⣴⣦⣤⣹⠀⠀⠀⢀⢴⣶⣆ 
			⠀⠀⢀⣾⣿⣿⣿⣷⣮⣽⣾⣿⣥⣴⣿⣿⡿⢂⠔⢚⡿⢿⣿⣦⣴⣾⠁⠸⣼⡿ 
			⠀⢀⡞⠁⠙⠻⠿⠟⠉⠀⠛⢹⣿⣿⣿⣿⣿⣌⢤⣼⣿⣾⣿⡟⠉⠀⠀⠀⠀⠀ 
			⠀⣾⣷⣶⠇⠀⠀⣤⣄⣀⡀⠈⠻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠉⠈⠉⠀⠀⢦⡈⢻⣿⣿⣿⣶⣶⣶⣶⣤⣽⡹⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠉⠲⣽⡻⢿⣿⣿⣿⣿⣿⣿⣷⣜⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿⣷⣶⣮⣭⣽⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⣀⣀⣈⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠇⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠃⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠛⠻⠿⠿⠿⠿⠛⠉
			
		Created by GhostMiner, June-August 2023.
		> Ghost-Miner.Github.io,
		> YouTube.com/GhostMinerMC
-->
<html lang="en">
	<head>
		<title>Perks | Thronefall Wiki</title>
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<!-- Bootstrap and other CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

        <link rel="stylesheet" href="./styles/mainMenu.css"> <!-- Main menu styling -->
        <link rel="stylesheet" href="./styles/article.css">  <!-- Styling of wiki content - individual articles -->
        <link rel="stylesheet" href="./styles/global.css">   <!-- Website styling  -->
		<link rel="stylesheet" href="./styles/overrides.css">

        <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>

		<script src="./scripts/toggleMobiMenu.js"></script>

		<link rel="shortcut icon" type="image/jpg" href="./pictures/crown.png">
	</head>
    <body>
        <div id="mainPageContainer">
			<div id="mobiNavDiv" hx-get="./parts/mobiNav.html" hx-swap="innerHTML" hx-trigger="load">
				<img src="./pictures/loading edit.gif" id="loadingMobiMenuGif">
				<!-- Veritcal navbar goes here -->
			</div>
            <div id="innerContainer">
                <div id="websiteSideBar" hx-get="./parts/sidebar.html" hx-swap="innerHTML" hx-trigger="load">
                    <!-- Menu and header to be injected by htmx --> 
                </div>
                <div id="pageContentBox">
                    <span class="pageTitle"> Perks </span>
                    <hr class="mainSeparator">

                    <div class="pagesListGridWrapper">
						<div class="pagesListItem">
						<div class="pagesListItemContent">
							<a href="./royal mint.html"> 
								<img src="./pictures/leveling icons/Royal Mint_Icon.png" alt="picture of the perk" class="listIcon"> <br>
								Royal Mint 
							</a>
						</div>
						</div>
						<div class="pagesListItem">
						<div class="pagesListItemContent">
							<a href="./arcane towers.html"> 
								<img src="./pictures/leveling icons/Arcane Towers_Icon.png" alt="picture of the perk" class="listIcon"> <br>
								Arcane Towers
							 </a>
						</div>
						</div>
						<div class="pagesListItem">
						<div class="pagesListItemContent">
							<a href="./heavy armor.html"> 
								<img src="./pictures/leveling icons/Heavy Armor_Icon.png" alt="picture of the perk" class="listIcon"> <br>
								Heavy Armor
							 </a>
						</div>
						</div>
						<div class="pagesListItem">
						<div class="pagesListItemContent">
							<a href="./castle fortifications.html"> 
								<img src="./pictures/leveling icons/Castle Fortifications_Icon.png" alt="picture of the perk" class="listIcon"> <br>
								Castle Fortifications
							 </a>
						</div>
						</div>
						<div class="pagesListItem">
						<div class="pagesListItemContent">
							<a href="./king of resurrection.html"> 
								<img src="./pictures/leveling icons/King of Ressurection_Icon.png" alt="picture of the perk" class="listIcon"> <br>
								King of Resurrection 
							</a>
						</div>
						</div>
						<div class="pagesListItem">
						<div class="pagesListItemContent">
							<a href="./pumpkin fields.html"> 
								<img src="./pictures/leveling icons/Pumpkin Fields_Icon.png" alt="picture of the perk" class="listIcon"> <br>
								Pumpkin Fields 
							</a>
						</div>
						</div>
						<div class="pagesListItem">
						<div class="pagesListItemContent">
							<a href="./architects council.html"> 
								<img src="./pictures/leveling icons/Architect's Council_Icon.png" alt="picture of the perk" class="listIcon"> <br>
								Architec's Council 
							</a>
						</div>
						</div>
						<div class="pagesListItem">
						<div class="pagesListItemContent">
							<a href="./gods lotion.html">
								<img src="./pictures/leveling icons/Gods Lotion_Icon.png" alt="picture of the perk" class="listIcon"> <br>
								 Gods Lotion
								 </a>
						</div>
						</div>
						<div class="pagesListItem">
						<div class="pagesListItemContent">
							<a href="./castle blueprints.html"> 
								<img src="./pictures/leveling icons/Castle Blueprints_Icon.png" alt="picture of the perk" class="listIcon"> <br>
								Castle Blueprints
							 </a>
						</div>
						</div>
						<div class="pagesListItem">
						<div class="pagesListItemContent">
							<a href="./gladiator school.html">
								<img src="./pictures/leveling icons/Gladiator School_Icon.png" alt="picture of the perk" class="listIcon"> <br>
								 Gladiator School
								 </a>
						</div>
						</div>
						<div class="pagesListItem">
						<div class="pagesListItemContent">
							<a href="./war horse.html"> 
								<img src="./pictures/leveling icons/War Horse_Icon.png" alt="picture of the perk" class="listIcon"> <br>
								War Horse 
							</a>
						</div>
						</div>
						<div class="pagesListItem">
						<div class="pagesListItemContent">
							<a href="./glass cannon.html">
								<img src="./pictures/leveling icons/Glass Cannon_Icon.png" alt="picture of the perk" class="listIcon"> <br>
								 Glass Cannon
								 </a>
						</div>
						</div>
						<div class="pagesListItem">
						<div class="pagesListItemContent">
							<a href="./big harbours.html">
								<img src="./pictures/leveling icons/Big Harbours_Icon.png" alt="picture of the perk" class="listIcon"> <br>
								 Big Harbours 
								</a>
						</div>
						</div>
						<div class="pagesListItem">
						<div class="pagesListItemContent">
							<a href="./elite warriors.html">
								<img src="./pictures/leveling icons/Elite Warriors_Icon.png" alt="picture of the perk" class="listIcon"> <br> 
								Elite Warriors 
							</a>
						</div>
						</div>
						<div class="pagesListItem">
						<div class="pagesListItemContent">
							<a href="./archery skills.html">
								<img src="./pictures/leveling icons/Archery Skills_Icon.png" alt="picture of the perk" class="listIcon"> <br>
								 Archery Skills 
								</a>
						</div>
						</div>
						<div class="pagesListItem">
						<div class="pagesListItemContent">
							<a href="./faster research.html">
								<img src="./pictures/leveling icons/Faster Research_Icon.png" alt="picture of the perk" class="listIcon"> <br>
								 Faster Research
								 </a>
						</div>
						</div>
						<div class="pagesListItem">
						<div class="pagesListItemContent">
							<a href="./fortified houses.html"> 
								<img src="./pictures/leveling icons/Fortified Houses_Icon.png" alt="picture of the perk" class="listIcon"> <br>
								Fortified Houses
							 </a>
						</div>
						</div>
						<div class="pagesListItem">
						<div class="pagesListItemContent">
							<a href="./commander mode.html"> 
								<img src="./pictures/leveling icons/Commander Mode_Icon.png" alt="picture of the perk" class="listIcon"> <br>
								Commander Mode
							 </a>
						</div>
						</div>
						<div class="pagesListItem">
						<div class="pagesListItemContent">
							<a href="./healing spirits.html"> 
								<img src="./pictures/leveling icons/Healing Spirits_Icon.png" alt="picture of the perk" class="listIcon"> <br>
								Healing Spirits 
							</a>
						</div>
						</div>
						<div class="pagesListItem">
						<div class="pagesListItemContent">
							<a href="./ice magic.html"> 
								<img src="./pictures/leveling icons/Ice Magic_Icon.png" alt="picture of the perk" class="listIcon"> <br>
								Ice Magic
							 </a>
						</div>
						</div>
						<div class="pagesListItem">
						<div class="pagesListItemContent">
							<a href="./melee resistance.html"> 
								<img src="./pictures/leveling icons/Melee Resistance_Icon.png" alt="picture of the perk" class="listIcon"> <br>
								Melee Resistance
							 </a>
						</div>
						</div>
						<div class="pagesListItem">
						<div class="pagesListItemContent">
							<a href="./power tower.html">
								<img src="./pictures/leveling icons/Power Tower_Icon.png" alt="picture of the perk" class="listIcon"> <br>
								 Power Tower
								 </a>
						</div>
						</div>
						<div class="pagesListItem">
						<div class="pagesListItemContent">
							<a href="./ranged resistance.html">
								<img src="./pictures/leveling icons/Ranged Resistance_Icon.png" alt="picture of the perk" class="listIcon"> <br>
								 Ranged Resistance
								 </a>
						</div>
						</div>
						<div class="pagesListItem">
						<div class="pagesListItemContent">
							<a href="./treasure hunter.html">
								<img src="./pictures/leveling icons/Treasure Hunter_Icon.png" alt="picture of the perk" class="listIcon"> <br>
								Treasure Hunter 
							</a>
						</div>
						</div>
						<div class="pagesListItem">
						<div class="pagesListItemContent">
							<a href="./indestructable mines.html"> 
								<img src="./pictures/leveling icons/Indestructable Goldmines_Icon.png" alt="picture of the perk" class="listIcon"> <br>
								Indestructable Mines
							 </a>
						</div>
						</div>
						<div class="pagesListItem">
						<div class="pagesListItemContent">
							<a href="./warrior mode.html"> 
								<img src="./pictures/leveling icons/Warrior Mode_Icon.png" alt="picture of the perk" class="listIcon"> <br>
								Warrior Mode
							 </a>
						</div>
						</div>
					</div>
                </div> <!-- pageContentBox -->
            </div> <!-- innerContainer -->
            
            <div id="footerDiv" hx-get="./parts/footer.html" hx-swap="innerHTML" hx-trigger="load">
                <!-- Footer to be injected by htmx -->
            </div>
        </div>
    </body>
</html>