<html lang="en">
	<head>
		<title>Towers | Thronefall Wiki</title>
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<!-- Bootstrap and other CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

        <link rel="stylesheet" href="./styles/mainMenu.css"> <!-- Main menu styling -->
        <link rel="stylesheet" href="./styles/article.css">  <!-- Styling of wiki content - individual articles -->
        <link rel="stylesheet" href="./styles/global.css">   <!-- Website styling  -->
		<link rel="stylesheet" href="./styles/overrides.css">

        <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>

		<script src="./scripts/toggleMobiMenu.js"></script>
        
		<link rel="shortcut icon" type="image/jpg" href="./pictures/crown.png">
	</head>
    <body>
        <div id="mainPageContainer">
            <div id="mobiNavDiv" hx-get="./parts/mobiNav.html" hx-swap="innerHTML" hx-trigger="load">
                <img src="./pictures/loading edit.gif" id="loadingMobiMenuGif">
                <!-- Veritcal navbar goes here -->
            </div>
            <div id="innerContainer">
                <div id="websiteSideBar" hx-get="./parts/sidebar.html" hx-swap="innerHTML" hx-trigger="load">
                    <!-- Menu and header to be injected by htmx --> 
                </div>
                <div id="pageContentBox">
                    <div class="articleGrid">
                        <div class="articleGridItemWide">
                            <span class="pageTitle"> Towers </span>
                            <hr class="mainSeparator">
                        </div>
                        <div class="articleGridItem">
                            <span class="pageSubtitle"> General </span>
                            <hr>
                            <p>Towers are a defensive building in the kingdom of Thronefall. They can be upgraded twice and fire arrows at the closest enemy in range.<br></p>
                            <p>Towers can be enhanced with the <a href="./arcane towers.html" target="_blank"> Arcane Towers </a> and <a href="./power tower.html"> Power Tower</a> Perks. </p>
                            <p>The player can choose 1 out of 4 possible upgrade paths upon upgrading the Tower to level 3.</p>
                            <span class="pageSubtitle"> Characteristics </span>
                            <hr>
                            <section id="Ram-Table">
                                <div class="table-responsive" id="Ram-TableDiv">
                                    <table class="table table-striped table-bordered">
                                        <thead class="table-dark" id="Ram-TableHead">
                                            <tr id="Ram-TableHeadRow">
                                                <th class="align-middle">
                                                    Category
                                                </th>
                                                <th class="align-middle">
                                                    Info
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="align-middle">Name</td>
                                                <td class="align-middle">Tower</td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">Building Category</td>
                                                <td class="align-middle">Defensive</td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">Building Cost</td>
                                                <td class="align-middle">3 Gold</td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">Upgrade Cost Level 2</td>
                                                <td class="align-middle">5 Gold</td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">Upgrade Cost Level 3</td>
                                                <td class="align-middle">15 Gold</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                            <span class="pageSubtitle"> Details</span>
                            <hr>
                        <section id="Bow-Table">
                            <div class="table-responsive" id="Archer-TableDiv">
                                <table class="table table-striped table-bordered">
                                    <thead class="table-dark" id="Archer-TableHead">
                                        <tr id="Archer-TableHeadRow">
                                            <th class="align-middle">
                                                Statistic
                                            </th>
                                            <th class="align-middle">
                                                Value
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody> 
                                        <tr>
                                            <td class="align-middle">Health Points</td>
                                            <td class="align-middle">100 / 250</td>
                                        </tr>                                               
                                        <tr>
                                            <td class="align-middle">Attacks per second</td>
                                            <td class="align-middle">0.5 / 0.714</td>
                                        </tr>    
                                        <tr>
                                            <td class="align-middle">Attack Range</td>
                                            <td class="align-middle">36 (Ranged)</td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle">Projectile Speed</td>
                                            <td class="align-middle">20</td>
                                        </tr>      
                                        <tr>
                                            <td class="align-middle">Base Damage</td>
                                            <td class="align-middle">8</td>
                                        </tr>      
                                        <tr>
                                            <td class="align-middle">Damage vs. Flying</td>
                                            <td class="align-middle">x1.15</td>
                                        </tr>       
                                        <tr>
                                            <td class="align-middle">Damage vs. Ranged Resistant</td>
                                            <td class="align-middle">x0.6</td>
                                        </tr>       
                                        <tr>
                                            <td class="align-middle">Damage vs. Tower Vulnerable</td>
                                            <td class="align-middle">x2</td>
                                        </tr>                                                                                                  
                                    </tbody>
                                </table>
                            </div>
                        </section>
                        <p>The damage dealt is calculated with this formular: <span class="codeBlock"> Base Damage x Type Value 1 x Type Value 2 x ... x Type Value n</span>, where n is the amount of types that the enemy has (all types that are not provided in the table above have a Value of 1).</p>
                        <br>
                            <span class="pageSubtitle"> Upgrade Paths </span>
                            <hr>
                            <section id="Unit-Table">
                                <div class="table-responsive" id="Unit-TableDiv">
                                    <table class="table table-striped table-bordered">
                                        <thead class="table-dark" id="Unit-TableHead">
                                            <tr id="Unit-TableHeadRow">
                                                <th class="align-middle">
                                                    Type
                                                </th>
                                                <th class="align-middle">
                                                    Description
                                                </th>
                                                <th class="align-middle">
                                                    Icon
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="align-middle"><a href="./iron plates.html"> Iron Plates </a></td>
                                                <td class="align-middle">This tower becomes an armored fortress, that will not go down easily.</td>
                                                <td class="align-middle">
                                                    <img src="./pictures/leveling icons/Plated_Tower_Icon.png" alt="picture of the Unit-Icon" class="levelRewardIcon">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle"><a href="./ballista.html"> Ballista </a></td>
                                                <td class="align-middle">This tower has an increased range. It shoots very powerful projectiles at low rate of fire. Focusses siege engines and other large Enemies.</td>
                                                <td class="align-middle">
                                                    <img src="./pictures/leveling icons/Ballista_Icon.png" alt="picture of the Unit-Icon" class="levelRewardIcon">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle"><a href="./hot oil.html"> Hot Oil </a></td>
                                                <td class="align-middle">While shooting regular arrows, this tower also pours boiling oil onto nearby enemies. Enemies hit by oil suffer great damage.</td>
                                                <td class="align-middle">
                                                    <img src="./pictures/leveling icons/Hot_Oil_Icon.png" alt="picture of the Unit-Icon" class="levelRewardIcon">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle"><a href="./support tower.html"> Support Tower </a></td>
                                                <td class="align-middle">This tower no longer shoots at enemies. Instead it shoots healing orbs at you and your units.</td>
                                                <td class="align-middle">
                                                    <img src="./pictures/leveling icons/Healing_Tower_Icon.png" alt="picture of the Unit-Icon" class="levelRewardIcon">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                            <span class="pageSubtitle"> Locations </span>
                            <hr>
                            <p>You can find Towers on <a href="./neuland.html"> Neuland</a>, <a href="./nordfels.html"> Nordfels</a>, <a href="./durststein.html"> Durststein</a> </a> and <a href="./frostsee.html"> Frostsee</a>.</p>
                        </div>
                        <div id="rightGridColumn" class="articleGridItem">
                            <div class="articleGridPicture">
                                <a href="#" target="_blank">
                                <img src="./pictures/buildings/tower.png" alt="picture of a building" class="articlePicture">
                                <strong>A Tower in-game.</strong>
                                </a>
                            </div>
                        </div>
                    </div> <!--articleGrid-->
                </div> <!--pageContentBox-->
            </div> <!--innerContainer-->
                <div id="footerDiv" hx-get="./parts/footer.html" hx-swap="innerHTML" hx-trigger="load">
                    <!-- Footer to be injected by htmx -->
                </div>
        </div> <!--mainPageContainer-->        
    </body>
</html>