<!DOCTYPE html>
<!--
	W H A T   A R E   Y O U   D O I N G   I N   M Y   C O D E ? ! 
	
			⢀⡴⠑⡄⠀⠀⠀⠀⠀⠀⠀⣀⣀⣤⣤⣤⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠸⡇⠀⠿⡀⠀⠀⠀⣀⡴⢿⣿⣿⣿⣿⣿⣿⣿⣷⣦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠑⢄⣠⠾⠁⣀⣄⡈⠙⣿⣿⣿⣿⣿⣿⣿⣿⣆⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⢀⡀⠁⠀⠀⠈⠙⠛⠂⠈⣿⣿⣿⣿⣿⠿⡿⢿⣆⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⢀⡾⣁⣀⠀⠴⠂⠙⣗⡀⠀⢻⣿⣿⠭⢤⣴⣦⣤⣹⠀⠀⠀⢀⢴⣶⣆ 
			⠀⠀⢀⣾⣿⣿⣿⣷⣮⣽⣾⣿⣥⣴⣿⣿⡿⢂⠔⢚⡿⢿⣿⣦⣴⣾⠁⠸⣼⡿ 
			⠀⢀⡞⠁⠙⠻⠿⠟⠉⠀⠛⢹⣿⣿⣿⣿⣿⣌⢤⣼⣿⣾⣿⡟⠉⠀⠀⠀⠀⠀ 
			⠀⣾⣷⣶⠇⠀⠀⣤⣄⣀⡀⠈⠻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠉⠈⠉⠀⠀⢦⡈⢻⣿⣿⣿⣶⣶⣶⣶⣤⣽⡹⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠉⠲⣽⡻⢿⣿⣿⣿⣿⣿⣿⣷⣜⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿⣷⣶⣮⣭⣽⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⣀⣀⣈⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠇⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠃⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠛⠻⠿⠿⠿⠿⠛⠉
			
		Created by GhostMiner, June-August 2023.
		> Ghost-Miner.Github.io,
		> YouTube.com/GhostMinerMC
-->
<html lang="en">
	<head>
		<title>Upgrade Paths | Thronefall Wiki</title>
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<!-- Page meta infromation -->
		<meta name="description" content="A wiki for the game Thronefall">
		<meta name="keywords" content="Thronefall, leaderBoard, grizzly games, speedrun, wiki, fandom">
		<meta name="language" content="en">
		<meta name='robots' content="index,follow">
		<meta name='author' content="GhostMiner & ItsMeRaven"> 
		<!-- Bootstrap and other CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

        <link rel="stylesheet" href="../../../styles/mainMenu.css"> <!-- Main menu styling -->
        <link rel="stylesheet" href="../../../styles/article.css">  <!-- Styling of wiki content - individual articles -->
        <link rel="stylesheet" href="../../../styles/global.css">   <!-- Website styling  -->
		<link rel="stylesheet" href="../../../styles/overrides.css">

        <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>

		<script src="../../../scripts/toggleMobiMenu.js"></script>

		<link rel="shortcut icon" type="image/jpg" href="../../../pictures/crown.png">
	</head>
    <body>
		<style>
			.pagesListGridWrapper
			{
				grid-template-columns: repeat(4, 1fr);
				max-width: 1000px;
			}
		</style>
        
        
		<div id="mainPageContainer">
			<div id="mobiNavDiv" hx-get="../../../parts/mobiNav.html" hx-swap="innerHTML" hx-trigger="load">
				<img src="../../../pictures/loading edit.gif" id="loadingMobiMenuGif">
				<!-- Veritcal navbar goes here -->
			</div>
            <div id="innerContainer">
                <div id="websiteSideBar" hx-get="../../../parts/sidebar.html" hx-swap="innerHTML" hx-trigger="load">   
                    <!-- Menu and header to be injected by htmx --> 
                </div>
                <div id="pageContentBox">
                    <span class="pageTitle"> Upgrades </span>
                    <hr class="mainSeparator">
					<div class="pagesListGridWrapper">
						<div class="pagesListItem">
						<div class="pagesListItemContent">
							<a href="./improved plow.html"> 
							<img src="../../../pictures/leveling icons/Improved_Plow_Icon.png"  alt="picture of the Knights" class="listIcon"> <br>
							Improved Plow
							</a>
						</div>
						</div>
						<div class="pagesListItem">
						<div class="pagesListItemContent">
							<a href="./explosive trap.html">
                            <img src="../../../pictures/leveling icons/Explosive_Trap_Icon.png"  alt="picture of the Flails" class="listIcon"> <br> 
							Explosive Trap
							</a>
						</div>
						</div>
						<div class="pagesListItem">
						<div class="pagesListItemContent">
							<a href="./scarecrows.html"> 
							<img src="../../../pictures/leveling icons/Scarecrows_Icon.png"  alt="picture of the Flails" class="listIcon"> <br>
							Scarecrows
							</a>
						</div>
						</div>
						<div class="pagesListItem">
						<div class="pagesListItemContent">
							<a href="./wind spirits.html">
							<img src="../../../pictures/leveling icons/Wind_Spirits_Icon.png"  alt="picture of the Berserks" class="listIcon"> <br>
							Wind Spirits 
							</a>
						</div>
						</div>
						<div class="pagesListItem">
						<div class="pagesListItemContent">
							<a href="./fortress tower.html"> 
							<img src="../../../pictures/leveling icons/Plated_Tower_Icon.png"  alt="picture of the Long Bows" class="listIcon"> <br>
							Fortress Tower
							</a>
						</div>
						</div>
						<div class="pagesListItem">
						<div class="pagesListItemContent">
							<a href="./ballista.html"> 
							<img src="../../../pictures/leveling icons/Ballista_Icon.png"  alt="picture of the Crossbowmen" class="listIcon"> <br>
							Ballista
							</a>
						</div>
						</div>
						<div class="pagesListItem">
						<div class="pagesListItemContent">
							<a href="./hot oil.html"> 
							<img src="../../../pictures/leveling icons/Hot_Oil_Icon.png"  alt="picture of the Hunters" class="listIcon"> <br>
							Hot Oil 
                            </a>
						</div>
						</div>
						<div class="pagesListItem">
						<div class="pagesListItemContent">
							<a href="./support tower.html"> 
							<img src="../../../pictures/leveling icons/Healing_Tower_Icon.png"  alt="picture of the Fire Archers" class="listIcon"> <br>
							Support Tower
							</a>
						</div>
						</div>
						<div class="pagesListItem">
						<div class="pagesListItemContent">
							<a href="./royal training.html"> 
							<img src="../../../pictures/leveling icons/Royal_Training_Icon.png"  alt="picture of the Fire Archers" class="listIcon"> <br>
							Royal Training
							</a>
						</div>
						</div>
						<div class="pagesListItem">
						<div class="pagesListItemContent">
							<a href="./builder's guild.html"> 
							<img src="../../../pictures/leveling icons/Builder_s_Guild_Icon.png"  alt="picture of the Fire Archers" class="listIcon"> <br>
							Builder's Guild
							</a>
						</div>
						</div>
						<div class="pagesListItem">
							<div class="pagesListItemContent">
								<a href="./magic armor.html"> 
								<img src="../../../pictures/leveling icons/Magic_Armor_Icon.png"  alt="picture of the Fire Archers" class="listIcon"> <br>
								Magic Armor
								</a>
							</div>
							</div>
							<div class="pagesListItem">
								<div class="pagesListItemContent">
									<a href="./assassin's training.html"> 
									<img src="../../../pictures/leveling icons/Assassin_Training_Icon.png"  alt="picture of the Fire Archers" class="listIcon"> <br>
									Assassin's Training
									</a>
								</div>
								</div>
						<div class="pagesListItem">
						<div class="pagesListItemContent">
							<a href="./royal mastery.html"> 
							<img src="../../../pictures/leveling icons/Royal_Training_Icon.png"  alt="picture of the Fire Archers" class="listIcon"> <br>
							Royal Mastery
							</a>
						</div>
						</div>
						<div class="pagesListItem">
						<div class="pagesListItemContent">
							<a href="./commander.html"> 
							<img src="../../../pictures/leveling icons/Comander_Icon.png"  alt="picture of the Fire Archers" class="listIcon"> <br>
							Commander
							</a>
						</div>
						</div>
						<div class="pagesListItem">
						<div class="pagesListItemContent">
							<a href="./castle-up"> 
							<img src="../../../pictures/leveling icons/Castle-Up_Icon.png"  alt="picture of the Fire Archers" class="listIcon"> <br>
							Castle-Up
							</a>
						</div>
						</div>
						<div class="pagesListItem">
							<div class="pagesListItemContent">
								<a href="./godly curse.html"> 
								<img src="../../../pictures/leveling icons/Godly_Curse_Icon.png"  alt="picture of the Fire Archers" class="listIcon"> <br>
								Godly Curse
								</a>
							</div>
							</div>
					</div>					
                </div> <!-- pageContentBox -->
            </div> <!-- innerContainer -->
            
            <div id="footerDiv" hx-get="../../../parts/footer.html" hx-swap="innerHTML" hx-trigger="load">
                <!-- Footer to be injected by htmx -->
            </div>
        </div>
    </body>
</html>