<html lang="en">
	<head>
		<title>Fire Archers | Thronefall Wiki</title>
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<!-- Page meta infromation -->
		<meta name="description" content="An official wiki for Thronefall">
		<meta name="keywords" content="Thronefall, leaderBoard, grizzly games, speedrun, wiki, fandom">
		<meta name="language" content="en">
		<meta name='robots' content="index,follow">
		<meta name='author' content="GhostMiner & ItsMeRaven"> 
		<!-- Bootstrap and other CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

        <link rel="stylesheet" href="../../../styles/mainMenu.css"> <!-- Main menu styling -->
        <link rel="stylesheet" href="../../../styles/article.css">  <!-- Styling of wiki content - individual articles -->
        <link rel="stylesheet" href="../../../styles/global.css">   <!-- Website styling  -->
		<link rel="stylesheet" href="../../../styles/overrides.css">

        <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>

		<script src="../../../scripts/toggleMobiMenu.js"></script>
        
		<link rel="shortcut icon" type="image/jpg" href="../../../pictures/crown.png">
	</head>
    <body>


        <div id="mainPageContainer">
			<div id="mobiNavDiv" hx-get="../../../parts/mobiNav.html" hx-swap="innerHTML" hx-trigger="load">
				<img src="../../../pictures/loading edit.gif" id="loadingMobiMenuGif">
				<!-- Veritcal navbar goes here -->
			</div>
            <div id="innerContainer">
                <div id="websiteSideBar" hx-get="../../../parts/sidebar.html" hx-swap="innerHTML" hx-trigger="load">   
                    <!-- Menu and header to be injected by htmx --> 
                </div>
                <div id="pageContentBox">
                    <div class="articleGrid">
                    <div class="articleGridItemWide">
                        <span class="pageTitle"> Fire Archers </span>
                        <hr class="mainSeparator">
                    </div>
                        <div class="articleGridItem">
                                <span class="pageSubtitle"> General </span>
                                <hr>
                                <p>Fire Archers are a ranged unit in Thronefall, specialising in fighting siege type enemies. They are unlocked upon reaching level 29 and can be recruited everywhere in the kingdom of Thronefall.<br></p>
                                <p>Fire Archers are the only unit in thronefall that leave behind a damaging effect on the ground.</p>

                                <span class="pageSubtitle"> Description </span>
                                <hr>
                                <p>Fire Archers deal splash damage around their target and cause bonus damage against siege engines.</p>
                                <span class="pageSubtitle"> Characteristics </span>
                                <hr>
                                <section id="Fire Archers-Table">
                                        <div class="table-responsive" id="Fire Archers-TableDiv">
                                            <table class="table table-striped table-bordered">
                                                <thead class="table-dark" id="Fire Archers-TableHead">
                                                    <tr id="Fire Archers-TableHeadRow">
                                                        <th class="align-middle">
                                                            Category
                                                        </th>
                                                        <th class="align-middle">
                                                            Info
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="align-middle">Name</td>
                                                        <td class="align-middle">Fire Archer</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="align-middle">Icon</td>
                                                        <td class="align-middle">
                                                            <img src="../../../pictures/leveling icons/Fire_Archers_Icon.png" alt="picture of the reward" class="enemyIcon">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="align-middle">Unit Type</td>
                                                        <td class="align-middle">Ranged</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="align-middle">Preferred Target</td>
                                                        <td class="align-middle">Siege, Non-Flying type enemies</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </section>
                                    <span class="pageSubtitle"> Details</span>
                            <hr>
                            <span class="pageSubtitle"> Attack Statistics</span>
                        <section id="Bow-Table">
                            <div class="table-responsive" id="Archer-TableDiv">
                                <table class="table table-striped table-bordered">
                                    <thead class="table-dark" id="Archer-TableHead">
                                        <tr id="Archer-TableHeadRow">
                                            <th class="align-middle">
                                                Statistic
                                            </th>
                                            <th class="align-middle">
                                                Value
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>                                                
                                        <tr>
                                            <td class="align-middle">Attacks per second</td>
                                            <td class="align-middle">0.333</td>
                                        </tr>    
                                        <tr>
                                            <td class="align-middle">Attack Range</td>
                                            <td class="align-middle">25 (Ranged)</td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle">Projectile Speed</td>
                                            <td class="align-middle">18</td>
                                        </tr>      
                                        <tr>
                                            <td class="align-middle">Base Damage vs. Flying</td>
                                            <td class="align-middle">5</td>
                                        </tr>      
                                        <tr>
                                            <td class="align-middle">Base Damage vs. Ground</td>
                                            <td class="align-middle">5.4x7 (37.8)</td>
                                        </tr>        
                                        <tr>
                                            <td class="align-middle">Area of Effect vs. Ground</td>
                                            <td class="align-middle">3.25</td>
                                        </tr>        
                                        <tr>
                                            <td class="align-middle">Damage vs. Siege</td>
                                            <td class="align-middle">x3</td>
                                        </tr>        
                                        <tr>
                                            <td class="align-middle">Damage vs. Ranged Resistant</td>
                                            <td class="align-middle">x0.5</td>
                                        </tr>                                                             
                                        <tr>
                                            <td class="align-middle">Search Radius</td>
                                            <td class="align-middle">42</td>
                                        </tr>    
                                        <tr>
                                            <td class="align-middle">Keep Distance Radius</td>
                                            <td class="align-middle">24</td>
                                        </tr>                                                                                              
                                    </tbody>
                                </table>
                            </div>
                        </section>
                        <p>The damage dealt is calculated with this formula: <span class="codeBlock"> Base Damage x Type Value 1 x Type Value 2 x ... x Type Value n</span>, where n is the amount of types that the target has (all types that are not provided in the table above have a Value of 1).</p>
                        <br><span class="pageSubtitle"> Defense Statistics </span>
                        <section id="Bow-Table">
                            <div class="table-responsive" id="Archer-TableDiv">
                                <table class="table table-striped table-bordered">
                                    <thead class="table-dark" id="Archer-TableHead">
                                        <tr id="Archer-TableHeadRow">
                                            <th class="align-middle">
                                                Statistic
                                            </th>
                                            <th class="align-middle">
                                                Value
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>                                                
                                        <tr>
                                            <td class="align-middle">Health Points</td>
                                            <td class="align-middle">30</td>
                                        </tr>                                                
                                        <tr>
                                            <td class="align-middle">Movement Speed</td>
                                            <td class="align-middle">5</td>
                                        </tr>                                                                                       
                                    </tbody>
                                </table>
                            </div>
                        </section>
                                    <span class="pageSubtitle"> Encounters </span>
                            <hr>
                            <p>You can recruit Fire Archers in <a href="../../../game content/maps/nordfels.html">Nordfels</a>, <a href="durststein.html">Durststein</a> and <a href="../../../game content/maps/frostsee.html">Frostsee</a>.</p>
                        </div>
                            
<div id="rightGridColumn" class="articleGridItem">
                            <div class="articleGridPicture">
                                    <a href="../../../pictures/units/Fire Archer.png" target="_blank">
                                        <img src="../../../pictures/units/Fire Archer.png" alt="picture of an enemy" class="articlePicture">
                                    <strong>A Fire Archer in-game.</strong>
                                        </a>
                                </div>  
                            </div></div>
                </div>
            </div>
                            <div id="footerDiv" hx-get="../../../parts/footer.html" hx-swap="innerHTML" hx-trigger="load">
                                    <!-- Footer to be injected by htmx -->
                            </div>
                        </div>
                    </body>
                </html>
