<html lang="en">
	<head>
		<title>Barracks | Thronefall Wiki</title>
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<!-- Bootstrap and other CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

        <link rel="stylesheet" href="../../../styles/mainMenu.css"> <!-- Main menu styling -->
        <link rel="stylesheet" href="../../../styles/article.css">  <!-- Styling of wiki content - individual articles -->
        <link rel="stylesheet" href="../../../styles/global.css">   <!-- Website styling  -->
		<link rel="stylesheet" href="../../../styles/overrides.css">

        <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>

		<script src="../../../scripts/toggleMobiMenu.js"></script>
        
		<link rel="shortcut icon" type="image/jpg" href="../../../pictures/crown.png">
	</head>
    <body>
        <div id="mainPageContainer">
            <div id="mobiNavDiv" hx-get="../../../parts/mobiNav.html" hx-swap="innerHTML" hx-trigger="load">
                <img src="../../../pictures/loading edit.gif" id="loadingMobiMenuGif">
                <!-- Veritcal navbar goes here -->
            </div>
            <div id="innerContainer">
                <div id="websiteSideBar" hx-get="../../../parts/sidebar.html" hx-swap="innerHTML" hx-trigger="load">
                    <!-- Menu and header to be injected by htmx --> 
                </div>
                <div id="pageContentBox">
                    <div class="articleGrid">
                        <div class="articleGridItemWide">
                            <span class="pageTitle"> Barracks </span>
                            <hr class="mainSeparator">
                        </div>
                        <div class="articleGridItem">
                            <span class="pageSubtitle"> General </span>
                            <hr>
                            <p>Barracks are a defensive building in the kingdom of Thronefall. They can be upgraded twice and upon construction 4 units are spawned, that can be revived during the night, if any die.<br></p>
                            <p>The player can choose 1 out of 4 possible unit-types that are spawned by the barracks.</p>
                            <p>Barracacks can be enhanced with the <a href="./gladiator school.html" target="_blank"> Gladiator School </a> perk. </p>
                            <span class="pageSubtitle"> Characteristics </span>
                            <hr>
                            <section id="Ram-Table">
                                <div class="table-responsive" id="Ram-TableDiv">
                                    <table class="table table-striped table-bordered">
                                        <thead class="table-dark" id="Ram-TableHead">
                                            <tr id="Ram-TableHeadRow">
                                                <th class="align-middle">
                                                    Category
                                                </th>
                                                <th class="align-middle">
                                                    Info
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="align-middle">Name</td>
                                                <td class="align-middle">Barracks</td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">Building Category</td>
                                                <td class="align-middle">Defensive</td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">Health Points</td>
                                                <td class="align-middle">30 / 40 / 50</td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">Attack</td>
                                                <td class="align-middle">None</td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">Units spawned</td>
                                                <td class="align-middle">4 / 8 / 12</td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">Building Cost</td>
                                                <td class="align-middle">4 Gold</td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">Upgrade Cost Level 2</td>
                                                <td class="align-middle">8 Gold</td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">Upgrade Cost Level 3</td>
                                                <td class="align-middle">16 Gold</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                            <span class="pageSubtitle"> Units </span>
                            <hr>
                            <section id="Unit-Table">
                                <div class="table-responsive" id="Unit-TableDiv">
                                    <table class="table table-striped table-bordered">
                                        <thead class="table-dark" id="Unit-TableHead">
                                            <tr id="Unit-TableHeadRow">
                                                <th class="align-middle">
                                                    Type
                                                </th>
                                                <th class="align-middle">
                                                    Description
                                                </th>
                                                <th class="align-middle">
                                                    Icon
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="align-middle"> <a href="./knights.html">Knights</a></td>
                                                <td class="align-middle">Knights are versatile warriors, who are well armored against ranged attacks.</td>
                                                <td class="align-middle">
                                                    <img src="../../../pictures/leveling icons/Knights_Icon.png" alt="picture of the Unit-Icon" class="levelRewardIcon">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle"> <a href="./spearmen.html">Spearmen</a></td>
                                                <td class="align-middle">Spearmen are fast and strong units. They do extra damage against fast enemies and slow them down. Not a great pick against ranged units.</td>
                                                <td class="align-middle">
                                                    <img src="../../../pictures/leveling icons/Speamen_Icon.png" alt="picture of the Unit-Icon" class="levelRewardIcon">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle"> <a href="./flails.html">Flails</a></td>
                                                <td class="align-middle">Flails can simultaniously attack all enemies in a circle around them.</td>
                                                <td class="align-middle">
                                                    <img src="../../../pictures/leveling icons/Flails_Icon.png" alt="picture of the Unit-Icon" class="levelRewardIcon">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle"> <a href="./berserks.html">Berserks</a></td>
                                                <td class="align-middle">Berserks target siege units and other high health targets. They will not hesitate to sacrifice their lives for you.</td>
                                                <td class="align-middle">
                                                    <img src="../../../pictures/leveling icons/Berserks_Icon.png" alt="picture of the Unit-Icon" class="levelRewardIcon">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                            <span class="pageSubtitle"> Locations </span>
                            <hr>
                            <p>You can find Barracks on <a href="./neuland.html"> Neuland</a>, <a href="./nordfels.html"> Nordfels</a>, <a href="./durststein.html"> Durststein</a> </a> and <a href="./frostsee.html"> Frostsee</a>.</p>
                        </div>
                        <div id="rightGridColumn" class="articleGridItem">
                            <div class="articleGridPicture">
                                <a href="#" target="_blank">
                                <img src="../../../pictures/buildings/Barracks.png" alt="picture of a building" class="articlePicture">
                                <strong>A Barrack in-game.</strong>
                                </a>
                            </div>
                        </div>
                    </div> <!--articleGrid-->
                </div> <!--pageContentBox-->
            </div> <!--innerContainer-->
                <div id="footerDiv" hx-get="../../../parts/footer.html" hx-swap="innerHTML" hx-trigger="load">
                    <!-- Footer to be injected by htmx -->
                </div>
        </div> <!--mainPageContainer-->        
    </body>
</html>