<html lang="en">
	<head>
		<title>Castle Center | Thronefall Wiki</title>
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<!-- Bootstrap and other CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

        <link rel="stylesheet" href="../../../styles/mainMenu.css"> <!-- Main menu styling -->
        <link rel="stylesheet" href="../../../styles/article.css">  <!-- Styling of wiki content - individual articles -->
        <link rel="stylesheet" href="../../../styles/global.css">   <!-- Website styling  -->
		<link rel="stylesheet" href="../../../styles/overrides.css">

        <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>

		<script src="../../../scripts/toggleMobiMenu.js"></script>
        
		<link rel="shortcut icon" type="image/jpg" href="../../../pictures/crown.png">
	</head>
    <body>
        <div id="mainPageContainer">
            <div id="mobiNavDiv" hx-get="../../../parts/mobiNav.html" hx-swap="innerHTML" hx-trigger="load">
                <img src="../../../pictures/loading edit.gif" id="loadingMobiMenuGif">
                <!-- Veritcal navbar goes here -->
            </div>
            <div id="innerContainer">
                <div id="websiteSideBar" hx-get="../../../parts/sidebar.html" hx-swap="innerHTML" hx-trigger="load">
                    <!-- Menu and header to be injected by htmx --> 
                </div>
                <div id="pageContentBox">
                    <div class="articleGrid">
                        <div class="articleGridItemWide">
                            <span class="pageTitle"> Castle Center </span>
                            <hr class="mainSeparator">
                        </div>
                        <div class="articleGridItem">
                            <span class="pageSubtitle"> General </span>
                            <hr>
                            <p>The Castle Center is the most important building in the kingdom of Thronefall. It can be upgraded twice and the player loses, if the castle center is destroyed.<br></p>
                            <p>Castle Center can be enhanced with the <a href="../perks/royal mint.html" target="_blank"> Royal Mint </a> and <a href="../perks/castle fortifications.html"> Castle Fortifications</a> Perks. </p>
                            <p>The player can choose 1 out of 4 possible upgrade paths upon upgrading the Castle Center.</p>
                            <span class="pageSubtitle"> Characteristics </span>
                            <hr>
                            <section id="Ram-Table">
                                <div class="table-responsive" id="Ram-TableDiv">
                                    <table class="table table-striped table-bordered">
                                        <thead class="table-dark" id="Ram-TableHead">
                                            <tr id="Ram-TableHeadRow">
                                                <th class="align-middle">
                                                    Category
                                                </th>
                                                <th class="align-middle">
                                                    Info
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="align-middle">Name</td>
                                                <td class="align-middle">Castle Center</td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">Building Category</td>
                                                <td class="align-middle">Castle Center</td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">Building Cost</td>
                                                <td class="align-middle">3 Gold</td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">Upgrade Cost Level 2</td>
                                                <td class="align-middle">7 Gold</td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">Upgrade Cost Level 3</td>
                                                <td class="align-middle">20 Gold</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                            <span class="pageSubtitle"> Details</span>
                            <hr>
                        <section id="Bow-Table">
                            <div class="table-responsive" id="Archer-TableDiv">
                                <table class="table table-striped table-bordered">
                                    <thead class="table-dark" id="Archer-TableHead">
                                        <tr id="Archer-TableHeadRow">
                                            <th class="align-middle">
                                                Statistic
                                            </th>
                                            <th class="align-middle">
                                                Value
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody> 
                                        <tr>
                                            <td class="align-middle">Health Points</td>
                                            <td class="align-middle">100 / 300 / 700</td>
                                        </tr>                                               
                                        <tr>
                                            <td class="align-middle">Attacks per second</td>
                                            <td class="align-middle">0.25 / 0.5 / 1</td>
                                        </tr>    
                                        <tr>
                                            <td class="align-middle">Attack Range</td>
                                            <td class="align-middle">35 (Ranged)</td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle">Projectile Speed</td>
                                            <td class="align-middle">30</td>
                                        </tr>      
                                        <tr>
                                            <td class="align-middle">Base Damage</td>
                                            <td class="align-middle">4.5</td>
                                        </tr>      
                                        <tr>
                                            <td class="align-middle">Damage vs. Ranged Resistant</td>
                                            <td class="align-middle">x0.6</td>
                                        </tr>                                                                                                  
                                    </tbody>
                                </table>
                            </div>
                        </section>
                            <span class="pageSubtitle"> Upgrade Paths </span>
                            <hr>
                            <section id="Unit-Table">
                                <div class="table-responsive" id="Unit-TableDiv">
                                    <table class="table table-striped table-bordered">
                                        <thead class="table-dark" id="Unit-TableHead">
                                            <tr id="Unit-TableHeadRow">
                                                <th class="align-middle">
                                                    Type
                                                </th>
                                                <th class="align-middle">
                                                    Description
                                                </th>
                                                <th class="align-middle">
                                                    Icon
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="align-middle"><a href="../upgrade paths/royal training.html"> Royal Training </a></td>
                                                <td class="align-middle">+75% HP for your character. +75% Attack damage output for your character.</td>
                                                <td class="align-middle">
                                                    <img src="../../../pictures/leveling icons/Royal_Training_Icon.png" alt="picture of the Unit-Icon" class="levelRewardIcon">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle"><a href="../upgrade paths/builder's guild.html"> Builder's Guild </a></td>
                                                <td class="align-middle">+Every morning a level 1 house is automaticly upgraded to a level 2 house (if available). +50% HP for your character.</td>
                                                <td class="align-middle">
                                                    <img src="../../../pictures/leveling icons/Builder_s_Guild_Icon.png" alt="picture of the Unit-Icon" class="levelRewardIcon">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle"><a href="../upgrade paths/magic armor.html"> Magic Armor </a></td>
                                                <td class="align-middle">+Enemies that deal damage to you, take a part of that damage themselves. +150% HP for your character.</td>
                                                <td class="align-middle">
                                                    <img src="../../../pictures/leveling icons/Magic_Armor_Icon.png" alt="picture of the Unit-Icon" class="levelRewardIcon">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle"><a href="../upgrade paths/assasin's training.html"> Assassin's Training </a></td>
                                                <td class="align-middle">-Your auto-attack cooldown is +100% longer. +You deal +250% more damage.</td>
                                                <td class="align-middle">
                                                    <img src="../../../pictures/leveling icons/Assasin_Training_Icon.png" alt="picture of the Unit-Icon" class="levelRewardIcon">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle"><a href="../upgrade paths/royal mastery.html"> Royal Mastery </a></td>
                                                <td class="align-middle">+75% HP for your character. +75% Attack damage output for your character.</td>
                                                <td class="align-middle">
                                                    <img src="../../../pictures/leveling icons/Royal_Training_Icon.png" alt="picture of the Unit-Icon" class="levelRewardIcon">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle"><a href="../upgrade paths/commander.html"> Commander </a></td>
                                                <td class="align-middle">+Units move faster while you command them. +You have a healing aura that heals allied units nearby. +30% Overall damage output for your character.</td>
                                                <td class="align-middle">
                                                    <img src="../../../pictures/leveling icons/Comander_Icon.png" alt="picture of the Unit-Icon" class="levelRewardIcon">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle"><a href="../upgrade paths/castle-up.html"> Castle-Up </a></td>
                                                <td class="align-middle">+The upgrade costs of walls and towers get reduced by 1 every night (they will never be lower than I, initial build costs are unaffected).</td>
                                                <td class="align-middle">
                                                    <img src="../../../pictures/leveling icons/Castle-Up_Icon.png" alt="picture of the Unit-Icon" class="levelRewardIcon">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle"><a href="../upgrade paths/godly curse.html"> Godly Curse </a></td>
                                                <td class="align-middle">+If you lock in a target, that target receives 50% more damage from all sources +75% HP for your character.</td>
                                                <td class="align-middle">
                                                    <img src="../../../pictures/leveling icons/Godly_Curse_Icon.png" alt="picture of the Unit-Icon" class="levelRewardIcon">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                            <span class="pageSubtitle"> Locations </span>
                            <hr>
                            <p>You can find Castle Center on <a href="../../../game content/maps/neuland.html"> Neuland</a>, <a href="../../../game content/maps/nordfels.html"> Nordfels</a>, <a href="../../../game content/maps/durststein.html"> Durststein</a> </a> and <a href="../../../game content/maps/frostsee.html"> Frostsee</a>.</p>
                        </div>
                        <div id="rightGridColumn" class="articleGridItem">
                            <div class="articleGridPicture">
                                <a href="#" target="_blank">
                                <img src="../../../pictures/buildings/Castle Center.png" alt="picture of a building" class="articlePicture">
                                <strong>A Castle Center in-game.</strong>
                                </a>
                            </div>
                        </div>
                    </div> <!--articleGrid-->
                </div> <!--pageContentBox-->
            </div> <!--innerContainer-->
                <div id="footerDiv" hx-get="../../../parts/footer.html" hx-swap="innerHTML" hx-trigger="load">
                    <!-- Footer to be injected by htmx -->
                </div>
        </div> <!--mainPageContainer-->        
    </body>
</html>