<html lang="en">
	<head>
		<title>Hero's Quarter | Thronefall Wiki</title>
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<!-- Page meta infromation -->
		<meta name="description" content="A wiki for the game Thronefall">
		<meta name="keywords" content="Thronefall, leaderBoard, grizzly games, speedrun, wiki, fandom">
		<meta name="language" content="en">
		<meta name='robots' content="index,follow">
		<meta name='author' content="GhostMiner & ItsMeRaven"> 
		<!-- Bootstrap and other CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

        <link rel="stylesheet" href="../../../styles/mainMenu.css"> <!-- Main menu styling -->
        <link rel="stylesheet" href="../../../styles/article.css">  <!-- Styling of wiki content - individual articles -->
        <link rel="stylesheet" href="../../../styles/global.css">   <!-- Website styling  -->
		<link rel="stylesheet" href="../../../styles/overrides.css">

        <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>

		<script src="../../../scripts/toggleMobiMenu.js"></script>
        
		<link rel="shortcut icon" type="image/jpg" href="../../../pictures/crown.png">
	</head>
    <body>
        <style>
            .enemyIcon
            {
                width: 25%;
            }
        </style>

        <div id="mainPageContainer">
            <div id="mobiNavDiv" hx-get="../../../parts/mobiNav.html" hx-swap="innerHTML" hx-trigger="load">
                <img src="../../../pictures/loading edit.gif" id="loadingMobiMenuGif">
                <!-- Veritcal navbar goes here -->
            </div>
            <div id="innerContainer">
                <div id="websiteSideBar" hx-get="../../../parts/sidebar.html" hx-swap="innerHTML" hx-trigger="load">
                    <!-- Menu and header to be injected by htmx --> 
                </div>
                <div id="pageContentBox">
                    <div class="articleGrid">
                        <div class="articleGridItemWide">
                            <span class="pageTitle"> Hero's Quarter</span>
                            <hr class="mainSeparator">
                        </div>
                        <div class="articleGridItem">
                            <span class="pageSubtitle"> General </span>
                            <hr>
                            <p>Hero's Quarters are a defensive building in the kingdom of Thronefall. They can be upgraded twice and upon construction the player can select a Hero that will be spawned from the building. The hero is a singular stonger unit and is controlled like any other unit in the game.<br></p>
                            <p>The player can choose 1 out of 4 possible heros once the hero's quarters is constructed. Upgrading the hero's quarters increases the power of the selected hero.</p>
                            <span class="pageSubtitle"> Characteristics </span>
                            <hr>
                            <section id="Ram-Table">
                                <div class="table-responsive" id="Ram-TableDiv">
                                    <table class="table table-striped table-bordered">
                                        <thead class="table-dark" id="Ram-TableHead">
                                            <tr id="Ram-TableHeadRow">
                                                <th class="align-middle">
                                                    Category
                                                </th>
                                                <th class="align-middle">
                                                    Info
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="align-middle">Name</td>
                                                <td class="align-middle">Hero's Quarter</td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">Building Category</td>
                                                <td class="align-middle">None</td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">Health Points</td>
                                                <td class="align-middle">50 / 70 / 90</td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">Building Cost</td>
                                                <td class="align-middle">5 Gold</td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">Upgrade Cost Level 2</td>
                                                <td class="align-middle">9 Gold</td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">Upgrade Cost Level 3</td>
                                                <td class="align-middle">18 Gold</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                            <span class="pageSubtitle"> Heros </span>
                            <hr>
                            <section id="Unit-Table">
                                <div class="table-responsive" id="Unit-TableDiv">
                                    <table class="table table-striped table-bordered">
                                        <thead class="table-dark" id="Unit-TableHead">
                                            <tr id="Unit-TableHeadRow">
                                                <th class="align-middle">
                                                    Type
                                                </th>
                                                <th class="align-middle">
                                                    Description
                                                </th>
                                                <th class="align-middle">
                                                    Icon
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="align-middle"><a href="../upgrade paths/Golem.html"> Golem </a></td>
                                                <td class="align-middle">Very sturdy unit that deals both splash damage, as well as plenty of single target damage. Perfect for your frontline when supported by other untis.</td>
                                                <td class="align-middle">
                                                    <img src="../../../pictures/leveling icons/Golem_Icon.png" alt="picture of the Unit-Icon" class="levelRewardIcon">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle"><a href="../upgrade paths/Support_Mage.html"> Support Mage </a></td>
                                                <td class="align-middle">Heals you and allied units in range and absorbs magical projectiles in a wide radius.</td>
                                                <td class="align-middle">
                                                    <img src="../../../pictures/leveling icons/Support_Mage_Icon.png" alt="picture of the Unit-Icon" class="levelRewardIcon">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle"><a href="../upgrade paths/Firewing.html"> Firewing </a></td>
                                                <td class="align-middle">A flying unit that deals splash damage to ground and airborne enemies.</td>
                                                <td class="align-middle">
                                                    <img src="../../../pictures/leveling icons/Firewing_Icon.png" alt="picture of the Unit-Icon" class="levelRewardIcon">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle"><a href="../upgrade paths/Lizzard_Rider.html"> Lizzard Rider </a></td>
                                                <td class="align-middle">Fast archer unit that focusses on important targets like low health enemies, flying monsters or enemy support units. Additionally the lizzard can perform a melee attack.</td>
                                                <td class="align-middle">
                                                    <img src="../../../pictures/leveling icons/Lizzard_Rider_Icon.png" alt="picture of the Unit-Icon" class="levelRewardIcon">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                            <span class="pageSubtitle"> Locations </span>
                            <hr>
                            <p>You can find Hero's Quarter on <a href="../../../game content/maps/uferwind.html"> Uferwind</a>.</p>
                        </div>
                        <div id="rightGridColumn" class="articleGridItem">
                            <div class="articleGridPicture">
                                <a href="#" target="_blank">
                                <img src="../../../pictures/buildings/Heros Quarter.png" alt="picture of a building" class="articlePicture">
                                <strong>A Hero's Quarter in-game.</strong>
                                </a>
                            </div>
                        </div>
                    </div> <!--articleGrid-->
                </div> <!--pageContentBox-->
            </div> <!--innerContainer-->
                <div id="footerDiv" hx-get="../../../parts/footer.html" hx-swap="innerHTML" hx-trigger="load">
                    <!-- Footer to be injected by htmx -->
                </div>
        </div> <!--mainPageContainer-->        
    </body>
</html>