.websiteSideBar
{        
    /*background-color: var(--foregroundColour);*/
    border: 0px red solid;
    width: 15%;
    float: left;
    padding: 15px;
    margin-right: 0px;
    border-radius: 5px;
}

.primaryList
{
    font-weight: bold;
    list-style: none;
    font-size: 1.05em;
}
.secondaryList
{
    font-weight: normal;
    list-style: none;
    font-size: 0.95em;
    margin-left: -20px;
}
.menuItemLink:link
{
    color: black;
}
.menuItemLink:visited
{
    color: black;
}
.menuItemLink:hover
{
    color: var(--orange1);
    text-decoration:underline;
}
.menuItemGroup
{
    margin-top: 7.54px;
}

#mainWebsiteTitle
{
    font-size: xx-large;
    font-weight: bold;
}