<!DOCTYPE html>
<!--
	W H A T   A R E   Y O U   D O I N G   I N   M Y   C O D E ? ! 
	
			⢀⡴⠑⡄⠀⠀⠀⠀⠀⠀⠀⣀⣀⣤⣤⣤⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠸⡇⠀⠿⡀⠀⠀⠀⣀⡴⢿⣿⣿⣿⣿⣿⣿⣿⣷⣦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠑⢄⣠⠾⠁⣀⣄⡈⠙⣿⣿⣿⣿⣿⣿⣿⣿⣆⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⢀⡀⠁⠀⠀⠈⠙⠛⠂⠈⣿⣿⣿⣿⣿⠿⡿⢿⣆⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⢀⡾⣁⣀⠀⠴⠂⠙⣗⡀⠀⢻⣿⣿⠭⢤⣴⣦⣤⣹⠀⠀⠀⢀⢴⣶⣆ 
			⠀⠀⢀⣾⣿⣿⣿⣷⣮⣽⣾⣿⣥⣴⣿⣿⡿⢂⠔⢚⡿⢿⣿⣦⣴⣾⠁⠸⣼⡿ 
			⠀⢀⡞⠁⠙⠻⠿⠟⠉⠀⠛⢹⣿⣿⣿⣿⣿⣌⢤⣼⣿⣾⣿⡟⠉⠀⠀⠀⠀⠀ 
			⠀⣾⣷⣶⠇⠀⠀⣤⣄⣀⡀⠈⠻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠉⠈⠉⠀⠀⢦⡈⢻⣿⣿⣿⣶⣶⣶⣶⣤⣽⡹⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠉⠲⣽⡻⢿⣿⣿⣿⣿⣿⣿⣷⣜⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿⣷⣶⣮⣭⣽⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⣀⣀⣈⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠇⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠃⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠛⠻⠿⠿⠿⠿⠛⠉
			
		Created by GhostMiner, June/July 2023.
		> Ghost-Miner.Github.io,
		> YouTube.com/GhostMinerMC
-->
<html lang="en">
	<head>
		<title>Hall of Fame | Thronefall Wiki</title>
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<!-- Page meta infromation -->
		<meta name="description" content="An official wiki for Thronefall">
		<meta name="keywords" content="Thronefall, leaderBoard, grizzly games, speedrun, wiki, fandom">
		<meta name="language" content="en">
		<meta name='robots' content="index,follow">
		<meta name='author' content="GhostMiner & ItsMeRaven"> 
		<!-- Bootstrap and other CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

        <link rel="stylesheet" href="../../../styles/mainMenu.css"> <!-- Main menu styling -->
        <link rel="stylesheet" href="../../../styles/article.css">  <!-- Styling of wiki content - individual articles -->
        <link rel="stylesheet" href="../../../styles/global.css">   <!-- Website styling  -->
		<link rel="stylesheet" href="../../../styles/overrides.css">

        <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>

		<script src="../../../scripts/toggleMobiMenu.js"></script>

		<link rel="shortcut icon" type="image/jpg" href="../../../pictures/crown.png">
	</head>
    <body>
        <div id="mainPageContainer">
			<div id="mobiNavDiv" hx-get="../../../parts/mobiNav.html" hx-swap="innerHTML" hx-trigger="load">
				<img src="../../../pictures/loading edit.gif" id="loadingMobiMenuGif">
				<!-- Veritcal navbar goes here -->
			</div>
            <div id="innerContainer">
                <div id="websiteSideBar" hx-get="../../../parts/sidebar.html" hx-swap="innerHTML" hx-trigger="load">                    
                    <!-- Menu and header to be injected by htmx -->
                </div>

                <div id="pageContentBox">
                    <div class="articleGrid">
                        <div class="articleGridItemWide">
                            <span class="pageTitle">Hall of Fame</span>
                            <hr class="mainSeparator">
                            <p>This is the Hall of Fame! Below you can see all the amazing Thronefall players, who have managed to get on the podium in official Thronefall events/tournaments!</p>
                            <br>
                            <span class="pageSubtitle">🥇 First Places:</span>
                            <hr>
                            <section id="Bow-Table">
								<div class="table-responsive" id="Archer-TableDiv">
									<table class="table table-striped table-bordered">
										<thead class="table-dark" id="Archer-TableHead">
											<tr id="Archer-TableHeadRow">
												<th class="align-middle">
													Player
												</th>
												<th class="align-middle">
													Score
												</th>
												<th class="align-middle">
													Event
												</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="align-middle"><strong>ItsMeRaven</strong></td>
												<td class="align-middle"><a href="https://youtu.be/mhlRzLHGZAc">66295</a></td>
												<td class="align-middle"><a href="./events/lightning_desert.html">Lightning Desert Challenge</a></td>
											</tr>
										</tbody>
									</table>
								</div>
							</section>
                            <br><br>
                            <span class="pageSubtitle">🥈 Second Places:</span>
                            <hr>
                            <section id="Bow-Table">
								<div class="table-responsive" id="Archer-TableDiv">
									<table class="table table-striped table-bordered">
										<thead class="table-dark" id="Archer-TableHead">
											<tr id="Archer-TableHeadRow">
												<th class="align-middle">
													Player
												</th>
												<th class="align-middle">
													Score
												</th>
												<th class="align-middle">
													Event
												</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="align-middle"><strong>LTU_Adas</strong></td>
												<td class="align-middle"><a href="https://www.youtube.com/watch?v=cR3r0g_NKJg">65441</a></td>
												<td class="align-middle"><a href="./events/lightning_desert.html">Lightning Desert Challenge</a></td>
											</tr>
										</tbody>
									</table>
								</div>
							</section>
                            <br><br>
                            <span class="pageSubtitle">🥉 Third Places:</span>
                            <hr>
                            <section id="Bow-Table">
								<div class="table-responsive" id="Archer-TableDiv">
									<table class="table table-striped table-bordered">
										<thead class="table-dark" id="Archer-TableHead">
											<tr id="Archer-TableHeadRow">
												<th class="align-middle">
													Player
												</th>
												<th class="align-middle">
													Score
												</th>
												<th class="align-middle">
													Event
												</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="align-middle"><strong>lich46</strong></td>
												<td class="align-middle"><a href="https://www.youtube.com/watch?v=BC2BTV04L0I">64691</a></td>
												<td class="align-middle"><a href="./events/lightning_desert.html">Lightning Desert Challenge</a></td>
											</tr>
										</tbody>
									</table>
								</div>
							</section>
                        </div>
                    </div>
                </div>
            </div>
            <div id="footerDiv" hx-get="../../../parts/footer.html" hx-swap="innerHTML" hx-trigger="load">
                <!-- Footer to be injected by htmx -->
            </div>
        </div>
    </body>
</html> 