<!DOCTYPE html>
<!--
	W H A T   A R E   Y O U   D O I N G   I N   M Y   C O D E ? ! 
	
			⢀⡴⠑⡄⠀⠀⠀⠀⠀⠀⠀⣀⣀⣤⣤⣤⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠸⡇⠀⠿⡀⠀⠀⠀⣀⡴⢿⣿⣿⣿⣿⣿⣿⣿⣷⣦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠑⢄⣠⠾⠁⣀⣄⡈⠙⣿⣿⣿⣿⣿⣿⣿⣿⣆⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⢀⡀⠁⠀⠀⠈⠙⠛⠂⠈⣿⣿⣿⣿⣿⠿⡿⢿⣆⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⢀⡾⣁⣀⠀⠴⠂⠙⣗⡀⠀⢻⣿⣿⠭⢤⣴⣦⣤⣹⠀⠀⠀⢀⢴⣶⣆ 
			⠀⠀⢀⣾⣿⣿⣿⣷⣮⣽⣾⣿⣥⣴⣿⣿⡿⢂⠔⢚⡿⢿⣿⣦⣴⣾⠁⠸⣼⡿ 
			⠀⢀⡞⠁⠙⠻⠿⠟⠉⠀⠛⢹⣿⣿⣿⣿⣿⣌⢤⣼⣿⣾⣿⡟⠉⠀⠀⠀⠀⠀ 
			⠀⣾⣷⣶⠇⠀⠀⣤⣄⣀⡀⠈⠻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠉⠈⠉⠀⠀⢦⡈⢻⣿⣿⣿⣶⣶⣶⣶⣤⣽⡹⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠉⠲⣽⡻⢿⣿⣿⣿⣿⣿⣿⣷⣜⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿⣷⣶⣮⣭⣽⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⣀⣀⣈⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠇⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠃⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠛⠻⠿⠿⠿⠿⠛⠉
			
		Created by GhostMiner, June/July 2023.
		> Ghost-Miner.Github.io,
		> YouTube.com/GhostMinerMC
-->
<html lang="en">
	<head>
		<title>Sword | Thronefall Wiki</title>
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<!-- Bootstrap and other CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

        <link rel="stylesheet" href="../../../styles/mainMenu.css"> <!-- Main menu styling -->
        <link rel="stylesheet" href="../../../styles/article.css">  <!-- Styling of wiki content - individual articles -->
        <link rel="stylesheet" href="../../../styles/global.css">   <!-- Website styling  -->
		<link rel="stylesheet" href="../../../styles/overrides.css">

        <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>

		<script src="../../../scripts/toggleMobiMenu.js"></script>

		<link rel="shortcut icon" type="image/jpg" href="../../../pictures/crown.png">
	</head>
    <body>
        <style>
        </style>

        <div id="mainPageContainer">
			<div id="mobiNavDiv" hx-get=".../parts/mobiNav.html" hx-swap="innerHTML" hx-trigger="load">
				<img src="../../../pictures/loading edit.gif" id="loadingMobiMenuGif">
				<!-- Veritcal navbar goes here -->
			</div>
            <div id="innerContainer">
                <div id="websiteSideBar" hx-get="../../../parts/sidebar.html" hx-swap="innerHTML" hx-trigger="load">   
                    <!-- Menu and header to be injected by htmx -->
                </div>

                <div id="pageContentBox">
                    <div class="articleGrid">
                        <div class="articleGridItemWide">
                            <span class="pageTitle"> Sword </span>
                            <hr class="mainSeparator">
                        </div>

                        <div class="articleGridItem">
                            <span class="pageSubtitle"> General </span>
                            <hr>
                            <p><strong>The sword is the third availabe weapon in the game, unlocked at level 13.</strong></p>
                            <p>It deals medium damage in an area against multiple enemies.</p>
                            <p>It's active ability deals medium damage around the king in a circle.</p>
                            <br>
                            <span class="pageSubtitle"> Details</span>
                            <hr>
                            <span class="pageSubtitle"> Passive Attack </span>

                                <section id="Bow-Table">
                                    <div class="table-responsive" id="Archer-TableDiv">
                                        <table class="table table-striped table-bordered">
                                            <thead class="table-dark" id="Archer-TableHead">
                                                <tr id="Archer-TableHeadRow">
                                                    <th class="align-middle">
                                                        Statistic
                                                    </th>
                                                    <th class="align-middle">
                                                        Value
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>                                           
                                                <tr>
                                                    <td class="align-middle">Attacks per second</td>
                                                    <td class="align-middle">1</td>
                                                </tr>
                                                <tr>
                                                    <td class="align-middle">Attack Range</td>
                                                    <td class="align-middle">4 (Melee)</td>
                                                </tr>
                                                <tr>
                                                    <td class="align-middle">Base Damage</td>
                                                    <td class="align-middle">3.3</td>
                                                </tr>                                                
                                                <tr>
                                                    <td class="align-middle">Damage vs. Player Resistant</td>
                                                    <td class="align-middle">x0.5</td>
                                                </tr>                                                                                              
                                                <tr>
                                                    <td class="align-middle">Damage vs. Boss</td>
                                                    <td class="align-middle">x3</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </section>

                                <span class="pageSubtitle"> Active Ability</span>

                                <section id="Bow-Table">
                                    <div class="table-responsive" id="Archer-TableDiv">
                                        <table class="table table-striped table-bordered">
                                            <thead class="table-dark" id="Archer-TableHead">
                                                <tr id="Archer-TableHeadRow">
                                                    <th class="align-middle">
                                                        Statistic
                                                    </th>
                                                    <th class="align-middle">
                                                        Value
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>                                                
                                                <tr>
                                                    <td class="align-middle">Cooldown</td>
                                                    <td class="align-middle">9s</td>
                                                </tr> 
                                                <tr>
                                                    <td class="align-middle">Attack Range</td>
                                                    <td class="align-middle">4 (Melee)</td>
                                                </tr>  
                                                <tr>
                                                    <td class="align-middle">Base Damage</td>
                                                    <td class="align-middle">6.3</td>
                                                </tr>                                                
                                                <tr>
                                                    <td class="align-middle">Damage vs. Player Resistant</td>
                                                    <td class="align-middle">x0.5</td>
                                                </tr>                                                                                              
                                                <tr>
                                                    <td class="align-middle">Damage vs. Boss</td>
                                                    <td class="align-middle">x3</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </section>
                                <p>The damage dealt is calculated with this formular: <span class="codeBlock"> Base Damage x Type Value 1 x Type Value 2 x ... x Type Value n</span>, where n is the amount of types that the enemy has (all types that are not provided in the table above have a Value of 1).</p>
                        </div>
                        <div class="articleGridItem">
                            <div class="pictureContainer">
                                <a href="#" target="_blank">
                                       <img src="../../../pictures/leveling icons/Sword_Icon.png" alt="Icon of the sword." style="width: 20%; height: auto; padding-bottom: 5px;">
                                       <br> <strong>Icon of the Sword.</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="footerDiv" hx-get="./parts/footer.html" hx-swap="innerHTML" hx-trigger="load">
                <!-- Footer to be injected by htmx -->
            </div>
        </div>
    </body>
</html>