#lbstatsTitle {
	font-weight: 600;
	font-size: 1.75rem;
	text-align: left
}

#subsByDayRadios {
	text-align: left
}

#LeaderBoardstatisticsSection {
	text-align: center;
	max-width: 1100px;
	margin: auto;
	/* display: none */
}

.graphDiv {
	height: 350px;
	/* background: var(--backgroundColourTransparent); */
    /* background: black; */
    border: 1px black solid;
	border-radius: 10px;
	padding: 10px 10px 10px 5px;
	margin: 5px auto 3px;
	text-align: center;
	width: 100%
}

.graphTitle {
	font-weight: bold;
	font-size: 1.32rem
}

.splitRowGraph {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 10px;
	margin-bottom: 15px
}
.splitRowGraph-3 {
	display: grid;
	grid-template-columns: 1fr 0.8fr 1fr;
	column-gap: 10px;
	margin-bottom: 15px
}
zz
#subNamesDiv,
#usedVersionDiv {
	height: 550px
}

#mutatorNamesGraphDiv,
#perkNamesGraphDiv {
	height: 600px
}

.dailySubsGraphLabel {
	font-weight: 600;
	font-size: 1.05rem
}

#dailySubsDiv {
	margin-bottom: 3px
}

#textStatsSection {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin: auto auto 25px;
	width: 100%;
	column-gap: 10px;
	row-gap: 10px
}

.textStatDiv {
	/* background: var(--backgroundColourTransparent); */
    /* background: black; */
	border-radius: 10px;
	border: 1px solid black;
	width: 100%;
	height: 100%;
	padding: 10px;
	display: grid;
	align-items: center;
	justify-content: center
}

.textStatValue {
	font-weight: bold;
	font-size: 1.75rem
}

.textStatTitle {
	font-size: 1.1rem
}