<html lang="en">
	<head>
		<title>Shadow In The Water | Thronefall Wiki</title>
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<!-- Page meta infromation -->
		<meta name="description" content="An official wiki for Thronefall">
		<meta name="keywords" content="Thronefall, leaderBoard, grizzly games, speedrun, wiki, fandom">
		<meta name="language" content="en">
		<meta name='robots' content="index,follow">
		<meta name='author' content="GhostMiner & ItsMeRaven"> 
		<!-- Bootstrap and other CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

        <link rel="stylesheet" href="../../../styles/mainMenu.css"> <!-- Main menu styling -->
        <link rel="stylesheet" href="../../../styles/article.css">  <!-- Styling of wiki content - individual articles -->
        <link rel="stylesheet" href="../../../styles/global.css">   <!-- Website styling  -->
		<link rel="stylesheet" href="../../../styles/overrides.css">

        <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>

		<script src="../../../scripts/toggleMobiMenu.js"></script>
        
		<link rel="shortcut icon" type="image/jpg" href="../../../pictures/crown.png">
	</head>
    <body>


        <div id="mainPageContainer">
			<div id="mobiNavDiv" hx-get="../../../parts/mobiNav.html" hx-swap="innerHTML" hx-trigger="load">
				<img src="../../../pictures/loading edit.gif" id="loadingMobiMenuGif">
				<!-- Veritcal navbar goes here -->
			</div>
            <div id="innerContainer">
                <div id="websiteSideBar" hx-get="../../../parts/sidebar.html" hx-swap="innerHTML" hx-trigger="load">   
                    <!-- Menu and header to be injected by htmx --> 
                </div>
                <div id="pageContentBox">
                    <div class="articleGrid">
                    <div class="articleGridItemWide">
                    <span class="pageTitle"> Shadow In The Water </span>
                    <hr class="mainSeparator">
                    </div>
                        <div class="articleGridItem">
                                <span class="pageSubtitle"> General </span>
                                <hr>
                                <p>The Shadow In The Water is a boss enemy in Thronefall. They are encountered in the colder regions of the kingdom of Thronefall. While referred to as "Shadow In The Water" in-game, the name given by the developers is "Eismoloch" (german for "Ice Juggernaut").<br></p>
                                <p>Unlike all the other enemies in Thronefall, the Shadow In The Water spawns units instead of dealing damage directly. It takes damage everytime it does so and dealing additional damage to the boss reduces the amount of enemies it can spawn.</p>
                                <br>
                                <span class="pageSubtitle">Attack Pattern</span>
                                <hr>
                                <p>Upon spawning, the boss instantly destroys the 2 fishing harbours (and their fishing ships), that are on the lake in the middle of the map.</p><br>
                                <p>The Shadow In The Water has 5 location where it spawns enemies. All these locations are at the edge of the lake in the middle of the map: 1. south-east, 2. south-west, 3. north-east, 4. north-west, 5. north. It starts spawning enemies in the south-east and changes its location everytime the healthbar depletes. In total, it spawns units in every location twice in the following pattern: </p>
                                <p> 1. south-east, 2. south-west, 3. south-east, 4. south-west, 5. north-east, 6. north-west, 7. north, 8. north-east, 9. north-west, 10. north</p>
                                <br>
                                <span class="pageSubtitle"> Characteristics </span>
                                <hr>
                                    <section id="Big Walrus-Table">
                                        <div class="table-responsive" id="Big Walrus-TableDiv">
                                            <table class="table table-striped table-bordered">
                                                <thead class="table-dark" id="Big Walrus-TableHead">
                                                    <tr id="Big Walrus-TableHeadRow">
                                                        <th class="align-middle">
                                                            Category
                                                        </th>
                                                        <th class="align-middle">
                                                            Info
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="align-middle">Name</td>
                                                        <td class="align-middle">Shadow In The Water</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="align-middle">Icon</td>
                                                        <td class="align-middle">
                                                            <img src="../../../pictures/enemies/shadow_Icon.png" alt="picture of the reward" class="enemyIcon">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="align-middle">Unit Type</td>
                                                        <td class="align-middle">Boss, Monster</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="align-middle">Preferred Target</td>
                                                        <td class="align-middle">None</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="align-middle">Targets Player</td>
                                                        <td class="align-middle">Never</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </section>
                                    <span class="pageSubtitle"> Details</span>
                            <hr>
                            <span class="pageSubtitle"> Attack Statistics</span>
                        <section id="Bow-Table">
                            <div class="table-responsive" id="Archer-TableDiv">
                                <table class="table table-striped table-bordered">
                                    <thead class="table-dark" id="Archer-TableHead">
                                        <tr id="Archer-TableHeadRow">
                                            <th class="align-middle">
                                                Statistic
                                            </th>
                                            <th class="align-middle">
                                                Value
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>                                                
                                        <tr>
                                            <td class="align-middle">Attacks per second</td>
                                            <td class="align-middle">0.167</td>
                                        </tr>          
                                        <tr>
                                            <td class="align-middle">Units Spawned</td>
                                            <td class="align-middle">10 <a href="../enemies/slime.html">Slimes</a>:<br> Slimes are small melee monsters without much brain, so they will just attack whatever is closest to them. They usually appear in groups, which makes them vulnerable against splash damage.<br><br> 5 <a href="../enemies/Spiky Slime.html">Spiky Slimes</a>:<br>Spiky Slimes are small melee monsters without much brain, so they will just attack whatever is closest to them. They usually appear in groups, which makes them vulnerable against splash damage. Spiky slimes have more health and attack than normal slimes.<br><br> 5 <a href="../enemies/racer.html">Racers</a>:<br>Racers are fast rolling monsters, that are not messing around. They aim right for your castle center and are somewhat armored against attacks from the player character.</td>
                                        </tr>      
                                        <tr>
                                            <td class="align-middle">Selfdamage when Attacking</td>
                                            <td class="align-middle">100/s (200 total per attack)</td>
                                        </tr>                                                                                                      
                                    </tbody>
                                </table>
                            </div>
                        </section>
                        <br><span class="pageSubtitle"> Defense Statistics </span>
                        <section id="Bow-Table">
                            <div class="table-responsive" id="Archer-TableDiv">
                                <table class="table table-striped table-bordered">
                                    <thead class="table-dark" id="Archer-TableHead">
                                        <tr id="Archer-TableHeadRow">
                                            <th class="align-middle">
                                                Statistic
                                            </th>
                                            <th class="align-middle">
                                                Value
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>                                                
                                        <tr>
                                            <td class="align-middle">Health Points</td>
                                            <td class="align-middle">10x1500 (15000 total)</td>
                                        </tr>                                                
                                        <tr>
                                            <td class="align-middle">Transition Speed</td>
                                            <td class="align-middle">10s</td>
                                        </tr>                                                                                                                                                                                                                            
                                    </tbody>
                                </table>
                            </div>
                        </section>
                        <br>
                                    <span class="pageSubtitle"> Encounters </span>
                                    <hr>
                                    <p>You can encounter the Shadow In The Water in <a href="../../../game content/maps/frostsee.html">Frostsee</a>.</p>
                                    </div>
<div id="rightGridColumn" class="articleGridItem">
                            <div class="articleGridPicture">
                                    <a href="../../../pictures/enemies/shadow.png" target="_blank">
                                        <img src="../../../pictures/enemies/shadow.png" alt="picture of an enemy" class="articlePicture">
                                    </a>
                                    <strong>The "Shadow In The Water" in-game.</strong>
                                </div>  
                                <br>
                                <div class="articleGridPicture">
                                    <a href="../../../pictures/enemies/attack_pattern_shadow.png" target="_blank">
                                        <img src="../../../pictures/enemies/attack_pattern_shadow.png" alt="picture of shadow attack pattern" class="articlePicture">
                                    </a>
                                    <strong>The Attack Pattern in-game.</strong>
                                </div>  
                                <br>
                                <div class="articleGridPicture">
                                    <a href="../../../pictures/enemies/destroyed_harbours.png" target="_blank">
                                        <img src="../../../pictures/enemies/destroyed_harbours.png" alt="picture of destroyed_harbours" class="articlePicture">
                                    </a>
                                    <strong>The destroyed Fishing Harbours in-game.</strong>
                                </div>  
                                <br>
                            </div></div>
                </div>
            </div>
                            <div id="footerDiv" hx-get="../../../parts/footer.html" hx-swap="innerHTML" hx-trigger="load">
                                    <!-- Footer to be injected by htmx -->
                            </div>
                        </div>
                    </body>
                </html>