<!DOCTYPE html>
<!--
	W H A T   A R E   Y O U   D O I N G   I N   M Y   C O D E ? ! 
	
			⢀⡴⠑⡄⠀⠀⠀⠀⠀⠀⠀⣀⣀⣤⣤⣤⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠸⡇⠀⠿⡀⠀⠀⠀⣀⡴⢿⣿⣿⣿⣿⣿⣿⣿⣷⣦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠑⢄⣠⠾⠁⣀⣄⡈⠙⣿⣿⣿⣿⣿⣿⣿⣿⣆⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⢀⡀⠁⠀⠀⠈⠙⠛⠂⠈⣿⣿⣿⣿⣿⠿⡿⢿⣆⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⢀⡾⣁⣀⠀⠴⠂⠙⣗⡀⠀⢻⣿⣿⠭⢤⣴⣦⣤⣹⠀⠀⠀⢀⢴⣶⣆ 
			⠀⠀⢀⣾⣿⣿⣿⣷⣮⣽⣾⣿⣥⣴⣿⣿⡿⢂⠔⢚⡿⢿⣿⣦⣴⣾⠁⠸⣼⡿ 
			⠀⢀⡞⠁⠙⠻⠿⠟⠉⠀⠛⢹⣿⣿⣿⣿⣿⣌⢤⣼⣿⣾⣿⡟⠉⠀⠀⠀⠀⠀ 
			⠀⣾⣷⣶⠇⠀⠀⣤⣄⣀⡀⠈⠻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠉⠈⠉⠀⠀⢦⡈⢻⣿⣿⣿⣶⣶⣶⣶⣤⣽⡹⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠉⠲⣽⡻⢿⣿⣿⣿⣿⣿⣿⣷⣜⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿⣷⣶⣮⣭⣽⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⣀⣀⣈⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠇⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠃⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠛⠻⠿⠿⠿⠿⠛⠉
			
		Created by GhostMiner, June-August 2023.
		> Ghost-Miner.Github.io,
		> YouTube.com/GhostMinerMC
-->
<html lang="en">
	<head>
		<title>Frostsee | Thronefall Wiki</title>
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<!-- Page meta infromation -->
		<meta name="description" content="A wiki for the game Thronefall">
		<meta name="keywords" content="Thronefall, leaderBoard, grizzly games, speedrun, wiki, fandom">
		<meta name="language" content="en">
		<meta name='robots' content="index,follow">
		<meta name='author' content="GhostMiner & ItsMeRaven"> 
		<!-- Bootstrap and other CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

        <link rel="stylesheet" href="../../../styles/mainMenu.css"> <!-- Main menu styling -->
        <link rel="stylesheet" href="../../../styles/article.css">  <!-- Styling of wiki content - individual articles -->
        <link rel="stylesheet" href="../../../styles/global.css">   <!-- Website styling  -->
		<link rel="stylesheet" href="../../../styles/overrides.css">

        <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>

		<script src="../../../scripts/toggleMobiMenu.js"></script>
        
		<link rel="shortcut icon" type="image/jpg" href="../../../pictures/crown.png">
	</head>
    <body>
        <style>
            body 
            {
                background-image: url("../../../pictures/Maps/Frostsee/frostsee_empty_clean.png");
            }
            .galleryGrid
            {
                grid-template-columns: repeat(3,1fr);
                max-width: 75%;
            }
        </style>

        <div id="mainPageContainer">
			<div id="mobiNavDiv" hx-get="../../../parts/mobiNav.html" hx-swap="innerHTML" hx-trigger="load">
				<img src="../../../pictures/loading edit.gif" id="loadingMobiMenuGif">
				<!-- Veritcal navbar goes here -->
			</div>
            <div id="innerContainer">
                <div id="websiteSideBar" hx-get="../../../parts/sidebar.html" hx-swap="innerHTML" hx-trigger="load">   
                    <!-- Menu and header to be injected by htmx --> 
                </div>
                <div id="pageContentBox">
                    <div class="articleGrid">
                        <div class="articleGridItemWide">
                            <span class="pageTitle"> Frostsee </span>
                            <hr class="mainSeparator">
                        </div>

                        <div class="articleGridItem">
                            <span class="pageSubtitle"> Overview </span>
                            <hr>
                            <p><strong>Frostsee <em>(German for "Frost lake")</em> is the fourth map in the game.</strong></p>
                            <p>The map features a snowy tundra design, 2 new buildings, 4 new enemies and a boss. It is also the currently hardest map playable.</p>
                            
                            <span class="pageSubtitle"> Map composition</span>
                            <hr>
                            <p>This map features wide open areas, a few lakes and a buildable outpost. Everything is surrounded by icy mountains and water, resulting in 5 spawn areas, one being an ice cave.</p>

                            <span class="pageSubtitle">Map details</span>
                            <hr>
                            <span class="pageSubtitleSmall">Quests</span>
                            <table class="table table-striped table-bordered mapDetailsTable">
                                <thead class="table-dark">
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>A.</td>
                                        <td>Achieve a victory</td>
                                    </tr>
                                    <tr>
                                        <td>B.</td>
                                        <td>Achieve a victory with &#160;<a href="../weapons/Sword.html"><img src="../../../pictures/leveling icons/Sword_Icon.png" alt="Icon of the Sword" style="width: 5%; height: auto;"></a>&#160;<a href="../mutators/snake_god.html"><img src="../../../pictures/leveling icons/Snake_God_Icon.png" alt="Icon of the Snake Mutator" style="width: 5%; height: auto;"></a></td>
                                    </tr>
                                    <tr>
                                        <td>C.</td>
                                        <td>Achieve a victory with &#160;<a href="../weapons/Spear.html"><img src="../../../pictures/leveling icons/Spear_Icon.png" alt="Icon of the Spear" style="width: 5%; height: auto;"></a>&#160;<a href="../mutators/falcon_god.html"><img src="../../../pictures/leveling icons/Falcon_God_Icon.png" alt="Icon of the Falcon Mutator" style="width: 5%; height: auto;"></a>&#160;<a href="../mutators/destruction_god.html"><img src="../../../pictures/leveling icons/God_of_Destruction_Icon.png" alt="Icon of the Destruction God Mutator" style="width: 5%; height: auto;"></a></td>
                                    </tr>
                                    <tr>
                                        <td>D.</td>
                                        <td>Achieve a highscore of <b>12500</b></td>
                                    </tr>
                                    <tr>
                                        <td>E.</td>
                                        <td>Achieve a victory with &#160;<a href="../mutators/death_god.html"><img src="../../../pictures/leveling icons/God_of_Death_Icon.png" alt="Icon of the Death God Mutator" style="width: 5%; height: auto;"></a>&#160;<a href="../mutators/tiger_god.html"><img src="../../../pictures/leveling icons/Tiger_God_Icon.png" alt="Icon of the Tiger Mutator" style="width: 5%; height: auto;"></a>&#160;<a href="../mutators/destruction_god.html"><img src="../../../pictures/leveling icons/God_of_Destruction_Icon.png" alt="Icon of the Destruction God Mutator" style="width: 5%; height: auto;"></a></td>
                                    </tr>
                                    <tr>
                                        <td>F.</td>
                                        <td>Achieve a victory with &#160;<a href="../weapons/Bow.html"><img src="../../../pictures/leveling icons/bow_icon.png" alt="Icon of the Bow" style="width: 5%; height: auto;"></a>&#160;<a href="../mutators/wasp_god.html"><img src="../../../pictures/leveling icons/Wasp_God_Icon.png" alt="Icon of the Destruction God Mutator" style="width: 5%; height: auto;"></a>&#160;<a href="../mutators/turtle_god.html"><img src="../../../pictures/leveling icons/Turtle_God_Icon.png" alt="Icon of the Turtle Mutator" style="width: 5%; height: auto;"></a></td>
                                    </tr>
                                </tbody>
                            </table>
                            
                            <span class="pageSubtitleSmall">Spawned enemies</span>
                            <table class="table table-striped table-bordered mapDetailsTable">
                                <thead class="table-dark">
                                    <tr>
                                        <th>Night</th>
                                        <th>Enemies</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>7 <a href="../enemies/swordsman.html" title="swordsman">Swordsmen</a></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>17 <a href="../enemies/slime.html" title="slime">Slimes</a></td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>4 <a href="../enemies/Elite Crossbow Men.html" title="elite crossbow man">Elite Crossbow Men</a></td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>45 <a href="../enemies/slime.html" title="slime">Slimes</a></td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>10 <a href="../enemies/swordsman.html" title="swordsman">Swordsmen</a>, 1 <a href="../enemies/Ram.html" title="ram">Ram</a></td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>9 <a href="../enemies/Wasp.html" title="wasp">Wasps</a></td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>14 <a href="../enemies/Elite Crossbow Men.html" title="elite crossbow man">Elite Crossbow Men</a>, 2 <a href="../enemies/Ram.html" title="ram">Rams</a></td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>30 <a href="../enemies/Spiky Slime.html" title="spiky slime">Spiky Slimes</a>, 8 <a href="../enemies/Racer.html" title="racer">Racers</a></td>
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td>33 <a href="../enemies/Wasp.html" title="wasp">Wasps</a></td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>40 <a href="../enemies/swordsman.html" title="swordsman">Swordsmen</a>, 10 <a href="../enemies/Elite Crossbow Men.html" title="elite crossbow man">Elite Crossbow Men</a>, 5 <a href="../enemies/Ogre" title="Ogre">Ogres</a>, 4 <a href="../enemies/Ram.html" title="ram">Rams</a></td>
                                    </tr>
                                    <tr>
                                        <td>11</td>
                                        <td>30 <a href="../enemies/Racer.html" title="racer">Racers</a>, 20 <a href="../enemies/Spiky Slime.html" title="spiky slime">Spiky Slimes</a>, 20 <a href="../enemies/Wasp.html" title="wasp">Wasps</a></td>
                                    </tr>
                                    <tr>
                                        <td>12</td>
                                        <td>45 <a href="../enemies/swordsman.html" title="swordsman">Swordsmen</a>, 34 <a href="../enemies/slime.html" title="slime">Slimes</a>, 20 <a href="../enemies/Racer.html" title="racer">Racers</a>, 17 <a href="../enemies/Spiky Slime.html" title="spiky slime">Spiky Slimes</a>, 10 <a href="../enemies/Hunterling.html" title="hunterling">Hunterlings</a>, 8 <a href="../enemies/Elite Crossbow Men.html" title="elite crossbow man">Elite Crossbow Men</a>, 8 <a href="../enemies/Ogre" title="Ogre">Ogres</a>, 3 <a href="../enemies/Ram.html" title="ram">Rams</a></td>
                                    </tr>
                                    <tr>
                                        <td>13</td>
                                        <td>1 <a href="../enemies/shadow.html" title="Shadow In The Water">Shadow In The Water</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                        <div id="rightGridColumn" class="articleGridItem">
                            <div class="pictureContainer" style="margin-bottom: 20px;">
                                <a href="../../../pictures/Maps/Frostsee/frostsee_empty_clean.png" target="_blank">
                                    <img class="articlePicture" src="../../../pictures/Maps/Frostsee/frostsee_empty_clean.png" alt="picture of a fully buult Frostsee castle">
                                </a>
                                <span class="articlePictureDescription">Frostsee without any buildings.</span>
                            </div>
                            <div class="articleGridPicture" style=" text-align: center">
                                <a href="../../../pictures/Maps/Frostsee/forstsee lvl select.png" target="_blank">
                                    <img class="articlePicture" src="../../../pictures/Maps/Frostsee/forstsee lvl select.png" alt="frostsee in the mapselection" class="articlePicture" style="width: 75%;">
                                </a> <br>
                                <span class="articlePictureDescription">Frostsee in the map selection.</span>
                            </div>  
                        </div>
                    </div>
                    <span class="pageSubtitle">Gallery</span>
                    <hr>
                    <div class="articleGridItem">
                        <div class="galleryGrid">    
                            <div class="galleryGridItem">
                                <a href="../../../pictures/Maps/Frostsee/Day/Frostsee Day 5.jpg" target="_blank">
                                    <img class="galleryPicture" src="../../../pictures/Maps/Frostsee/Day/Frostsee Day 5.jpg">
                                </a> <br>
                                <span class="galleryPictureDescription">Frostsee with a fully upgraded castle.</span>
                            </div>
                            <div class="galleryGridItem">
                                <a href="../../../pictures/Maps/Frostsee/frostsee_empty_clean.png" target="_blank">
                                    <img class="galleryPicture" src="../../../pictures/Maps/Frostsee/frostsee_empty_clean.png">
                                </a> <br>
                                <span class="galleryPictureDescription">Durststein without any buildings.</span>
                            </div>
                            <div class="galleryGridItem">
                                <a href="../../../pictures/Maps/Frostsee/forstsee lvl select.png" target="_blank">
                                    <img class="galleryPicture" src="../../../pictures/Maps/Frostsee/forstsee lvl select.png" style="width: 70%;">
                                </a> <br>
                                <span class="galleryPictureDescription">Durststein in the map selection.</span>
                            </div>
                        </div>
                    </div> <!-- articleGridItem -->
                </div>
            </div>
            
            <div id="footerDiv" hx-get="../../../parts/footer.html" hx-swap="innerHTML" hx-trigger="load">
                <!-- Footer to be injected by htmx -->
            </div>
        </div>
    </body>
</html>
