<!DOCTYPE html>
<!--
	W H A T   A R E   Y O U   D O I N G   I N   M Y   C O D E ? ! 
	
			⢀⡴⠑⡄⠀⠀⠀⠀⠀⠀⠀⣀⣀⣤⣤⣤⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠸⡇⠀⠿⡀⠀⠀⠀⣀⡴⢿⣿⣿⣿⣿⣿⣿⣿⣷⣦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠑⢄⣠⠾⠁⣀⣄⡈⠙⣿⣿⣿⣿⣿⣿⣿⣿⣆⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⢀⡀⠁⠀⠀⠈⠙⠛⠂⠈⣿⣿⣿⣿⣿⠿⡿⢿⣆⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⢀⡾⣁⣀⠀⠴⠂⠙⣗⡀⠀⢻⣿⣿⠭⢤⣴⣦⣤⣹⠀⠀⠀⢀⢴⣶⣆ 
			⠀⠀⢀⣾⣿⣿⣿⣷⣮⣽⣾⣿⣥⣴⣿⣿⡿⢂⠔⢚⡿⢿⣿⣦⣴⣾⠁⠸⣼⡿ 
			⠀⢀⡞⠁⠙⠻⠿⠟⠉⠀⠛⢹⣿⣿⣿⣿⣿⣌⢤⣼⣿⣾⣿⡟⠉⠀⠀⠀⠀⠀ 
			⠀⣾⣷⣶⠇⠀⠀⣤⣄⣀⡀⠈⠻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠉⠈⠉⠀⠀⢦⡈⢻⣿⣿⣿⣶⣶⣶⣶⣤⣽⡹⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠉⠲⣽⡻⢿⣿⣿⣿⣿⣿⣿⣷⣜⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿⣷⣶⣮⣭⣽⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⣀⣀⣈⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠇⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠃⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠛⠻⠿⠿⠿⠿⠛⠉
			
		Created by GhostMiner, June-August 2023.
		> Ghost-Miner.Github.io,
		> YouTube.com/GhostMinerMC
-->
<html lang="en">
	<head>
		<title>Neuland | Thronefall Wiki</title>
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<!-- Page meta infromation -->
		<meta name="description" content="An official wiki for Thronefall">
		<meta name="keywords" content="Thronefall, leaderBoard, grizzly games, speedrun, wiki, fandom">
		<meta name="language" content="en">
		<meta name='robots' content="index,follow">
		<meta name='author' content="GhostMiner & ItsMeRaven"> 
		<!-- Bootstrap and other CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

        <link rel="stylesheet" href="../../../styles/mainMenu.css"> <!-- Main menu styling -->
        <link rel="stylesheet" href="../../../styles/article.css">  <!-- Styling of wiki content - individual articles -->
        <link rel="stylesheet" href="../../../styles/global.css">   <!-- Website styling  -->
		<link rel="stylesheet" href="../../../styles/overrides.css">

        <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>
		<script src="../../../scripts/toggleMobiMenu.js"></script>        
		<link rel="shortcut icon" type="image/jpg" href="../../../pictures/crown.png">
	</head>
    <body>
        <style>
            body
            {
                background-image: url('../../../pictures/Maps/Neuland/neuland_empty.png');
            }
        </style>
        
        <div id="mainPageContainer">
			<div id="mobiNavDiv" hx-get="../../../parts/mobiNav.html" hx-swap="innerHTML" hx-trigger="load">
				<img src="../../../pictures/loading edit.gif" id="loadingMobiMenuGif">
				<!-- Veritcal navbar goes here -->
			</div>
            <div id="innerContainer">
                <div id="websiteSideBar" hx-get="../../../parts/sidebar.html" hx-swap="innerHTML" hx-trigger="load">   
                    <!-- Menu and header to be injected by htmx --> 
                </div>
                <div id="pageContentBox">
                    <div class="articleGrid">
                        <div class="articleGridItemWide">
                            <span class="pageTitle"> Neuland </span>
                            <hr class="mainSeparator">
                        </div>
                            <div class="articleGridItem">
                                <span class="pageSubtitle"> Overview </span>
                                <hr>
                                <p><strong>Neuland <em>(German for "New Land")</em> is the Tutorial of Thronefall.</strong></p>
                                <p>It teaches the Player basic mechanics like attacking, building and upgrading.<br>                            
                                Neuland is the easiest map of the game. As a tutorial, it has only one enemy spawning point located in the west. </p>
                                <br>
                                <span class="pageSubtitle"> Map composition </span>
                                <hr>
                                <p><b>Neuland</b> features a small plateau, a ramp leading to the enemy spawn point, surrounded by cliffs, a river and a forest to build your first kingdom on. 
                                This is the easiest level of the game, having extra regeneration as a part of tutorial mechanics and only having one
                                <a href="../enemies/index.html" title="Enemies">enemy</a> spawning point on the east of the map.</p>
                                <br>
                                <span class="pageSubtitle">Map details</span>
                                <hr>
                                <span class="pageSubtitleSmall">Quests</span>
                                <table class="table table-striped table-bordered mapDetailsTable">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>Name</th>
                                            <th>Description</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>A.</td>
                                            <td>Achieve a victory</td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                                <span class="pageSubtitleSmall">Spawned enemies</span> 
                                <table class="table table-striped table-bordered mapDetailsTable">
                                    <tr class="">
                                    <thead class="table-dark">
                                            <th>Night</th>
                                            <th>Enemies</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>5 <a href="../enemies/peasant.html" title="Peasant">Peasants</a></td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>6 <a href="../enemies/peasant.html" title="Peasant">Peasants</a></td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>15 <a href="../enemies/peasant.html" title="Peasant">Peasants</a></td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>25 <a href="../enemies/peasant.html" title="Peasant">Peasants</a></td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>25 <a href="../enemies/peasant.html" title="Peasant">Peasants</a></td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>15 <a href="../enemies/peasant.html" title="Peasant">Peasants</a>, 7 <a href="../enemies/archer.html" title="Archer">Archers</a></td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>20 <a href="../enemies/peasant.html" title="Peasant">Peasants</a>, 10 <a href="../enemies/archer.html" title="Archer">Archers</a></td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td>4 <a href="../enemies/ogre.html" title="Ogre">Ogres</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                                <!-- <span class="pageSubtitleSmall">Available buildings:</span>
                                <ul>
                                    <li><strong>Castle level 1:</strong> 3x House</a>, 2x Tower</li>
                                    <li><strong>Castle level 2:</strong> 7x House, 3x Tower, 1x Wall, 1x Mill, 5x Field, 1 Barracks</li>
                                </ul>                                                        -->
                            </div> <!-- articleGridItem -->
                            
                            <div id="rightGridColumn" class="articleGridItem">
                                <div class="pictureContainer"  style="margin-bottom: 20px;">
                                    <a href="../../../pictures/Maps/Neuland/neuland_empty.png" target="_blank">
                                        <img src="../../../pictures/Maps/Neuland/neuland_empty.png" alt="picture of Nordfels with castle" class="articlePicture">
                                    </a>
                                    <strong>A picutre of Neuland without any buildings.</strong>
                                </div>
                                <div class="pictureContainer" style=" text-align: center">
                                    <a href="../../../pictures/Maps/Neuland/neuland lv select.png" target="_blank">
                                        <img src="../../../pictures/Maps/Neuland/neuland lv select.png" alt="Nordfels in the mapselection" class="articlePicture" style="width: 55%;">
                                    </a> <br>
                                    <span class="articlePictureDescription">Neuland in the map selection.</span>
                                </div>  
                            </div>
                        </div>
                    </section>
                    <br>
                    <span class="pageSubtitle">Gallery</span>
                    <hr>
                    <div class="articleGridItem">
                        <div class="galleryGrid">
                            <div class="galleryGridItem">
                                <a href="../../../pictures/Maps/Neuland/nl tut p1.png" target="_blank">
                                    <img class="galleryPicture sizeOverrde" src="../../../pictures/Maps/Neuland/nl tut p1.png" alt="The starting area of Neuland">
                                </a> <br>
                                <span class="galleryPictureDescription">The starting area.</span>
                            </div>
                            <div class="galleryGridItem">
                                <a href="../../../pictures/Maps/Neuland/nl tuut p2.png" target="_blank">
                                    <img class="galleryPicture sizeOverrde" src="../../../pictures/Maps/Neuland/nl tuut p2.png" alt="The middle area of Neuland">
                                </a> <br>
                                <span class="galleryPictureDescription">The middle area.</span>
                            </div>
                            <div class="galleryGridItem">
                                <a href="../../../pictures/Maps/Neuland/neuland_empty.png" target="_blank">
                                    <img class="galleryPicture" src="../../../pictures/Maps/Neuland/neuland_empty.png" alt="third main area of Neuland">
                                </a> <br>
                                <span class="galleryPictureDescription">The third and main area.</span>
                            </div>
                            <div class="galleryGridItem">
                                    <a href="../../../pictures/Maps/Neuland/neuland lv select.png" target="_blank">
                                        <img class="galleryPicture sizeOverrde" src="../../../pictures/Maps/Neuland/neuland lv select.png" alt="Neuland in the mapselection">
                                    </a> <br>
                                    <span class="galleryPictureDescription">Neuland in the map selection.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="footerDiv" hx-get="../../../parts/footer.html" hx-swap="innerHTML" hx-trigger="load">
                <!-- Footer to be injected by htmx -->
            </div>
        </div>
    </body>
</html>
