<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Sturmklamm | Thronefall Wiki</title>
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<!-- Page meta infromation -->
		<meta name="description" content="Sturmklamm (German for Storm Revine) is the fifth map in the game. This map features a mountain design, 2 new buildings, 3 new enemies and a new boss. It is also the first map with ambient effects.">
		<meta name="keywords" content="Thronefall, leaderBoard, 'grizzly games', speedrun, wiki, fandom, sturmklamm, levels, maps">
		<meta name="language" content="en">
		<meta name='robots' content="index,follow">
		<meta name='author' content="GhostMiner & ItsMeRaven"> 
		<!-- Bootstrap and other CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

        <link rel="stylesheet" href="../../../styles/mainMenu.css"> <!-- Main menu styling -->
        <link rel="stylesheet" href="../../../styles/article.css">  <!-- Styling of wiki content - individual articles -->
        <link rel="stylesheet" href="../../../styles/global.css">   <!-- Website styling  -->
		<link rel="stylesheet" href="../../../styles/overrides.css">

        <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>

		<script src="../../../scripts/toggleMobiMenu.js"></script>
        
		<link rel="shortcut icon" type="image/jpg" href="../../../pictures/crown.png">
	</head>
    <body>
        <style>
            body 
            {
                background-image: url("../../../pictures/Maps/Durststein/durststein_empty_clean.png");
            }
            .galleryGrid
            {
                grid-template-columns: repeat(3,1fr);
                max-width: 75%;
            }
        </style>

        <div id="mainPageContainer">
			<div id="mobiNavDiv" hx-get="../../../parts/mobiNav.html" hx-swap="innerHTML" hx-trigger="load">
				<img src="../../../pictures/loading edit.gif" id="loadingMobiMenuGif" alt="loading animation">
				<!-- Veritcal navbar goes here -->
			</div>
            <div id="innerContainer">
                <div id="websiteSideBar" hx-get="../../../parts/sidebar.html" hx-swap="innerHTML" hx-trigger="load">   
                    <!-- Menu and header to be injected by htmx --> 
                </div>
                <div id="pageContentBox">
                    <div class="articleGrid">
                        <div class="articleGridItemWide">
                            <h1> Sturmklamm </h1>
                            <hr class="mainSeparator">
                        </div>
                    
                        <div class="articleGridItem">
                            <h3 id=overview> Overview </h3>
                            <hr>
                            <p><strong>Sturmklamm <em>(German for "Storm Revine")</em> is the fifth map in the game.</strong></p>
                            <p>The map features a mountain design, 2 new buildings, 3 new enemies and a new boss. It is also the first map with ambient effects (rain).</p>
                            <br>
                            <h3 id="mapComposition">Map composition</h3>
                            <hr>
                            <p>This map features many slim corridors and paths up a hill, on which your castle center stands. In the south are 4 bridges, which represent the 4 spawnpoints of ground enemies. Since one bridge is not longer standing, its spawnpoint can only be used to spawn mole-like enemies. The north is blocked by hills, where multiple spawnpoints for flying enemies are located.</p>
                            <br>
                            <h3 id="mapDetails">Map details</h3>
                                <hr>
                                <span class="pageSubtitleSmall" id="quests">Quests</span>
                                <table class="table table-striped table-bordered mapDetailsTable">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>Name</th>
                                            <th>Description</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>A.</td>
                                            <td>Achieve a victory</td>
                                        </tr>
                                        <tr>
                                            <td>B.</td>
                                            <td>Achieve a victory with &#160;<a href="../perks/glass cannon.html"><img src="../../../pictures/leveling icons/Glass_Cannon_Icon.png" alt="Icon of the Perk" style="width: 5%; height: auto;"></a>&#160;<a href="../perks/war horse.html"><img src="../../../pictures/leveling icons/War_Horse_Icon.png" alt="Icon of the Perk" style="width: 5%; height: auto;"></a>&#160;<a href="../perks/faster research.html"><img src="../../../pictures/leveling icons/Faster_Research_Icon.png" alt="Icon of the Perk" style="width: 5%; height: auto;"></a></td>
                                        </tr>
                                        <tr>
                                            <td>C.</td>
                                            <td>Achieve a victory with &#160;<a href="../mutators/range_god.html"><img src="../../../pictures/leveling icons/Range_God_Icon.png" alt="Icon of the Mutator." style="width: 5%; height: auto;"></a>&#160;<a href="../perks/loan.html"><img src="../../../pictures/leveling icons/Loan_Icon.png" alt="Icon of the Perk" style="width: 5%; height: auto;"></a>&#160;<a href="../weapons/Shadow_Codex.html"><img src="../../../pictures/leveling icons/Shadow_Codex_Icon.png" alt="Icon of the Weapon" style="width: 5%; height: auto;"></a></td>
                                        </tr>
                                        <tr>
                                            <td>D.</td>
                                            <td>Achieve a victory with &#160;<a href="../mutators/growth_god.html"><img src="../../../pictures/leveling icons/Growth_God_Icon.png" alt="Icon of the Mutator" style="width: 5%; height: auto;"></a>&#160;<a href="../mutators/no_units_pact.html"><img src="../../../pictures/leveling icons/No_Units_Pact_Icon.png" alt="Icon of the Mutator" style="width: 5%; height: auto;"></a></td>
                                        </tr>
                                        <tr>
                                            <td>E.</td>
                                            <td>Achieve a highscore of <b>13500</b></td>
                                        </tr>
                                        <tr>
                                            <td>F.</td>
                                            <td>Achieve a victory with &#160;<a href="../mutators/elite_god.html"><img src="../../../pictures/leveling icons/Elite_God_Icon.png" alt="Icon of the Mutator" style="width: 5%; height: auto;"></a></td>
                                        </tr>
                                    </tbody>
                                </table>

                                <span class="pageSubtitleSmall">Enemies</span>
                                <table class="table table-striped table-bordered mapDetailsTable">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>Night</th>
                                            <th>Enemiess</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>3 <a href="../enemies/Archer.html" title="Archer">Archers</a>, 3 <a href="../enemies/Pikes.html" title="Pikes">Pikes</a></td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>5 <a href="../enemies/Mole_Knight.html" title="Mole Knight">Mole Knights</a></td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>12 <a href="../enemies/Archer.html" title="Archer">Archers</a>, 9 <a href="../enemies/Pikes.html" title="Pikes">Pikes</a></td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>8 <a href="../enemies/Wasp.html" title="Wasps">Wasps</a>, 6 <a href="../enemies/Fury.html" title="Furies">Furies</a></td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>8 <a href="../enemies/Mole_Archer.html" title="Mole Archer">Mole Archers</a>, 8 <a href="../enemies/Mole_Knight.html" title="Mole Knight">Mole Knights</a></td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>30 <a href="../enemies/Archer.html" title="Archer">Archers</a>, 6 <a href="../enemies/Ogre.html" title="Ogres">Ogres</a>, 3 <a href="../enemies/Catapults.html" title="Catapults">Catapults</a></td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>30 <a href="../enemies/Monster Rider.html" title="Monster Riders">Monster Riders</a>, 30 <a href="../enemies/Racer.html" title="Racers">Racers</a>, 20 <a href="../enemies/Mole_Knight.html" title="Mole Knight">Mole Knights</a>, 20 <a href="../enemies/Flying_Mage.html" title="Flying Mages">Flying Mages</a></td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td>36 <a href="../enemies/Pikes.html" title="Pikes">Pikes</a>, 9 <a href="../enemies/Quicksling.html" title="Quicksling">Quickslings</a></td>
                                        </tr>
                                        <tr>
                                            <td>9</td>
                                            <td>60 <a href="../enemies/Mole_Archer.html" title="Mole Archer">Mole Archers</a>, 40 <a href="../enemies/Mole_Knight.html" title="Mole Knight">Mole Knights</a>, 6 <a href="../enemies/exploder.html" title="Exploders">Exploders</a></td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>90 <a href="../enemies/Racer.html" title="Racers">Racers</a>, 30 <a href="../enemies/Elite Crossbow Men.html" title="Elite Crossbow Men">Elite Crossbow Men</a>, 6 <a href="../enemies/exploder.html" title="Exploders">Exploders</a></td>
                                        </tr>
                                        <tr>
                                            <td>11</td>
                                            <td>30 <a href="../enemies/Wasp.html" title="Wasps">Wasps</a>, 30 <a href="../enemies/Flying_Mage.html" title="Flying Mages">Flying Mages</a>, 14 <a href="../enemies/Fury.html" title="Furies">Furies</a></td>
                                        </tr>
                                        <tr>
                                            <td>12</td>
                                            <td>85 <a href="../enemies/Mole_Archer.html" title="Mole Archer">Mole Archers</a>, 70 <a href="../enemies/Mole_Knight.html" title="Mole Knight">Mole Knights</a>, 45 <a href="../enemies/swordsman.html" title="Swordsmen">Swordsmen</a>, 30 <a href="../enemies/Racer.html" title="Racers">Racers</a>, 30 <a href="../enemies/Pikes.html" title="Pikes">Pikes</a>, 16 <a href="../enemies/Quicksling.html" title="Quickslings">Quickslings</a>, 10 <a href="../enemies/exploder.html" title="Exploders">Exploders</a></td>
                                        </tr>
                                        <tr>
                                            <td>13</td>
                                            <td>4 <a href="../enemies/Strange Statue.html" title="Strange Statues">Strange Statues</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
                        
                        <div id="rightGridColumn" class="articleGridItem">
                            <section id="contentsBox" hx-get="../../parts/contents.html" hx-swap="outerHTML" hx-trigger="load"></section>
                            
                            <div class="pictureContainer" style="margin-bottom: 20px;">
                                <a href="../../../pictures/Maps/Sturmklamm/sturmklamm_empty.png" target="_blank">
                                    <img class="articlePicture" src="../../../pictures/Maps/Sturmklamm/sturmklamm_empty.png" alt="picture of an empty sturmklamm">
                                </a>
                                <span class="articlePictureDescription">Sturmklamm without any buildings.</span>
                            </div>
                            <div class="articleGridPicture">
                                <a href="../../../pictures/Maps/Sturmklamm/sturmklamm lv select.png" target="_blank">
                                    <img class="articlePicture" src="../../../pictures/Maps/Sturmklamm/sturmklamm lv select.png" alt="durststein in the mapselection" class="articlePicture" style="width: 55%;">
                                </a> <br>
                                <span class="articlePictureDescription">Sturmklamm in the map selection.</span>
                            </div>  
                        </div>
                    </div>
                    <br>
                    <h3 id="gallery">Gallery</span>
                    <hr>
                    <div class="articleGridItem">
                        <div class="galleryGrid">    
                            <div class="galleryGridItem">
                                <a href="../../../pictures/Maps/Sturmklamm/sturmklamm 1.png" target="_blank">
                                    <img class="galleryPicture" src="../../../pictures/Maps/Sturmklamm/sturmklamm 1.png" alt="Sturmklamm with a fully upgraded castle">
                                </a> <br>
                                <span class="galleryPictureDescription">Sturmklamm with a fully upgraded castle.</span>
                            </div>
                            <div class="galleryGridItem">
                                <a href="../../../pictures/Maps/Sturmklamm/sturmklamm_empty.png" target="_blank">
                                    <img class="galleryPicture" src="../../../pictures/Maps/Sturmklamm/sturmklamm_empty.png" alt="Sturmklamm without any buildings.">
                                </a> <br>
                                <span class="galleryPictureDescription">Sturmklamm without any buildings.</span>
                            </div>
                            <div class="galleryGridItem">
                                <a href="../../../pictures/Maps/Sturmklamm/sturmklamm lv select.png" target="_blank">
                                    <img class="galleryPicture" src="../../../pictures/Maps/Sturmklamm/sturmklamm lv select.png" style="width: 55%;" alt="">
                                </a> <br>
                                <span class="galleryPictureDescription">Sturmklamm in the map selection.</span>
                            </div>

                        </div>
                    </div> <!-- articleGridItem -->
                </div>
            </div>
            
            <div id="footerDiv" hx-get="../../../parts/footer.html" hx-swap="innerHTML" hx-trigger="load">
                <!-- Footer to be injected by htmx -->
            </div>
        </div>
    </body>
</html>
