<!DOCTYPE html>
<!--
	W H A T   A R E   Y O U   D O I N G   I N   M Y   C O D E ? ! 
	
			⢀⡴⠑⡄⠀⠀⠀⠀⠀⠀⠀⣀⣀⣤⣤⣤⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠸⡇⠀⠿⡀⠀⠀⠀⣀⡴⢿⣿⣿⣿⣿⣿⣿⣿⣷⣦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠑⢄⣠⠾⠁⣀⣄⡈⠙⣿⣿⣿⣿⣿⣿⣿⣿⣆⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⢀⡀⠁⠀⠀⠈⠙⠛⠂⠈⣿⣿⣿⣿⣿⠿⡿⢿⣆⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⢀⡾⣁⣀⠀⠴⠂⠙⣗⡀⠀⢻⣿⣿⠭⢤⣴⣦⣤⣹⠀⠀⠀⢀⢴⣶⣆ 
			⠀⠀⢀⣾⣿⣿⣿⣷⣮⣽⣾⣿⣥⣴⣿⣿⡿⢂⠔⢚⡿⢿⣿⣦⣴⣾⠁⠸⣼⡿ 
			⠀⢀⡞⠁⠙⠻⠿⠟⠉⠀⠛⢹⣿⣿⣿⣿⣿⣌⢤⣼⣿⣾⣿⡟⠉⠀⠀⠀⠀⠀ 
			⠀⣾⣷⣶⠇⠀⠀⣤⣄⣀⡀⠈⠻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠉⠈⠉⠀⠀⢦⡈⢻⣿⣿⣿⣶⣶⣶⣶⣤⣽⡹⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠉⠲⣽⡻⢿⣿⣿⣿⣿⣿⣿⣷⣜⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿⣷⣶⣮⣭⣽⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⣀⣀⣈⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠇⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠃⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠛⠻⠿⠿⠿⠿⠛⠉
			
		Created by GhostMiner, June-August 2023.
		> Ghost-Miner.Github.io,
		> YouTube.com/GhostMinerMC
-->
<html lang="en">
	<head>
		<title>Uferwind | Thronefall Wiki</title>
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<!-- Page meta infromation -->
		<meta name="description" content="An official wiki for Thronefall">
		<meta name="keywords" content="Thronefall, leaderBoard, grizzly games, speedrun, wiki, fandom">
		<meta name="language" content="en">
		<meta name='robots' content="index,follow">
		<meta name='author' content="GhostMiner & ItsMeRaven"> 
		<!-- Bootstrap and other CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

        <link rel="stylesheet" href="../../../styles/mainMenu.css"> <!-- Main menu styling -->
        <link rel="stylesheet" href="../../../styles/article.css">  <!-- Styling of wiki content - individual articles -->
        <link rel="stylesheet" href="../../../styles/global.css">   <!-- Website styling  -->
		<link rel="stylesheet" href="../../../styles/overrides.css">

        <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>

		<script src="../../../scripts/toggleMobiMenu.js"></script>

		<link rel="shortcut icon" type="image/jpg" href="../../../pictures/crown.png">
	</head>
    <body>
        <style>
            body 
            {
                background-image: url('../../../pictures/Maps/Nordfels/nordfels_empty_clean.png');
            }
            .galleryGrid
            {
                grid-template-columns: repeat(3,1fr);
                max-width: 75%;
            }
        </style>

        <div id="mainPageContainer">
			<div id="mobiNavDiv" hx-get="../../../parts/mobiNav.html" hx-swap="innerHTML" hx-trigger="load">
				<img src="../../../pictures/loading edit.gif" id="loadingMobiMenuGif">
				<!-- Veritcal navbar goes here -->
			</div>
            <div id="innerContainer">
                <div id="websiteSideBar" hx-get="../../../parts/sidebar.html" hx-swap="innerHTML" hx-trigger="load">   
                    <!-- Menu and header to be injected by htmx --> 
                </div>

                <div id="pageContentBox">
                    <div class="articleGrid">
                        <div class="articleGridItemWide">
                            <span class="pageTitle"> Uferwind </span>
                            <hr class="mainSeparator">
                        </div>
                            <div class="articleGridItem">
                                <span class="pageSubtitle"> Overview </span>
                                <hr>
                                <p><strong>Uferwind <em><!--(German for "North rock")--></em> is the fifth map of Thronefall.</strong></p>
                                <p>With its rugged shoreline to one side and vast open grasslands to the other it offers a challenge unlike any of the maps before. Right from the start you’ll have quite a bit of gold and many building options on your hand, allowing you to explore a variety of different approaches. </p>
                                
                                <!-- <span class="pageSubtitle"> Map composition </span> -->
                                <!-- <hr>
                                <p><b>Neuland</b> features a small plateau, a ramp leading to the enemy spawn point, surrounded by cliffs, a river and a forest to build your first kingdom on. 
                                This is the easiest level of the game, having extra regeneration as a part of tutorial mechanics and only having one
                                <a href="../enemies/index.html" title="Enemies">enemy</a> spawning point on the east of the map.</p> -->

                                <br>
                                <span class="pageSubtitle">Map details</span>
                                <hr>
                                <span class="pageSubtitleSmall">Quests</span>
                                <table class="table table-striped table-bordered mapDetailsTable">
                                    <thead class="table-dark">
                                        <tr>                                            
                                            <th>Name</th>
                                            <th>Description</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>A.</td>
                                            <td>Achieve a victory</td>
                                        </tr>
                                        <tr>
                                            <td>B.</td>
                                            <td>Achieve a victory with &#160;<a href="../mutators/no_walls_pact.html"><img src="../../../pictures/leveling icons/No_Walls_Pact_Icon.png" alt="Icon of the mutator." style="width: 6%; height: auto;"></a>&#160;<a href="../mutators/falcon_god.html"><img src="../../../pictures/leveling icons/Falcon_God_Icon.png" alt="Icon of the mutator." style="width: 5%; height: auto;"></a></td>
                                        </tr>
                                        <tr>
                                            <td>C.</td>
                                            <td>Achieve a victory with &#160;<a href="../mutators/no_towers_pact.html"><img src="../../../pictures/leveling icons/No_Towers_Pact_Icon.png" alt="Icon of the mutator." style="width: 6%; height: auto;"></a>&#160;<a href="../weapons/Sword.html"><img src="../../../pictures/leveling icons/Sword_Icon.png" alt="Icon of the sword." style="width: 5%; height: auto;"></a></td>
                                        </tr>
                                        <tr>
                                            <td>D.</td>
                                            <td>Achieve a victory with &#160;<a href="../mutators/no_units_pact.html"><img src="../../../pictures/leveling icons/No_Units_Pact_Icon.png" alt="Icon of the mutator." style="width: 6%; height: auto;"></a>&#160;<a href="../weapons/Lightning_Staff.html"><img src="../../../pictures/leveling icons/Lightning_Staff_Icon.png" alt="Icon of the staff." style="width: 6%; height: auto;"></a></td>
                                        </tr>
                                        <tr>
                                            <td>E.</td>
                                            <td>Achieve a victory with &#160;<a href="../mutators/phoenix_god.html"><img src="../../../pictures/leveling icons/Pheonix_God_Icon.png" alt="Icon of the mutator." style="width: 6%; height: auto;"></a>&#160;<a href="../mutators/wasp_god.html"><img src="../../../pictures/leveling icons/Wasp_God_Icon.png" alt="Icon of the mutator." style="width: 5%; height: auto;"></a></td>
                                        </tr>
                                        <tr>
                                            <td>F.</td>
                                            <td>Achieve a victory with &#160;<a href="../mutators/turtle_god.html"><img src="../../../pictures/leveling icons/Turtle_God_Icon.png" alt="Icon of the mutator." style="width: 5%; height: auto;"></a>&#160;<a href="../mutators/tiger_god.html"><img src="../../../pictures/leveling icons/Tiger_God_Icon.png" alt="Icon of the mutator." style="width: 5%; height: auto;"></a>&#160;<a href="../perks/power tower.html"><img src="../../../pictures/leveling icons/Power_Tower_Icon.png" alt="Icon of the mutator." style="width: 5%; height: auto;"></a></td>
                                        </tr>                                        
                                    </tbody>
                                </table>
                                
                                <span class="pageSubtitleSmall">Spawned enemies</span>
                                <table class="table table-striped table-bordered mapDetailsTable">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>Night</th>
                                            <th>Enemies</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>47 <a title="Peasant" href="../enemies/Peasant.html">Peasants</a></td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>10 <a title="Archer" href="../enemies/Archer.html">Archers</a>, 8 <a href="../enemies/Pikes.hmtl">Pikes</a></td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>7 <a href="../enemies/Fury.html">Furies</a></td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>25 <a title="Archer" href="../enemies/Archer.html">Archers</a>, 16 <a href="../enemies/Pikes.html">Pikes</a></td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>12 <a title="Monster Rider" href="../enemies/Monster%20Rider.html">Monster Riders</a>, 12 <a title="Wasp" href="../enemies/Wasp.html">Wasps</a>, 8 <a href="../enemies/Fury.html">Furies</a></td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>38 <a href="../enemies/Barrel_Knight.html">Barrel Knights</a></td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>25 <a href="../enemies/Flying_Mage.html">Flying Mages</a></td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td>25 <a title="Archer" href="../enemies/Archer.html">Archers</a>, 25 <a href="../enemies/Pikes.hmtl">Pikes</a>, 16 <a title="Wasp" href="../enemies/Wasp.html">Wasps</a>, 12 <a href="../enemies/Fury.html">Furies</a></td>
                                        </tr>
                                        <tr>
                                            <td>9</td>
                                            <td>45 <a href="../enemies/Barrel_Knight.html">Barrel Knights</a>, 35 <a href="../enemies/Flying_Mage.html">Flying Mages</a></td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>30 <a href="../enemies/Fury.html">Furies</a>, 25 <a title="Racer" href="../enemies/Racer.html">Racers</a>, 20 <a title="Wasp" href="../enemies/Wasp.html">Wasps</a></td>
                                        </tr>
                                        <tr>
                                            <td>11</td>
                                            <td>40 <a href="../enemies/Flying_Mage.html">Flying Mages</a>, 40 <a href="../enemies/Pikes.hmtl">Pikes</a>, 12 <a title="Ogre" href="../enemies/Ogre.html">Ogres</a>, 4 <a href="../enemies/Ram.hmtl">Rams</a></td>
                                        </tr>
                                        <tr>
                                            <td>12</td>
                                            <td>46 <a href="../enemies/Flying_Mage.html">Flying Mages</a>, 42 <a href="../enemies/Barrel_Knight.html">Barrel Knights</a>, 30 <a href="../enemies/Fury.html">Furies</a>, 7 <a href="../enemies/Ram.hmtl">Rams</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                                <hr>
                                <span class="pageSubtitleSmall">Available buildings</span>
                                <table class="table table-striped table-bordered mapDetailsTable" style="max-width: 100%;">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>Castle level</th>
                                            <th>Defense buildings</th>
                                            <th>Economy buildings</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="width: 33.3333%;">1</td>
                                            <td style="width: 33.3333%;">15x Tower, 2x Wall <em>(1x very</em> <em>long</em>,<em> 1x short)</em>, 2x Barracks, 2x Archery range, 1x Hero's quarter, 1x Blacksmith</td>
                                            <td style="width: 33.3333%;">13x House, 6x Field, 3x Mill, 3x Bridge, 1x Harbour</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 33.3333%;">2</td>
                                            <td style="width: 33.3333%;">11x Tower</td>
                                            <td style="width: 33.3333%;">13x Field, 2x Mill, 2x Harbour</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 33.3333%;">3</td>
                                            <td style="width: 33.3333%;"></td>
                                            <td style="width: 33.3333%;">5x Field</td>
                                        </tr>                                                                             
                                    </tbody>
                                </table>
                            </div> <!-- articleGridItem -->
                            <div id="rightGridColumn" class="articleGridItem">
                                <div class="pictureContainer"  style="margin-bottom: 20px;">
                                    <a href="../../../pictures/Maps/uferwind clean.png" target="_blank">
                                        <img src="../../../pictures/Maps/uferwind clean.png" alt="picture of Nordfels with castle" class="articlePicture">
                                    </a>
                                    <span class="articlePictureDescription">Uferwind without any buildings.</span>
                                </div>
                                <div class="pictureContainer">
                                    <a href="../../../pictures/Maps/uferwind lvl sleect.png" target="_blank">
                                        <img class="articlePicture" src="../../../pictures/Maps/uferwind lvl sleect.png" alt="Nordfels in the mapselection" style="width: 64%;">
                                    </a> <br>
                                    <span class="articlePictureDescription">Uferwind in the map selection.</span>
                                </div>
                            </div>
                        </div>
                    <br>
                    <span class="pageSubtitle">Gallery</span>
                    <hr>
                    <div class="articleGridItem">
                        <div class="galleryGrid" style="grid-template-columns: repeat(3, 1fr);">
                            <div class="galleryGridItem">
                                <a href="../../../pictures/Maps/uferwind clean.png" target="_blank">
                                    <img class="galleryPicture sizeOverrde" src="../../../pictures/Maps/uferwind clean.png">
                                </a> <br>
                                <span class="galleryPictureDescription">The middle area of Uferwind</span>
                            </div>
                            <div class="galleryGridItem">
                                <a href="../../../pictures/Maps/uferwind lvl sleect.png" target="_blank">
                                    <img class="galleryPicture sizeOverrde" src="../../../pictures/Maps/uferwind lvl sleect.png" style="width: 60%;">
                                </a> <br>
                                <span class="galleryPictureDescription">uferwind in the level selection.</span>
                            </div>
                            <div class="galleryGridItem">
                                <a href="../../../pictures/Maps/Uferwind_with_buildings.png" target="_blank">
                                    <img class="galleryPicture" src="../../../pictures/Maps/Uferwind_with_buildings.png" style="width: 60%;">
                                </a> <br>
                                <span class="galleryPictureDescription">Uferwind with buildings and untis.</span>
                            </div>
                            <!-- <div class="galleryGridItem">
                                <a href="../../../pictures/Maps/Neuland/neuland lv select.png" target="_blank">
                                    <img class="galleryPicture sizeOverrde" src="../../../pictures/Maps/Neuland/neuland lv select.png" style="width: 45%;">
                                </a> <br>
                                <span class="galleryPictureDescription">Neuland in the map selection.</span>
                            </div> -->
                        </div>
                    </div> <!-- articleGridItem -->
                </div> <!-- pageContentBox -->
            </div> <!-- innerContainer -->
            <div id="footerDiv" hx-get="../../../parts/footer.html" hx-swap="innerHTML" hx-trigger="load">
                <!-- Footer to be injected by htmx -->
            </div>
        </div>
    </body>
</html>
