<html lang="en">
	<head>
		<title>Ballista | Thronefall Wiki</title>
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<!-- Bootstrap and other CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

        <link rel="stylesheet" href="../../../styles/mainMenu.css"> <!-- Main menu styling -->
        <link rel="stylesheet" href="../../../styles/article.css">  <!-- Styling of wiki content - individual articles -->
        <link rel="stylesheet" href="../../../styles/global.css">   <!-- Website styling  -->
		<link rel="stylesheet" href="../../../styles/overrides.css">

        <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>

		<script src="../../../scripts/toggleMobiMenu.js"></script>
        
		<link rel="shortcut icon" type="image/jpg" href="../../../pictures/crown.png">
	</head>
    <body>
        <div id="mainPageContainer">
            <div id="mobiNavDiv" hx-get="../../../parts/mobiNav.html" hx-swap="innerHTML" hx-trigger="load">
                <img src="../../../pictures/loading edit.gif" id="loadingMobiMenuGif">
                <!-- Veritcal navbar goes here -->
            </div>
            <div id="innerContainer">
                <div id="websiteSideBar" hx-get="../../../parts/sidebar.html" hx-swap="innerHTML" hx-trigger="load">
                    <!-- Menu and header to be injected by htmx --> 
                </div>
                <div id="pageContentBox">
                    <div class="articleGrid">
                        <div class="articleGridItemWide">
                            <span class="pageTitle"> Ballista </span>
                            <hr class="mainSeparator">
                        </div>
                        <div class="articleGridItem">
                            <span class="pageSubtitle"> General </span>
                            <hr>
                            <p>Ballista is an upgrade path of the Tower. It can be chosen upon upgrading a tower to level 3 and gives the tower a ballista, that deals massive damage at a slow rate of fire. The ballista targets siege type enemies and other high health targets.<br></p>
                            <span class="pageSubtitle"> Description </span>
                            <hr>
                            <p>This tower has an increased range. It shoots very powerful projectiles at low rate of fire. Focusses siege engines and other large Enemies.</p>
                            <span class="pageSubtitle"> Details </span>
                            <hr>
                            <section id="Ram-Table">
                                <div class="table-responsive" id="Ram-TableDiv">
                                    <table class="table table-striped table-bordered">
                                        <thead class="table-dark" id="Ram-TableHead">
                                            <tr id="Ram-TableHeadRow">
                                                <th class="align-middle">
                                                    Category
                                                </th>
                                                <th class="align-middle">
                                                    Info
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="align-middle">Name</td>
                                                <td class="align-middle">Ballista</td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">Building</td>
                                                <td class="align-middle">Tower (Level 3)</td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">Health Points</td>
                                                <td class="align-middle">300</td>
                                            </tr>                                               
                                            <tr>
                                                <td class="align-middle">Attacks per second</td>
                                                <td class="align-middle">0.167</td>
                                            </tr>    
                                            <tr>
                                                <td class="align-middle">Attack Range</td>
                                                <td class="align-middle">55 (Ranged)</td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">Projectile Speed</td>
                                                <td class="align-middle">40</td>
                                            </tr>      
                                            <tr>
                                                <td class="align-middle">Base Damage</td>
                                                <td class="align-middle">80</td>
                                            </tr>      
                                            <tr>
                                                <td class="align-middle">Preferred Target</td>
                                                <td class="align-middle">Siege, High Health type enemies</td>
                                            </tr>       
                                    </table>
                                </div>
                            </section>
                        </div>
                        <div id="rightGridColumn" class="articleGridItem">
                            <div class="articleGridPicture">
                                <a href="#" target="_blank">
                                <img src="../../../pictures/leveling icons/Ballista_Icon.png" alt="picture of a path icon" class="articlePicture">
                                <strong>The Ballista Icon.</strong>
                                </a>
                            </div>
                        </div>
                    </div> <!--articleGrid-->
                </div> <!--pageContentBox-->
            </div> <!--innerContainer-->
                <div id="footerDiv" hx-get="../../../parts/footer.html" hx-swap="innerHTML" hx-trigger="load">
                    <!-- Footer to be injected by htmx -->
                </div>
        </div> <!--mainPageContainer-->        
    </body>
</html>