<html lang="en">
	<head>
		<title>Crossbowmen | Thronefall Wiki</title>
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<!-- Bootstrap and other CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

        <link rel="stylesheet" href="../../../styles/mainMenu.css"> <!-- Main menu styling -->
        <link rel="stylesheet" href="../../../styles/article.css">  <!-- Styling of wiki content - individual articles -->
        <link rel="stylesheet" href="../../../styles/global.css">   <!-- Website styling  -->
		<link rel="stylesheet" href="../../../styles/overrides.css">

        <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>

		<script src="../../../scripts/toggleMobiMenu.js"></script>
        
		<link rel="shortcut icon" type="image/jpg" href="../../../pictures/crown.png">
	</head>
    <body>


        <div id="mainPageContainer">
			<div id="mobiNavDiv" hx-get=".../parts/mobiNav.html" hx-swap="innerHTML" hx-trigger="load">
				<img src="../../../pictures/loading edit.gif" id="loadingMobiMenuGif">
				<!-- Veritcal navbar goes here -->
			</div>
            <div id="innerContainer">
                <div id="websiteSideBar" hx-get="../../../parts/sidebar.html" hx-swap="innerHTML" hx-trigger="load">   
                    <!-- Menu and header to be injected by htmx --> 
                </div>
                <div id="pageContentBox">
                    <div class="articleGrid">
                    <div class="articleGridItemWide">
                        <span class="pageTitle"> Crossbowmen </span>
                        <hr class="mainSeparator">
                    </div>
                        <div class="articleGridItem">
                                <span class="pageSubtitle"> General </span>
                                <hr>
                                <p>Crossbowmen are a heavy ranged enemy in Thronefall. They are encountered in the colder regions of the kingdom of Thronefall.<br></p>
                                <span class="pageSubtitle"> Characteristics </span>
                                <hr>
                                    <section id="Crossbowmen-Table">
                                        <div class="table-responsive" id="Crossbowmen-TableDiv">
                                            <table class="table table-striped table-bordered">
                                                <thead class="table-dark" id="Crossbowmen-TableHead">
                                                    <tr id="Crossbowmen-TableHeadRow">
                                                        <th class="align-middle">
                                                            Category
                                                        </th>
                                                        <th class="align-middle">
                                                            Info
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="align-middle">Name</td>
                                                        <td class="align-middle">Crossbowman</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="align-middle">Icon</td>
                                                        <td class="align-middle">
                                                            <img src="../../../pictures/enemies/Crossbowmen_E_Icon.png" alt="picture of the reward" class="enemyIcon">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="align-middle">Unit Type</td>
                                                        <td class="align-middle">Ranged, Tower Vulnerable</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="align-middle">Preferred Target</td>
                                                        <td class="align-middle">Units</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="align-middle">Targets Player</td>
                                                        <td class="align-middle">When hit</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </section>
                                    <span class="pageSubtitle"> Details</span>
                            <hr>
                            <span class="pageSubtitle"> Attack Statistics</span>
                        <section id="Bow-Table">
                            <div class="table-responsive" id="Archer-TableDiv">
                                <table class="table table-striped table-bordered">
                                    <thead class="table-dark" id="Archer-TableHead">
                                        <tr id="Archer-TableHeadRow">
                                            <th class="align-middle">
                                                Statistic
                                            </th>
                                            <th class="align-middle">
                                                Value
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>                                                
                                        <tr>
                                            <td class="align-middle">Attacks per second</td>
                                            <td class="align-middle">0.5</td>
                                        </tr>    
                                        <tr>
                                            <td class="align-middle">Attack Range</td>
                                            <td class="align-middle">15 (Ranged)</td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle">Projectile Speed</td>
                                            <td class="align-middle">30</td>
                                        </tr>      
                                        <tr>
                                            <td class="align-middle">Base Damage</td>
                                            <td class="align-middle">15</td>
                                        </tr>      
                                        <tr>
                                            <td class="align-middle">Damage vs. Hero</td>
                                            <td class="align-middle">x0.75</td>
                                        </tr>        
                                        <tr>
                                            <td class="align-middle">Damage vs. Wall</td>
                                            <td class="align-middle">x0.15</td>
                                        </tr>        
                                        <tr>
                                            <td class="align-middle">Damage vs. Ranged Resistant</td>
                                            <td class="align-middle">x0.4</td>
                                        </tr>        
                                        <tr>
                                            <td class="align-middle">Damage vs. Ranged Vulnerable</td>
                                            <td class="align-middle">x1.5</td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle">Chase King Time</td>
                                            <td class="align-middle">5s</td>
                                        </tr>                                                                                                 
                                    </tbody>
                                </table>
                            </div>
                        </section>
                        <p>The damage dealt is calculated with this formular: <span class="codeBlock"> Base Damage x Type Value 1 x Type Value 2 x ... x Type Value n</span>, where n is the amount of types that the enemy has (all types that are not provided in the table above have a Value of 1).</p>
                        <br><span class="pageSubtitle"> Defense Statistics </span>
                        <section id="Bow-Table">
                            <div class="table-responsive" id="Archer-TableDiv">
                                <table class="table table-striped table-bordered">
                                    <thead class="table-dark" id="Archer-TableHead">
                                        <tr id="Archer-TableHeadRow">
                                            <th class="align-middle">
                                                Statistic
                                            </th>
                                            <th class="align-middle">
                                                Value
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>                                                
                                        <tr>
                                            <td class="align-middle">Health Points</td>
                                            <td class="align-middle">40</td>
                                        </tr>                                                
                                        <tr>
                                            <td class="align-middle">Movement Speed</td>
                                            <td class="align-middle">4</td>
                                        </tr>                                                                                                                                      
                                    </tbody>
                                </table>
                            </div>
                        </section>
                                    <span class="pageSubtitle"> Encounters </span>
                                    <hr>
                                    <p>You can encounter Crossbowmen in <a href="./frostsee.html">Frostsee</a>.</p>
                                </div>
                            
<div id="rightGridColumn" class="articleGridItem">
                            <div class="articleGridPicture">
                                    <a href="../../../pictures/enemies/Crossbowmen.png" target="_blank">
                                        <img src="../../../pictures/enemies/Crossbowmen.png" alt="picture of an enemy" class="articlePicture">
                                    <strong>A Crossbowman in-game.</strong>
                                        </a>
                                </div>  
                            </div></div>
                </div>
            </div>
                            <div id="footerDiv" hx-get="./parts/footer.html" hx-swap="innerHTML" hx-trigger="load">
                                    <!-- Footer to be injected by htmx -->
                            </div>
                        </div>
                    </body>
                </html>
