.columnRow
{
    display: flex;
    width: auto;
}
#leftColumn
{
    float: left;
    width: 70%;
    margin-right: 10px;
}
#rightColumn
{
    float: left;
    width: 30%;
}
#pictureContainer
{
    padding: 10px;
    background-color: lightgray;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.4);
    text-align: center;
}