.columnRow
{
    display: flex;
    width: auto;
}
#leftColumn
{
    float: left;
    width: 70%;
    margin-right: 10px;
}
#rightColumn
{
    float: left;
    width: 30%;
}
.pictureContainer
{
    padding: 10px;
    background-color: lightgray;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.4);
    text-align: center;
}
#galleryGridSection
{
    width: 100%;
    height: auto;
}
.galleryRow
{
    justify-content: center;
    display: flex;
    width: auto;
    margin-left: 25px;
    margin-right: 25px;
}
.galleryColumn
{
    float: left;
    width: 25%;
    text-align: center;
    background-color: lightgray;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
}
.galleryPicture
{
    max-width: 80%;
}
.galleryPictureDescription
{
    font-size: 1.1em;
    font-weight:600;
}