.columnRow
{
    display: flex;
    width: auto;
}
#leftColumn
{
    float: left;
    width: 70%;
    margin-right: 10px;
}
#rightColumn
{
    float: left;
    width: 30%;
}
.pictureContainer
{
    padding: 10px;
    background-color: lightgray;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.4);
    text-align: center;
}
#galleryGridSection
{
    width: 100%;
    height: auto;
}
.galleryRow
{
    justify-content: center;
    display: flex;
    width: auto;
    margin-left: 25px;
    margin-right: 25px;
}
.galleryColumn
{
    float: left;
    width: 25%;
    text-align: center;
    background-color: lightgray;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
}
.galleryPicture
{
    max-width: 80%;
    height: auto;
}
.galleryPictureDescription
{
    font-size: 1.1em;
    font-weight:600;
}

.gridLayout
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
    max-width: 1000px;                
    margin: 0px auto;
    justify-content:center;
    
    text-align: center;
    font-weight: bold;
    font-size: x-large;
                
    background-color: lightgrey;
    border: 0px red solid;
    
    border-radius: 5px;
    padding: 15px;
}
.gridItem
{
    border: 0px blue solid;
}

.galleryGrid
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    
    max-width: 90%;                
    margin: 0px auto;
    justify-content:center;
    
    text-align: center;
    font-weight: bold;
    font-size: large;
                
    background-color: lightgrey;
    border: 0px red solid;
    
    border-radius: 5px;
    padding: 15px;
}
.galleryGridItem
{
    border: 0px blue solid;
}