#gridWrapper
{
    display: grid;
    grid-template-columns: 1.1fr 1.2fr 1fr;

    grid-row-gap: 15px;
    grid-column-gap: 12px;

    border: 0px red solid;
}
.gridBoxes
{
    padding: 10px;
    border-radius: 5px;
    background-color: lightgray;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
}
#trailerVideo
{
    width: 100%;
    border-radius: 5px;
}
#trailerBox /* Trailer */
{
    text-align: center;
    border: 0px blue solid;
}
#gameLinksBox /* Game linkls */
{
    text-align: center;
    border: 0px darkorange solid;
}
#updatesBox /* Updates? */
{
    text-align: center;
    border: 0px green solid;
}

/* Discord server */
#discordInviteMainBox
{
    border-radius: 5px;
    background-color: #2c2d30;
    
    padding: 10px;

    height: auto;

    align-items: center;
    text-align: left;

    display: grid;
    grid-template-columns: 0.75fr 4fr 1fr;
    grid-row-gap: 10px;

    border: 0px white solid;
      box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
}
#discordBoxTitle
{
    grid-column-start: 1;
    grid-column-end: 5;
}
#discordBoxTitle
{
    color: white;
    text-align: left;
    font-weight: bold;
    font-size: 1em;
    align-items: center;
}
#serverLogo
{
    border: 0px white dotted;
}
#serverName
{
    border: 0px white dotted;
}
#joinButtonDiv
{
    border: 0px white dotted;
}

#serverIconImg
{
    width: 100%;
    height: auto;
    border-radius: 15px;
}
#serverNameText
{
    margin-left: 10px;
    color: white;
    font-weight: bold;
    font-size: 1.25em;
}

/* Steam page */ 
#steamPageMain
{
    display: grid;
    grid-template-columns: 0.75fr 2fr;
    grid-column-gap: 10px;
    align-items: center;
    
    padding: 10px;
    padding-bottom: 15px;
    margin-top: 25px;

    background: linear-gradient(to right, #2a485f,#365f7c);
    color: white;
    border: 0px black solid;
    border-radius: 2px;
    
    width: 100%;
    box-shadow: 0px 0px 8px rgba(0,0,0,1);
}
#steamGameTitle
{
    grid-column-start: 1;
    grid-column-end: 3;

    font-weight: normal;
    font-size: 1.25em;

    text-align: left;
    margin-bottom: 10px;
}
#steamGameLogo
{
    border: 0px green solid;
}
#steamGameDescription
{
    margin-top: -5px;
    border: 0px blue solid;
    text-align: left;
}
#steamGamePicture
{
    width: 100%;
    height: auto;
}

#buyGameDiv
{
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
    align-items: center;
    text-align: right;
    
    border: 0px red solid;

    margin-top: -20px;
    padding-right: 15px;
    padding-bottom: 5px;
}
#buyGameButton
{
    background: linear-gradient(to right, #8ed629,#6aa621);
    border-radius: 1px;
    outline: 1px black solid;

    font-weight: 600;
    color: white;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.5);
}