#websiteSideBar
{        
    /*background-color: var(--foregroundColour);*/
    border: 0px red solid;
    width: 15%;
    float: left;
    padding: 10px;
    margin-right: 0px;
    border-radius: 5px;
}

.primaryList
{
    font-weight: bold;
    list-style: none;
    font-size: 1.05em;
}
.secondaryList
{
    font-weight: normal;
    list-style: none;
    font-size: 0.95em;
    margin-left: -20px;
}
.menuItemLink:link
{
    color: black;
}
.menuItemLink:visited
{
    color: black;
}
.menuItemLink:hover
{
    color: var(--orange1);
    text-decoration:underline;
}
.menuItemGroup
{
    margin-top: 7.54px;
}

#mainWebsiteTitle
{
    font-size: xx-large;
    font-weight: bold;
}
.menuNoLink:hover
{
    color: black;
    cursor: default;
    text-decoration: none;
}

#mobiNavMenu
{
    display: none;
}
#mobiMainWebsiteTitle
{
    font-size: x-large;
    font-weight: bold;
}
#mobiNavDiv
{
    display: none;
    text-align: center;
    margin-bottom: 10px;
    
}
#mobiNavButton
{
    margin-top: 5px;
    padding: 10px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.32);
}
#mobiNavTitle
{
    font-weight: bold;
    font-size: large;
}

#loadingMobiMenuGif
{
    width: 32%; 
    height: auto; 
    text-align: center; 
    margin: 15px;
}